    .columns .ui-table {
        border-collapse: collapse;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #e2e2e2;
    width: 100%;
     border: 1px solid #ccc; 
}

    .columns .ui-table thead tr {
       background:#fbfbfb;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#B8B8B8',GradientType=0 );
        color: #333;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
    }

    .columns .ui-table thead tr th {
            padding: 5px 5px 5px 8px;
            border-right: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            cursor: pointer;
            white-space: nowrap;
        }

    .columns .ui-table thead tr th:first-child {
                border-left: 1px solid #e2e2e2;
            }

    .columns .ui-table thead tr th:last-child {
                border-right: 1px solid #e2e2e2;
            }

    .columns .ui-table thead tr th .ui-arrow {
                display: block;
                float: right;
                font-size: 10px;
                width: 10px;
            }

    .columns .ui-table thead tr th.ui-table-sort-up, .columns .ui-table thead tr th.ui-table-sort-down {
                /*background: -webkit-linear-gradient(top, #d0d9e4 10%, #94a3c0 100%);*/
                /*background: linear-gradient(to bottom, #d0d9e4 10%, #94a3c0 100%);*/
                /*background: linear-gradient(to bottom, #27a5f5 10%, #27a5f5 50%);*/
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0D9E4', endColorstr='#94A3C0',GradientType=0 );
            }

    .columns .ui-table tbody {
        font-size: 13px;
    }

    .columns .ui-table tbody tr td {
            border-right: 1px solid #e4e4e4;
            padding: 4px;
            text-align: center;
            white-space: nowrap;
            border-bottom: 1px solid #e4e4e4;
            border-left: 1px solid #e4e4e4;
        }

    .columns .ui-table tbody tr.ui-table-rows-even {
            background: #fff;
        }

    .columns .ui-table tbody tr.ui-table-rows-odd {
            background: #fbfbfb;
        }

    .columns .ui-table-footer {
    /*background-image:-webkit-linear-gradient(top, #cbcbcb 10%, #aaa 100%);*/
    /*background-image:linear-gradient(to bottom, #cbcbcb 10%, #aaa 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBCBCB', endColorstr='#AAAAAA',GradientType=0 );
    border-top: 1px solid #fff;
    width: 100%;
    /* padding: 8px 0; */
    font-size: 12px;
    text-align: left;
    color: navy;
}
    
    .columns .ui-table tbody tr td:nth-child(1) img {
    height:16px;
}

    .columns .ui-table-footer span {
        vertical-align: middle;
    }

    .columns .ui-table-footer .ui-table-size, .columns .ui-table-footer .ui-table-results, .columns .ui-table-footer .ui-table-controls {
        display: inline-block;
        width: 32%;
    }

    .columns .ui-table-footer .ui-table-size {
        padding-left: 20px;
    }

    .columns .ui-table-footer .ui-table-results {
        text-align: center;
    }

    .columns .ui-table-footer .ui-table-controls {
        text-align: right;
    }

    .columns .ui-table-footer .ui-table-control-next, .columns .ui-table-footer .ui-table-control-prev, .columns .ui-table-footer .ui-table-control-disabled {
        display: inline-block;
        /*background-image: -webkit-linear-gradient(top, #fdfdfd 10%, #c0bfbe 100%);*/
        /*background-image: linear-gradient(to bottom, #fdfdfd 10%, #c0bfbe 100%);*/
        background-color: transparent;
        /*border: 1px solid #333;*/
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        list-style: none;
        margin: 0;
        padding: 1px;
        vertical-align: middle;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        text-align: center;
    }

    .columns .ui-table-footer .ui-table-control-disabled img {
            opacity: 0.5;
        }

    .columns .ui-columns-search {
    font-size: 14px;
    /*background: -webkit-linear-gradient(top, #d1d1d1 10%, #a7a7a8 100%);
    background: linear-gradient(to bottom, #d1d1d1 10%, #a7a7a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1D1D1', endColorstr='#A7A7A8',GradientType=0 );*/
    padding: 10px;
    /*border-bottom: 1px solid #878787;*/
    text-align: right;
}

    .columns .ui-columns-search input {
        width: 200px;
        border-radius: 10px;
        padding: 4px 10px 4px 25px;
        border: 2px solid transparent;
        background-image: url(../images/search.png);
        background-position: 5px center;
        background-repeat: no-repeat;
    }

        .columns .ui-columns-search input:focus {
            border: 2px solid #6196CD;
            outline: none;
        }

.Selecttype {
    border: 1px solid #ccc !important;
    height: 20px !important;
    border-radius: 10px !important;
    width: 30% !important;
    color: #000;
    padding-left: 5%;
    background: #efefef;
    cursor: pointer;
}

@media (max-width:767px) {
    .columns .ui-table tbody tr td {
        font-size: 12px;
        float:left;
        width:100%;
    }
}

#TvlClndrTotalSelectedCountDetails .ui-table-footer {
    width: 98.3% !important;
    bottom: 0;
    background: #fff;
    padding-top: 4px;
    padding-bottom:4px;
    position: absolute;
    box-shadow: 0px 2px 1px 0px #ccc;
    border-top:1px solid #e2e2e2;
}

.dvposabsclsswid100 {
        position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    right: 0;
    z-index: 3;
    }
 #TvlClndrTotalSelectedCountDetails .ui-table-search {
    position: relative;
    left: -30px;
    }
    .trvlcldpopupbtnclose {
        position: absolute;
    right: 35px;
    top: 17px;
    }

@media screen and (max-width: 767px) {
    .columns .ui-table-footer .ui-table-size {
        width: 40%;
        padding-left:0px;
    }

    .columns .ui-table-footer .ui-table-results {
        width: 38%;
    }

    .columns .ui-table-footer .ui-table-controls {
        width: 19%;
    }

    .ui-table-footer .Selecttype{
        padding-left:0px;
    }
}