
.TRVLCAL, .totbook, .Flttravl, #weather {
    background: url('../../../Images/RBOA/SameeraSprite.png') no-repeat;
}

.spritesalserep {
    background: url('../../../Images/RBOA/SameeraSprite_flbook.png?V1.0') no-repeat -15px -566px;
	width: 31px;
	height: 31px;
    position: absolute;
    left: 10px;
    top: 13px;
}

.EMPdtl, .PAdtl, .GSTDtl, .FDtl, .money-bg, .slidesjs-navigation.slidesjs-next, .slidesjs-navigation.slidesjs-previous, .fileHist, .PNRViewEye,
.remCal, .rehis, .setFtl, .dvnewemployeecreate, .dvnewviewempdt, .money-ba,.corpdts,.flgtcald,.dashCalL,.dashCalR,.yestrdayicon,.todayicon,.tomorowicn,.caclsprte,.reusprte,.ttsael,.bookfald,.opncll,.belaltcll,.phncllrot,.cryfodcll,.tcll,
.segntct,.segntct1,.segntct2,.segntct3,.srhscn, #dvtravelcal a, #aBookedcount, #aTravelledcount {
    background: url('../../../Images/RBOA/SameeraSprite_flbook.png') no-repeat;
}

.smssec .popup-text img {
    display: none !important;
}

.money-bg {
    background-position: -935px -247px;
    width: 41px;
    height: 42px;
    position: absolute;
}

.money-ba {
    background-position: -34px -439px;
    width: 39px;
    height: 40px;
    position: absolute;
    top: 1px;
    left: 15px;
}

.marginrgtretreviewclass > .wsmenu {
    padding: 0px 6px 0px 0px !important;
}

.fileHist {
    background-position: -937px -330px;
    width: 19px;
    height: 24px;
    position: absolute;
    left: 115px;
    top: 8px;
}

.PNRViewEye {
    background-position: -938px -414px;
    width: 23px;
    height: 24px;
    position: absolute;
    left: 424px;
    top: 6px;
}

.remCal {
    background-position: -937px -373px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 522px;
    top: 5px;
}

.rehis {
    background-position: -516px -595px;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 5px;
    right: 231px;
}

#tbnavbkdhistory > h5 > .hidden-xs {
    position: relative;
    left: 4px;
    top: 0px;
    color:#fff;
}

#tbnavviewpnr > h5 > .hidden-xs {
    position: relative;
    left: 1px;
    top: 0px;
    color:#fff;
}

#tbnavcancel > h5 > .hidden-xs {
    position: relative;
    left: 6px;
    top: 0px;
    color:#fff;
}

#tbnavreschedul > h5 > .hidden-xs {
    position: relative;
    left: 1px;
    top: 0px;
    color:#fff;
}

.money-bg.text-muted {
    padding-left: 37px;
}

.money-bg.mt-2 {
    padding-left: 37px;
}

.TRVLCAL {
    background-position: -17px -41px;
    width: 31px;
    height: 26px;
    position: absolute;
    margin: 14px -37px;
}

.homedashboard {
    width: 77px !important;
}

.totbook {
    background-position: -17px -160px;
    width: 22px;
    height: 22px;
    position: absolute;
    margin-left: 4px;
}

.Flttravl {
    background-position: -16px -109px;
    width: 22px;
    height: 21px;
    position: absolute;
    margin-left: 4px;
}

.flgtcald {
    background-position: -516px -595px;
    width: 19px;
    height: 19px;
}

.input-style .flgtcald {
    vertical-align: middle;
    position: absolute;
    left: 3px;
    top: 8px;
    z-index: 1;
}

.addclssnewsub > .row > .form-field > .input-style > img {
    display: block;
}

body[data-color="theme-3"] .sidebar-category.color-2 li.active > a {
    background: #fff !important;
}

.sidebar-category.color-2 a:hover, .sidebar-category.color-2 li.active > a {
    background: #fff !important;
}

.Flttravlcon, .totbookcon {
    margin-left: 54px;
}

.setFtl {
    background-position: -16px -476px;
    width: 32px;
    height: 27px;
    position: absolute;
    left: 10px;
    left: 7px;
    top: 10px;
}

.tabheaderflg > .col-sm-3 > .h5tg {
    margin-left: 42px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 15px !important;
    text-transform: capitalize;
}

.h5tg {
    margin-left: 36px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 15px !important;
}

.EMPdtl {
    background-position: -207px -260px;
    width: 19px;
    height: 25px;
    position: absolute;
    top: -2px;
    left: 3px;
}

.PAdtl {
    background-position: -934px -129px;
    width: 34px;
    height: 19px;
    position: absolute;
    top: 3px;
}

.GSTDtl {
    background-position: -407px -478px;
    width: 27px;
    height: 26px;
    position: absolute;
    top: 0px;
    left: 5px;
}

.FDtl {
    background-position: -15px -219px;
    width: 28px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 11px;
}

.EMPdtl + #headerEmp {
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 4px;
    font-size: 14px !important;
}

.dvnewemployeecreate {
    background-position: -16px -369px;
    width: 27px;
    height: 29px;
    position: absolute;
    top: 12px;
    left: 304px;
}

.dvnewviewempdt {
    background-position: -938px -414px;
    width: 23px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 45%;
}

.myicon {
    margin-top: 3px !important;
    margin-top: 0 !important;
    font-size: 12px;
    margin-right: 0px;
}

i.myicon.fa.fa-angle-down {
    margin-top: 14px !important;
}

i.pricemix1_1, .i.arrivmix1_1, i.arrivmix1_1, i.departmix1_1 {
    margin: -3px 5px !important;
    font-size: 16px !important;
}

.totbook, .Flttravl, .TRVLCAL, .setFtl, .EMPdtl,
.PAdtl, .GSTDtl, .FDtl, .money-bg,
.fileHist, .PNRViewEye, .remCal, .rehis, .dvnewemployeecreate, .dvnewviewempdt, .money-ba, .smsicon, .MailIcon, .excelIcon, .PrinterIcon, .saveicon /*.flgtcald,*/ {
    display: block !important;
}

#aBookedcount > .fa-check-circle-o {
    display: none;
}

#aBookedcount > .fa-paper-plane-o {
    display: none;
}

#dvtravelcal > a > .TRVLCAL {
    display: none;
}

#aTravelledcount > .fa-paper-plane-o {
    display: none;
}

.bg-tdk {
    background: none !important;
}

#h3welcomenote {
    color: #333 !important;
    text-align: center;
    font-weight: 500 !important;
    margin: 0 !important;
    padding: 10px;
    position: absolute;
    top: 25px;
    font-size: 16px;
    display: none;
}

#dvCalSearch {
    border: 1px solid #ddd !important;
    background: #fff;
}

/*.full-height .container div:nth-child(2) hr {
    display: none;
}*/

.clsMainLogo {
    margin-left: 65px;
}

.full-height .container .row:nth-child(3) .col-md-4 > .rowin {
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.full-height .container .row:nth-child(3) .col-md-4 > .rowinn {
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.full-height .container .row:nth-child(3).groupAvailroot {
    margin-bottom: 0% !important;
}

.full-height .container .row:nth-child(3) hr {
    display: none;
}

#dvMainFilteration {
    /*box-shadow: 0px 1px 3px 2px #e4e4e4 !important;
    border: 1px solid #e2e2f2;*/
}

#AvailColumn .list-header {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    border: 1px solid #e2e2f2;
}

#dvMulTripType .c-button.b-50 .fa {
    font-size: 15px !important;
    top: 0px !important;
    left: -5px !important;
}

.smllogo {
    box-sizing: border-box !important;
    margin-top: 0% !important;
}

.widthchange > .smllogo {
    margin-top: -15px !important;
}

#SearchPG .search-controls-My_request, #SearchPGutilhtl .search-controls-My_request {
    width: 100% !important;
}

.headerfull {
    background: #fff !important;
    height: 0px !important; 
}

.type-4 {
    padding-left: 1px !important;
}

.Nameholder {
    font-size: 11px !important;
}

header.color-10 nav > ul > li > a { 
    color: #082e5f !important;
    font-weight: 600 !important;
    font-size: 12px !important;
}

.pm_buttoncolors > .widthchange {
    background: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 03px 3px -2px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.12);
}

.hovered > .clsTriphidemenu > .row > .col-md-12 > .nav {
    margin-right: -33px !important;
    margin-left: -17px !important;
}


.marginrgtretreviewclass .wsmenu > .wsmenu-list > li:hover > a .fa {
    color: #fff !important;
}

.TDK div#dvFiltertabBody {
    margin-top: 10px;
}

.filterfixed {
    top: 75px !important;
    width: 21.5% !important;
}

body[data-color="theme-3"] .sidebar-category.color-2 li.active > a {
    color: #333 !important;
}

body[data-color="theme-3"] .sidebar-category.color-2 a:hover {
    background: #ff8500 !important;
}

#weather {
    background-position: -17px -201px !important;
    width: 27px !important;
    height: 29px !important;
    position: absolute !important;
    left: 28px !important;
    top: 15px;
}

    #weather + .sidebar-title {
        padding-left: 60px !important;
        margin-bottom: 2px !important;
        border-bottom: 1px solid #eee !important;
        color: #333 !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

.marbtm12 > .BaindAvailSingle > .containerpop {
    border: 1px solid #E8EAEE;
}

header.type-4 .top-header-bar {
    padding: 5px 0px 5px;
    display: block !important;
}

.top-header-block a {
    padding: 3px 37px 0px 10px;
    border-radius:4px;
}

.simple-tab .tab-info {
    padding: 0 !important;
}

.type-4 {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12); 
}

.ip-logo img .sidebar-title {
    display: none;
}

#dvFiltertabBody .sidebar-title {
    position: static !important;
}

@media (min-width: 991px) {
    .smllogo {
        margin-top: -3%;
        float: left;
        padding: 3px 0px 6px 0px !important;
        background: #fff;
    }
}

.mk-trc label { 
    height: inherit;
    display: block;
    cursor: pointer;
    color: #a19c9c;
    padding: 0px 0px !important;
    font-size:14px;
}

.mk-trc input:checked + label {
    color: #333 !important;
    padding-top: 0;
    padding-bottom: 0px;
}

.clsrbSegType .mk-trc {
    padding: 5px 11px 6px 14px !important;
    border-top: 3px solid #fff;
    margin-top: 1px;
}

.clsactive {
    background: #f4f4f8 !important;
    padding-top: 0;
    padding-bottom: 0px;
    border-top: 3px solid #1e4da3!important;
}

.backtrans > .main-title > h3 {
    font-weight: 500 !important;
    padding: 0px 0px 9px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 19px;
    letter-spacing: 0px !important;
}

.main-title > h3 {
    text-transform: capitalize !important;
}

.TDK .chosen-container-single .chosen-single div, .CBT .chosen-container-single .chosen-single div {
    top: 4px !important;
    width: 32px !important;
}

.availresfrmFlt div#dvmodifysrch {
    border: none !important;
}

.Queue-ticketing-header-udk {
    text-transform: capitalize !important;
}

.TDK .backtrans > .main-title, .CBT .backtrans > .main-title {
    color: #191310;
    text-align: left !important;
    background: none !important;
}

/*.wsmenu-submenu {
    top: 38px !important;
}*/

.ip-header h1 {
    display: none;
}

.ip-loader {
    bottom: 50% !important;
}

.wsmenu-submenu li { 
    font-weight: 500 !important;
}

.t-con-style-1 > .search-controls-single-city {
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    box-shadow: 0 3px 8px rgba(0,0,50,.15);
}

.container > #SearchPG {
    margin-top: 28px;
}

.CBT .container > #SearchPG {
    margin-left: 10px;
}
    


.EmployeeCreation.b-tabs .simple-tab {
    box-shadow: none !important;
}

.monthly-day-blank {
    background: #fff !important;
}

@media (min-width: 600px) {
    .monthly_span {
        background-color: #fff;
        color: #000000;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 22px;
        padding-bottom: 2px !important;
        position: static;
    }
}

@media only screen and (max-width: 780px) {
    .wsmobileheader {
        top: 0px !important;
    }
}

.clsMegamenu {
    padding: 3px 8px 0px 8px !important;
    border-left: 1px solid #eee !important;
    border-bottom: none !important;
}

.TDK #SearchPG .t-con-style-1 > .fltsec {
    width: 96% !important;
}

#SearchPG .t-con-style-1 > .fltsec {
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    background: #fff !important;
}

.fltsec > .col-md-12 > #ulsegType {
    position: relative;
    left: -15px;
    top: -1px;
}

#dvFiltertabHeader > #dvFiltertabHeadersub1 {
    border-radius: 3px !important;
    color: #000!important;
}

    #dvFiltertabHeader > #dvFiltertabHeadersub1.active {
        border-radius: 3px !important;
        color: #fff !important;
    }

#tbbodytripFlight .nav-tab-item {   
    color: #fff !important;
    border: none !important;
}

#tbbodytripFlight .show-MulpopFaredesc {
    font-size: 1.3em !important;
}

overlapblackbg > .row > .col-md-12 > .nav {
    margin-right: -21px !important;
}

.simple-tab .nav-tab-item.active span#spn1block::after, .simple-tab .nav-tab-item span#spn2block::after {
    color: #fff !important;
}

.simple-tab .nav-tab-item.active span#spn1block::before, .simple-tab .nav-tab-item span#spn2block::before {
    color: #fff !important;
}

#dvFiltertabHeadersub1 + .nav-tab-item {
    color: #333 !important;
    border-radius: 3px !important;
}

    #dvFiltertabHeadersub1 + .nav-tab-item.active span#spn2block, #dvFiltertabHeadersub1 + .nav-tab-item.active {
        color: #fff !important;
    }

.layout-switch > #ip-container > .vertical-align > .container > #SearchPG > .tpl-tabs-cont {
    border: none !important;
    background: none !important;
}

.bordercornercolorcls > .tab-nav-wrapper > #dvFiltertabHeader {
    border: none !important;
}

.clsbkpage .hotel-item2 {
    border-bottom: none !important;
}

#dvFilterSortingouter > .nav-tab.clearfix#dvFiltertabHeader {
    background: #11afe4;
}

.sidebar-category a { 
    font-weight: 500 !important;
}

#dvcalendar > #mycalendar > .monthly-header {
    height: 43px !important;
}

.social-content ul li { 
    font-weight: 500;
}

span.city-name.org, span.city-name.des {    
    font-size: 12px !important;
}

#hdercorpname { 
    font-weight: 500;
    font-size:14px;
}

.plusminus {
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

.detail-content h6, .acc-body h6 {
    font-weight: 600 !important;
}

#divacccommon h4.sidebar-title {
    font-weight: 600 !important;
    padding-right: 8px;
}

.rowinn {
    margin-top: 15px;
    height: 373px;
}

.headerrgt {
    margin-right: 5% !important;
    margin-top:6px;
    margin-bottom:6px;
}

.hotel-item2.hotel-item.bg-white {
    margin-left: -5px !important;
}

.SELFTS, GSTDTS, .FATLS, .COROELS, .MLSPCE {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.row10.FATLS {
    padding-top: 0% !important;
}

.MLSPCE {
    margin-top: 15px;   
}

.MLSMG {
    margin-top: 4%;
}

.MealPF {
    border: solid 1px #E8EAEE !important;
    margin-top: 17px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.08);
}

.row.row10.tabheaderflg.corpdet h5 {
    color: #333 !important;
    margin: 7px 4px !important;
    font-size: 15px !important;
}

.row.row10.tabheaderflg.corpdet {
    border-bottom: 1px Dashed #E8EAEE !important;
}

.col10 .row.row10.tabheaderflg.corpdet {
    background: #fff !important;
}

.dvviewContainer > #dvMeetingDetDatas {
    margin-bottom: 40px !important;
}

.PassDTL > .col-xs-12 > .row10 > .col10 > .acc-body {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.PassDTL > .col-xs-12 > .row10 > .col10 > .tabheaderflg {
    border-top: 1px solid #E8EAEE;
    border-left: 1px solid #E8EAEE;
    border-right: 1px solid #E8EAEE;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.08);
}

.GSTDeTL {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.FaREDTLS {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);    
}

    .FaREDTLS > .col-xs-12 {
        padding-top: 0% !important;
    }

.corpratedet01 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 3px !Important;
}

.corpratedet.row hr {
    border-top: none !important;
}

#Empdetails {
    border-top: 1px solid #E8EAEE;
    border-left: 1px solid #E8EAEE;
    border-right: 1px solid #E8EAEE;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(252, 251, 251, 0.12);
}

.tabheaderflg {
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

#defaultemployee_det {
    border-left: 1px solid #E8EAEE;
    border-right: 1px solid #E8EAEE;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.clsgetpaxGuest_1 a:hover {
    background: #ff8500 !important;
    color: #fff !important;
}

.clsgetpaxGuest_1 a {
    background: #ff8500 !important;
    border: 2px solid #ff8500;
    color: #ff8500 !important;
    border-radius: 4px !important;
    padding: 4px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: #fff !important;
}

    .clsgetpaxGuest_1 a span {
        font-size: 13px !important;
        font-weight: 500 !important;
        line-height: 1px !important;
    }
  


.corpdts {
    display: block;
    background-position: -206px -308px;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 10px;
    left: 5px;
    top: 7px;
}

    .corpdts + h5 {
        padding-left: 31px;
    }

.clsFlightNum {
    padding-top: 5px !important;
}

.clsInternational label {
    display: none;
}

.clsDomestic label {
    display: none;
}

#dvinnerAvail_Response #Sort_filter {
    line-height: 20px;
    padding: 4px 0px 0px 0px;
    font-size: 14px !important;
}

button#btnprevavail, button#btnnextavail { 
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    font-size: 12px;
}


/*Home Board CSS ruby kalai - 1121*/

#homebrd #txtFDt, #homebrd #txtTDt {
    width: 100%;
    height: 34px;
    background-color: #f5f5f5 !important;
    left: 18px;
    padding: 10px;
    border: 1px solid #e2e2e2 !important;
    background-image:none;
    border-radius: 2px !important;
    font-weight:600;
}

#homebrd .header-top {
    margin-top: 30px;
}

#homebrd #txtFDt:focus, #homebrd #txtTDt:focus  {
    box-shadow: none;
    border: 1px solid #333 !important
}

#homebrd .lblcls:before{
    border-left-color:transparent !important;
}

#homebrd .breadcrumb.brnch_filr {
    margin: -1% 4%;
    width: 100%;
    top: -30px;
    position: relative;
}

#homebrd .breadcrumb.brnch_filr img {
    background: #f5f5f5;
    width: auto;
    position: absolute;
    right: 40px;
    height: 33px;
    cursor: pointer;
}

#homebrd .md-card-header.mycsscls.colorcls1 {
    width: 100%;
    padding: 0;
    height: 52px;
    top: 0; 
    background:#fff;  
}

#homebrd .title {
    padding: 0!important;
}
.md-card-header.mycsscls.colorcls1 span.title {
    color: #333!important;
    position: relative;
    left: 46px;
    top: 16px;
    font-size: 13px;
    font-weight: 500;
}
.md-card-header.mycsscls.colorcls1 span {
    font-weight: 600 !important;
}

.card-block {
    padding: 0!important;
}

.mrgn-non {
    margin: 0 !important;
}

.pad-rgt {
    padding-right: 0 !important;
}

.pad-lft {
    padding-left: 0 !important;
}

.pad-non {
    padding: 0 !important;
}

#homebrd .card {
    border: none !important;
}

.myimgcls .card, .sal-rpt {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.14), 0 3px 1px -1px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
}

.sal-rpt{
    height:426px;   
}

#homebrd h4 {
    text-transform: none !important;
    font-weight: 500;
}

h4.sidebar-title.color-dark-2.colract {
    font-size: 15px !important;
}

.colract {
    margin-top: 5px;    
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-bottom: 5px;
}

.trvlcalheading {
    text-align: center;
    padding: 10px;
    letter-spacing:1px;
}

.fc-widget-content {
    padding: 0px;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    background: #db2015 !important;
}

.sam #dvcalendar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 426px;
}

/*.col-lg-12.sal-rpt.col0 {
    height:606px;
}*/

.fc-center .fc-toolbar button {
    background: none;
}

.md-card .category:not([class*=text-]), .fc-toolbar h2, .fc-list-heading td, .fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
    font-weight: 500 !important;
    font-size:14px;
}

.fc-center {
    margin-right: 20%;
}

.fc-event-dot {
    background-color: #f5574e !important;
}

.udk-right-border-branch .md-card-header.mycsscls.colorcls1 {
    padding: 9px !important;
    background: linear-gradient(60deg,#ffa726,#fb8c00) !important;
}

.md-card-header.mycsscls.colorcls1 {
    width: 99%;    
    height: 52px;    
}

#Branch_login {
    border-left: 1px solid #d98921;
    border-radius: 4px 0 0 0;
}

#Branch_trans {
    padding-left: 23px;
}

#Branch_Avail {
    border-right: 1px solid #d98921;
    padding-left: 27px;
    border-radius: 0 4px 0 0;
}

.bordclsbrnanch {
    border-top: 1px solid #d98921;
    background: #d98921;
    cursor: pointer;
}

#homebrd h4.title, #homebrd p.category {
    color: #fff!important;
}

#Corp_login {
    border-left: 1px solid #42a847;
    background: #36993a;
    border-radius: 4px 0 0 0;
}

#Corp_trans {
    padding-left: 23px;
    background: #36993a;
}

#Corp_Avail {
    border-right: 1px solid #42a847;
    padding-left: 27px;
    background: #36993a;
    border-radius: 0 4px 0 0;
}

#User_login {
    border-left: 1px solid #ec4b47;
    background: #ba3c39;
    border-radius: 4px 0 0 0;
}
#User_trans {
    padding-left: 23px;
    background: #ba3c39;
}

#User_Avail {
    border-right: 1px solid #ec4b47;
    padding-left: 27px;
    background: #ba3c39;
    border-radius: 0 4px 0 0;
}

.udk-right-border-corporate.pnl-fulldet {
    box-shadow: 0 3px 8px rgba(0,0,50,.15);
    height: 386px;
    position: relative;
    left: 7px;
    padding:0px;
}

.udk-right-border-employee.pnl-fulldet {
    box-shadow: 0 3px 8px rgba(0,0,50,.15);
    height: 386px;
    position: relative;
    left: 14px;
    padding:0px;
}

#homebrd .udk-branch-list, .udk-employee-list, .udk-corporate-list {
    height: 300px;
    margin: 10px 0;
    max-height: 373px;
    overflow-y: auto;
    overflow-x: hidden;
}

#homebrd .udk-lst-branch-lst, .udk-lst-corporate-lst, .udk-lst-employee-lst {
    padding: 8px 10px !important;
    margin-right: 0px;
    cursor: pointer;
    width: 100%;
    line-height: 16px;
    float: left;
}

#homebrd hr {
    margin: 0 0!important;
    border: 1px dashed #ccc!important;
    width: 100%;
    margin-left: 6px;
    float: left;
}

.inputfielfd{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.mrgtp-20{
    margin-top:20px;
}

#dvcalendar {
    border-top: 2px solid #585451 !important;
}

.btn.wholeanchorexporteclebtn {
    background: none;
    border: none;
}

#TvlClndrTotalSelectedCountDetails .ui-columns-table {
    max-height: 342px;
    overflow-y: auto;
    margin-bottom: 2%;
}

.calposchaclss {
    position: absolute;
    left: 38%;
}

.txt-lfths {
    text-align: left;
    float:left;
}

#homebrd .activecls:after {
    border-left-color: #2374a7!important;
}

#homebrd .activecls {
    background: #2474a7!important;
    color: #fff!important;
}

/*Loading Image - 1122*/

.txt-ac {
    text-align: center;
}

.sk-wave {
    width: 53px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    margin-top: 30%;
}

    .sk-wave .sk-rect1 {
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s;
    }

    .sk-wave .sk-rect2 {
        -webkit-animation-delay: -1.1s !important;
        animation-delay: -1.1s !important;
    }

    .sk-wave .sk-rect3 {
        -webkit-animation-delay: -1s !important;
        animation-delay: -1s !important;
    }

    .sk-wave .sk-rect4 {
        -webkit-animation-delay: -0.9s !important;
        animation-delay: -0.9s !important;
    }

    .sk-wave .sk-rect5 {
        -webkit-animation-delay: -0.8s !important;
        animation-delay: -0.8s !important;
    }

    .sk-wave .sk-rect {
        background-color: #ec4b47;
        height: 100%;
        width: 4px;
        margin: 0 1px 0 0;
        display: inline-block;
        -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
        animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    }

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@media(max-width:768px) { /*1122*/
    .sal-rpt {
        height: auto !important;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    #homebrd {
        margin-top: 20px !important;
        width:100% !important;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    #homebrd .header-top{
        padding:0px !important;
    }

    #homebrd #chekcls{
        margin-top:15px !important;
    }

    #homebrd .sarath, #homebrd .padnon{
        padding:0px !important;
    }

    tr.fc-list-item {
        width: 29% !important;
    }

    .fc-list-table td {
        padding: 8px 3px !important;
    }

    #homebrd .container.col0{
        padding-left:5px !important;
    }

    #homebrd .sal-rpt, #homebrd .sam.travel-cal{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    #homebrd .wdth49{
        width:49% !important;
    }

   #homebrd .md-card .category:not([class*=text-]), #homebrd .fc-view-container * {
        font-size:12px;
    }

    .fc-title i {
        display: none !important;
    }    
}