<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="STSTRAVRAYS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-STSTRAVRAYS-20170321152548;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-STSTRAVRAYS-20170321152548.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <!--No need to update keep it as it is-->
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--No need to update keep it as it is-->

    <!--Version Update-->
    <add key="UpdateVersion" value="V1.0"/>
    <add key="flightimageversion" value="V1.0"/>
    <!--Version Update-->

    <!--Need to change for different templates-->
    <add key="apptheme" value="THEME1"/>
    <!-- THEME1 => Riya BOA & Travrays, THEME2 => NAVEEN, THEME4 => Riya B2B & Riya RI, THEME5 => Roundtrip, THEME6 => Deira -->
    <add key="Appname" value="RIYA"/>
    <add key="Producttype" value="RBOA"/>
    <!-- UAE,BTN,EGY,MYM,MAR => Travrays, RBOA => Riya BOA, RIYA => Riya B2B & Riya RI, NAT => Naveen, ROUNDTRIP => Roundtrip, DEIRA => Deira -->
    <add key="TerminalType" value="T" />
    <!-- W => Agent , T => Indesk -->
    <add key="PLATFORM" value="BOA"/>
    <!-- BOA => Riya BOA, B2B => Riya B2B & Riya RI, "" => Others -->
    <add key="APP_HOSTING" value="" />
    <!-- BSA => Roundtrip & Deira B2C, B2B => Deira B2B, BOA => Deira BOA, "" => Others -->
    <add key="PNRlbl" value="R PNR"/>
    <!-- Riya PNR => Riya, S PNR => Others -->
    <add key="currency" value="INR"/>
    <!-- AED => Travrays & Deira, INR => Others -->
    <add key="AVAILFORMAT" value="RIYA"/>
    <!-- NAT => Naveen, TRAVRAYS => Travrays, RIYA => Others -->
    <add key="PRINTTICKETFORMAT" value="RIYA"/>
    <!-- ROUNDTRIP => Roundtrip, RIYA => Riya, TRAVRAYS => Others -->
    <add key="TicketAutoEmailFormat" value="HTML"/>
    <!-- PDF,HTML -->
    <!--Need to change for different templates-->

    <!--Meta Tag Information-->
    <add key="title" value="Travel Agent Ticket Booking Portal | Travel Experts since 1980 - Riya Connect"/>
    <add key="Meta_description" value="Quick and Easy Travel bookings through Riya Connect. Book flights, train, bus, car, travel insurance online with great earnings | Riya Travel &amp; Tours"/>
    <!--Meta Tag Information-->

    <!-- Support Details -->
    <add key="Supportmail" value="helpdesk@deiratravels.com"/>
    <add key="Callcenterno" value="+971 4 2295 444"/>
    <!-- Support Details -->

    <!-- GST & ERP -->
    <add key="STS_ERP_PUSH" value="Y"/>
    <add key="GST" value="Y"/>
    <!-- GST & ERP -->

    <!-- B2C Default Terminal Details -->
    <add key="BSA_TERMINALID" value="DSDXB0010101" />
    <add key="BSA_USERNAME" value="online" />
    <add key="BSA_PASSWORD" value="online" />
    <add key="B2C_BRANCH_ID" value=""/>
    <!-- B2C Default Terminal Details -->

    <!-- Admin Access Credentials -->
    <add key="KeyEditUserName" value="STSRBOA" />
    <add key="KeyEditPassword" value="STSRBOA@123" />
    <!-- Admin Access Credentials -->

    <!-- Logo and Images URL -->
    <add key="LogoUrl" value="http://localhost:55973/Images/" />
    <add key="AgentLogoPath" value="http://localhost:55973/Images/" /> <!--http://rtappsbeta.mywebcheck.in/Images/LoginLogo/-->
    <add key="FlightUrl" value="https://airlineslogo.travrays.com/" />
    <add key="Homepageurl" value="http://roundtripbeta.mywebcheck.in/" />
    <!-- Naveen earch Page Image url -->
    <!-- Logo and Images URL -->

    <!-- Coming Soon URL -->
    <add key="COOMINGSOON" value="http://localhost:55973/Redirect/Comingsoon" />
    <!-- Coming Soon URL -->

    <!-- For New Query String Format -->
    <add key="NewQuerystring" value="BUS,TRAIN"/>
    <!-- For New Query String Format -->

    <!-- WebHome URL -->
    <add key="WEBHOMEURL" value="http://deirab2bbeta.mywebcheck.in/WEBHOME/Home/Home" />
    <!-- WebHome URL -->

    <!-- Bus URL -->
    <add key="BUSURL" value="" />
    <add key="BUSMB" value="" />
    <!-- Bus URL -->

    <!-- Hotel URL -->
    <add key="HotelUrl_H" value="" />
    <add key="HotelUrl_HVP" value="" />
    <add key="HotelUrl_HBH" value="" />
    <add key="HotelUrl_HCL" value="" />
    <!-- Hotel URL -->

    <!-- Insurance URL -->
    <add key="INSURL" value="" />
    <add key="INSURL_IVP" value="" />
    <add key="INSURL_IBH" value="" />
    <add key="INSURL_ICL" value="" />
    <!-- Insurance URL -->

    <!-- Mobile URL -->
    <add key="mobileUrl_B" value="" />
    <add key="mobileUrl_BBH" value="" />
    <!-- Mobile URL -->

    <!-- Visa URL -->
    <add key="Visa" value="" />
    <add key="Visahistory" value="" />
    <!-- Visa URL -->

    <!-- Train URL -->
    <add key="TRAINURL" value="" />
    <add key="TRAINURL_TBH" value="" />
    <!-- Train URL -->

    <!-- Car URL -->
    <add key="CARURL" value="" />
    <!-- Car URL -->

    <!-- Theme Park URL -->
    <add key="THEMEPARKURL" value="" />
    <!-- Theme Park URL -->

    <!-- Ancilary Service URL -->
    <add key="ANCILARYSERVICE" value="" />
    <!-- Ancilary Service URL -->

    <!-- Brill Voice URL -->
    <add key="BRILLVOICEURL" value="" />
    <!-- Brill Voice URL -->

    <!-- Titos URL -->
    <add key="TITOSURL" value="" />
    <!-- Titos URL -->

    <!-- Activity URL -->
    <add key="Activity_A" value=""/>
    <add key="Activity_AH" value=""/>
    <!-- Activity URL -->

    <!-- Cruises URL -->
    <add key="CRUISES_URL" value="" />
    <!-- Cruises URL -->

    <!-- Utility URL -->
    <add key="UTILITYSERVICE" value="" />
    <!-- Utility URL -->

    <!-- Packages URL -->
    <add key="Allowpackage" value=""/>
    <!-- Allowed Agent ID ',' Seperated or Empty-->
    <add key="PackageBooking" value="" />
    <add key="PackageManageBooking" value="" />
    <!-- Packages URL -->

    <!-- Seat Map URL -->
    <add key="SEATMAPURL" value="" />
    <!-- Seat Map URL -->

    <!-- Action Menu URL -->
    <add key="ACTIONURL" value="" />
    <!-- Action Menu URL -->

    <!-- Login and Usage Log URLS -->
    <add key="STaskiesLoginLogURL" value="" />
    <add key="STaskiesUsageLogURL" value="" />
    <!-- Login and Usage Log URLS -->

    <!-- For Internal Log Usage -->

    <add key="Folderlogpath" value="" />
    <!-- For Internal Log Usage -->

    <!-- Current Date and Previous Date Validation -->
    <add key="Reportdatecheck" value="N"/>
    <!-- Current Date and Previous Date Validation -->

    <!-- Cancellation and Reschedule Available Airlines -->
    <add key="Online_RescheduleAirline" value="SG,6E,G8"/>
    <add key="Onlinecancellation" value="SG,6E,G8,FSC"/>
    <!-- Cancellation and Reschedule Available Airlines -->

    <!-- For Common Display and Messaging Usage -->
    <add key="Flightno" value="9W123"/>
    <add key="Countryname" value="India"/>
    <add key="MainCity" value="BOM"/>
    <add key="COUNTRY" value="IN"/>
    <add key="trip_country" value="IN"/>
    <add key="StateTitle" value="State"/>
    <add key="Servertimezone" value="India Standard Time"/>
    <add key="Countryphonecode" value="+91"/>
    <add key="Whatsappcountrycode" value="91"/>
    <add key="GMTTIME" value="0"/>
    <!-- For Common Display and Messaging Usage -->

    <!-- Login Usage -->
    <add key="ConsoleAgent" value="NA"/>
    <!--Agent Type-->
    <add key="Powerlogin" value=""/>
    <add key="Powerterminal" value=""/>
    <add key="Logincountry" value="" />
    <add key="DesktopAccess" value="N" />
    <!-- Login Usage -->

    <!-- For thread or Airline Based Configurations -->
    <add key="Doublethread" value=""/>
    <add key="Promocodethread" value="6E"/>
    <add key="Addl_Promocodethread" value=""/>
    <add key="GDSSTOCK" value=""/>
    <add key="AllowPassThroughAirline" value=""/>
    <add key="Air_Thread" value=""/>
    <add key="SaberAirlines" value=""/>
    <add key="RTsplthread" value="" />
    <add key="RTsinglePnrThread" value="" />
    <add key="Labourthread" value=""/>
    <add key="LabourfareAirline" value=""/>
    <!-- For thread or Airline Based Configurations -->

    <!-- Common request Timeout -->
    <add key="hostchecktimeout" value="100000" />
    <add key="AVAIL_TIMEOUT" value="13" />
    <!-- Common request Timeout -->

    <!-- Chat Application Credentials -->
    <add key="Allowchat" value="NO"/>
    <add key="Allowchatagent" value=""/>
    <add key="Chatkey" value="5b1a05ca10b99c7b36d4bcf5"/>
    <!-- UAE =5b1a05ca10b99c7b36d4bcf5 , Egypt =5b34a08bd0b5a5479682411f-->
    <!-- Chat Application Credentials -->

    <!-- Roundtrip onward and return time interval and display message -->
    <add key="time_interval" value="30" />
    <add key="time_interval_alert" value="Please recheck the flights you selected.&#xA;Your second flight leaves before your first flight arrives!" />
    <!-- Roundtrip onward and return time interval and display message -->

    <!-- E-Travel Insurance Credentials -->
    <add key="Etravelversion" value="NEW" />
    <add key="BAJAJETRAVELINS" value="104"/>
    <add key="Bajajpolicyurl" value="http://extestapp.bajajallianz.com/BagicOnline/ws/dp/rangetravelpdf.do?p_policy_ref="/>
    <add key="Bajajpolicyusername" value="user.test@bajajallianz.co.in"/>
    <!-- E-Travel Insurance Credentials -->

    <!-- For booking First Passenger Default Mail ID -->
    <add key="BookingAPIMailid" value=""/>
    <add key="Bookingagntmailid" value=""/>
    <!-- For booking First Passenger Default Mail ID -->

    <!-- booklet Fare Thread and allowed Agent -->
    <add key="BookletThread" value="1G~AI~AIBESS~2NV~PC"/>
    <add key="AllowBookletAgent" value="RIBOM0000001,RSBOM0400823"/>
    <!-- Allowed Agent ID ',' Seperated or Empty-->
    <!-- booklet Fare Thread and allowed Agent -->

    <!-- Memory Cache Usage -->
    <add key="flgClearMemCache" value="N"/>
    <add key="flgMemCacheDuration" value="10"/>
    <add key="flgMemCachedays" value="2"/>
    <!-- Memory Cache Usage -->

    <!-- Calender Fare -->
    <add key="Allowcalendar" value="0"/>
    <!-- Calender Fare -->

    <!--COMMON MAIL CONFIGURATION-->
    <add key="HostAddress" value="smtp.pepipost.com" />
    <add key="NetworkUsername" value="riyatravelpepi@riya.travel" />
    <add key="MailUsername" value="info@mywebcheck.in" />
    <add key="MailPassword" value="7b79dc!db222a" />
    <add key="EnableSsl" value="false" />
    <add key="PortNo" value="25" />
    <!--COMMON MAIL CONFIGURATION-->

    <!-- hosted Domain Url & Server Lan IP for PDF Conversion or Check iamge exist -->
    <add key="SERVERIPADDRESS" value="" />
    <add key="SERVERLAN_IP" value="180.179.56.180|10.10.15.180,180.179.56.183|10.10.15.170,180.179.36.115|10.10.2.6,180.179.36.26|10.10.2.40" />
    <add key="DOMAIN_URL" value="http://b2bbeta.mywebcheck.in/"/>
    <!-- hosted Domain Url & Server Lan IP for PDF Conversion or Check iamge exist -->

    <!-- Send Pending Mail and SMS -->
    <add key="SENDSMS" value="Y" />
    <add key="SENDPENDINGMAIL" value="N"/>
    <add key="PENDINGMAILID" value="vimal@shreyastechsolutions.com"/>
    <!-- Send Pending Mail and SMS -->

    <!-- Mobile App Usage Only -->
    <add key="DashboardProfile" value="http://roundtripbeta.mywebcheck.in/PDF/Logo/"/>
    <add key="AirlineURL" value="http://roundtripbeta.mywebcheck.in/COMMON_BSA/"/>
    <add key="MOBILEADVERTISEMENT" value="https://cdn.via.com/static/img/v1/newui/sg/general/offer/1504165360190_VIADOM-Banners-up-to-1000-Off-Offer.jpg~https://gos3.ibcdn.com/top-1569824160.jpg~https://www.bigbreaks.com/Content/Images/offers/Flights/bigbreaks-banners_1360_400_wed400.png"/>
    <!-- Mobile App Usage Only -->

    <!-- Payment Gateway URL & Credentails -->
    <add key="PGRESPONSEURL" value="http://localhost:55973/Booking/PGRedirectpage/"/>
    <add key="PGREQUESTURL" value="http://roundtripbeta.mywebcheck.in/PGAPPS/TopupHome.aspx"/>
    <add key="CHECKAUTOTOPUPURL" value=""/>
    <add key="HOMEURL" value="http://localhost:64392/Home/Home"/>
    <add key="VISAPGRESPONSEURL" value="http://localhost:55973/Visa/PGRedirectpage/"/>
    <add key="VISAPGREQUESTURL" value="http://riyapg.mywebcheck.in/2C2PPayment.aspx"/>
    <add key="PaymentGatewayOLDNEWURL" value="NEW"/>
    <!-- Payment Gateway URL & Credentails -->

    <!-- Visa Product Credentials -->
    <add key="Offlinevisadestinationcity" value=""/>
    <add key="THAIVISA" value=""/>
    <add key="VisaTOMailID" value="visa.coordinator@riya.travel"/>
    <add key="VISAAPIURL" value="http://115.124.97.109/RIYA_API_V3/RIYA_VISA_WS/Service.svc/"/>
    <add key="VisaPrintPath" value="http://115.124.97.109/RiyaTravelAPI/Rays_Service/Images/VisaDocuments/"/>
    <!-- Visa Product Credentials -->

    <!-- Tune Insurance Booking Usage -->
    <add key="Book_ins" value="Y"/>
    <add key="Book_insurl" value="http://localhost:49790/Tune/TuneSearch"/>
    <add key="bookinsurnace_URL" value="http://192.168.0.5:85/Service/Tune.svc/"/>
    <!-- Tune Insurance Booking Usage -->

    <!-- Riya Employee Details Fetch URL & Credentails For Cash Payment -->
    <add key="RIYAEMP_API_URL" value="https://sso.riya.travel/auth/GetADUserDetails/" />
    <add key="RIYAEMP_API_KEY" value="stsapi" />
    <add key="RIYAEMP_API_PASSWORD" value="stsapi@987$321" />
    <!-- Riya Employee Details Fetch URL & Credentails For Cash Payment -->

    <!-- Client and Console Download URL Path -->
    <add key="app_setup_path" value="http://115.124.97.103/TRAVRAYS_NEW_APPS/AE_TRAVRAYS_WEB_LIVE/TRAVRAYS/Travrays_Apps.zip" />
    <add key="ClientDownloadfilename" value="http://115.124.97.103/TRAVRAYS_NEW_APPS/AE_TRAVRAYS_WEB_LIVE/TRAVRAYS/Travrays_Apps.zip" />
    <!-- Client and Console Download URL Path -->

    <!-- B2C Google Registration Credentials -->
    <add key="GoogleIntClientid" value="176573814340-j8l4qa3d6edgvs3of36869evibrscjts.apps.googleusercontent.com"/>
    <add key="GoogleReturnUrl" value="http://localhost:55973/B2C/GoogleIntegration"/>
    <add key="GoogleClientSecret" value="_qtY_QW43VAaED4iz72nigGtpdkPRvrOMkBJzJUWhyw"/>
    <add key="GoogleRedirectUrl" value="https://accounts.google.com/o/oauth2/v2/auth"/>
    <add key="GoogleScope" value="email"/>
    <add key="Googleaccurl" value="https://accounts.google.com/o/oauth2/token"/>
    <!-- B2C Google Registration Credentials -->

    <add key="MulMaxRowCnt" value="5"/>

    <add key="Checktripflag" value="3"/>

    <add key="bookingcoordinatorDet" value="N"/>
    <add key="agreementread" value="NO"/>

    <add key="Revisedclassalert" value="D3"/>

    <add key="2oneway" value="1"/>

    <add key="Newagentmail" value="rajeshkumar.v@shreyastechsolutions.com"/>

    <add key="APIVersion" value="V1.0"/>
    <add key="ProjectCode" value="INSA02"/>
    <add key="APPVersion" value="V1.0"/>
    <add key="ENVIRONMENT" value="1"/>

    <add key="Farechecklimit" value="5"/>

    <add key="BOOKINGCONFIRMATION" value="Y"/>
    <add key="ToDecimal" value="Y"/>
    <add key="BRANCHALLOWCREDITBOOKING" value=""/>
    <add key="ADDONS_VIEWPNR" value="Y"/>
    <add key="ONLYINTERNATIONAL" value="Y"/>
    <add key="AVAILABLELOGINS" value="A~Agents~#|I~Staff~#"/>
    <!-- A/I~Name~URL -> Format A-> Agents, I -> Indesk ,Name -> Name to be displayed, URL->redirection url (or) # for popup/no redirection -->
    <add key="MINUSCOMISSIONFOR" value="B2C"/>


    <!--<add key="ServiceURI" value="https://winapps.riya.travel/RaysService.asmx"/>
    <add key="IN_RAYS_SERVICE" value="https://winapps.riya.travel/Inplantservice.asmx"/>

    <add key="APPS_SELECT_URL" value="http://180.179.56.176/RIYA_WS_v3/Rays_Select.svc/" />
    <add key="APPS_URL" value="http://180.179.33.219/RIYA_WS_V3/Rays.svc/" />
    <add key="Multiclas" value="http://180.179.56.179/ANCILLARYMANAGER_RIYA_V3/GetMultiClass.svc/"/>
    <add key="FareRuleAncillaryURL" value="http://180.179.33.219/ANCILLARYMANAGER_RIYA_V3/GetFareRule.svc/"/>

    <add key="Spl_APPS_SELECT_URL" value="http://180.179.33.219/RIYA_WS_V3/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://180.179.33.219/RIYA_WS_V3/Rays.svc/" />

    <add key="TOPUP_APPS_INPLANT_SERVICE" value="https://winapps.riya.travel/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="https://winapps.riya.travel/RaysService.asmx"/>

    <add key="QTKT_APPS_INPLANT_SERVICE" value="https://winapps.riya.travel/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="https://winapps.riya.travel/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->

    <!--Roundtrip Live Credentials-->
    <!--<add key="ServiceURI" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_WSDL/RaysService.asmx"/>
    <add key="IN_RAYS_SERVICE" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_WSDL/Inplantservice.asmx"/>
    <add key="APPS_SELECT_URL" value="http://180.179.59.24/ROUNDTRIP_API/RT_RAYS_WS/Rays_Select.svc/" />
    <add key="APPS_URL" value="http://180.179.59.24/ROUNDTRIP_API/RT_RAYS_WS/Rays.svc/" />
    <add key="Multiclas" value="http://180.179.59.24/ROUNDTRIP_API/RT_ANCILLARYMANAGER/GetMultiClass.svc/"/>   
    <add key="FareRuleAncillaryURL" value="http://180.179.59.24/ROUNDTRIP_API/RT_ANCILLARYMANAGER/GetFareRule.SVC/"/>
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://180.179.59.24/ROUNDTRIP_API/RT_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://180.179.59.24/ROUNDTRIP_API/RT_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_WSDL/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_WSDL/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_WSDL/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_WSDL/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->


    <!--Roundtrip Live Credentials -->

    <!--Naveen Air Live Credentials-->
    <!--<add key="ServiceURI" value="http://naveenairtraavelsapps.travrays.com/RaysService.asmx"/>
    <add  key="IN_RAYS_SERVICE" value="http://naveenairtraavelsapps.travrays.com/Inplantservice.asmx"/>
    <add key="APPS_SELECT_URL" value="http://180.179.56.178/NAVEENTRAVELS/NAVEEN_RAYS_WS/Rays_select.svc/" />
    <add key="APPS_URL" value="http://180.179.56.178/NAVEENTRAVELS/NAVEEN_RAYS_WS/Rays.svc/" />
    <add key="Multiclas" value="http://180.179.36.115/NAVEENTRAVELS/NAVEEN_ANCILLARYMANAGER/GetMultiClass.svc/"/>
    <add key="FareRuleAncillaryURL" value="http://180.179.36.115/NAVEENTRAVELS/NAVEEN_ANCILLARYMANAGER/GetFareRule.svc/"/>
   
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://naveenairtraavelsapps.travrays.com/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://naveenairtraavelsapps.travrays.com/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://naveenairtraavelsapps.travrays.com/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://naveenairtraavelsapps.travrays.com/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
  
    <add key="INSURANCEAPIURL" value="" />-->
    <!--Naveen Air Live Credentials-->

    <!--UAE TravRays Live Credentials-->
    <!--<add key="ServiceURI" value="http://uaeapps.travrays.com/RaysService.asmx"/>
    <add key="IN_RAYS_SERVICE" value="http://uaeapps.travrays.com/Inplantservice.asmx"/>
    <add key="Multiclas" value="http://180.179.36.18/AE_TRAVRAYS_API/AE_ANCILLARYMANAGER/GetMultiClass.svc/"/>
    <add key="APPS_SELECT_URL" value="http://180.179.36.18/AE_TRAVRAYS_API/AE_RAYS_WS/Rays_select.svc/"/>
    <add key="APPS_URL" value="http://180.179.36.18/AE_TRAVRAYS_API/AE_RAYS_WS/Rays.svc/"/>
    <add key="FareRuleAncillaryURL" value="http://180.179.36.18/AE_TRAVRAYS_API/AE_ANCILLARYMANAGER/GetFareRule.svc/"/>
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://uaeapps.travrays.com/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://uaeapps.travrays.com/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://uaeapps.travrays.com/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://uaeapps.travrays.com/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--UAE TravRays Live Credentials-->

    <!--Bhutan TravRays Live Credentials-->
    <!--<add key="ServiceURI" value="http://btnapps.travrays.com/RaysService.asmx"/>
    <add key="IN_RAYS_SERVICE" value="http://btnapps.travrays.com/Inplantservice.asmx"/>
    <add key="Multiclas" value="http://180.179.36.18/AE_TRAVRAYS_API/AE_ANCILLARYMANAGER/GetMultiClass.svc/"/>
    <add key="APPS_SELECT_URL" value="http://180.179.36.19/BHUTAN_TRAVRAYS/BT_RAYS_WS_LIVE/Rays_select.svc/"/>
    <add key="APPS_URL" value="http://180.179.36.19/BHUTAN_TRAVRAYS/BT_RAYS_WS_LIVE/Rays.svc/"/>   
    <add key="FareRuleAncillaryURL" value="http://180.179.36.18/AE_TRAVRAYS_API/AE_ANCILLARYMANAGER/GetFareRule.svc/"/>
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://btnapps.travrays.com/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://btnapps.travrays.com/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://btnapps.travrays.com/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://btnapps.travrays.com/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--Bhutan TravRays Live Credentials-->

    <!--Egypt TravRays Live Credentials-->
    <!--<add key="ServiceURI" value="http://egyapps.travrays.com/RaysService.asmx"/>
    <add key="IN_RAYS_SERVICE" value="http://egyapps.travrays.com/Inplantservice.asmx"/>
    <add key="Multiclas" value="http://180.179.36.19/EYGPT_TRAVRAYS/EG_ANCILLARYMANAGER/GetMultiClass.svc/"/>
    <add key="APPS_SELECT_URL" value="http://180.179.36.19/EYGPT_TRAVRAYS/EG_RAYS_WS/rays_API.svc/" />
    <add key="APPS_URL" value="http://180.179.36.19/EYGPT_TRAVRAYS/EG_RAYS_WS/rays_API.svc/" />
    <add key="FareRuleAncillaryURL" value="http://180.179.36.19/EYGPT_TRAVRAYS/EG_ANCILLARYMANAGER/GetFareRule.svc/"/>
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://egyapps.travrays.com/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://egyapps.travrays.com/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://egyapps.travrays.com/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://egyapps.travrays.com/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--Egypt TravRays Live Credentials-->

    <!--Deira Live Credentials-->
    <!--<add key="ServiceURI" value="http://180.179.58.140/DEIRA_APPS/DE_RAYS_WSDL/RaysService.asmx" />
    <add key="IN_RAYS_SERVICE" value="http://180.179.58.140/DEIRA_APPS/DE_RAYS_WSDL/Inplantservice.asmx" />
    <add key="APPS_SELECT_URL" value="http://180.179.36.18/DEIRA_API/DE_RAYS_WS/Rays_select.svc/" />
    <add key="APPS_URL" value="http://180.179.36.18/DEIRA_API/DE_RAYS_WS/Rays.svc/" />
    <add key="Multiclas" value="http://115.124.97.109/RIYA_BETA/Common_ancillary/GetMultiClass.svc/" />
    <add key="FareRuleAncillaryURL" value="http://115.124.97.109/RIYA_BETA/Common_ancillary/GetFareRule.svc/" />
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://180.179.58.140/DEIRA_APPS/DE_RAYS_WSDL/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://180.179.58.140/DEIRA_APPS/DE_RAYS_WSDL/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://180.179.58.140/DEIRA_APPS/DE_RAYS_WSDL/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://180.179.58.140/DEIRA_APPS/DE_RAYS_WSDL/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--Deira Live Credentials-->

    <!--Roundtrip Beta Credentials -->
    <!--<add key="ServiceURI" value="http://rtappsbeta.mywebcheck.in/RaysService.asmx" />
    <add key="IN_RAYS_SERVICE" value="http://rtappsbeta.mywebcheck.in/Inplantservice.asmx" />
    <add key="APPS_SELECT_URL" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_RAYS_WS/Rays_select.svc/" />
    <add key="APPS_URL" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_RAYS_WS/Rays.svc/" />
    <add key="Multiclas" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetMultiClass.svc/" />
    <add key="FareRuleAncillaryURL" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetFareRule.svc/" />
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://rtappsbeta.mywebcheck.in/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://rtappsbeta.mywebcheck.in/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://rtappsbeta.mywebcheck.in/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://rtappsbeta.mywebcheck.in/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--Roundtrip Beta Credentials -->

    <!--Deira Beta Credentials -->
    <!--<add key="ServiceURI" value="http://deiraappsbeta.mywebcheck.in/RaysService.asmx" />
    <add key="IN_RAYS_SERVICE" value="http://deiraappsbeta.mywebcheck.in/Inplantservice.asmx" />
    <add key="APPS_SELECT_URL" value="http://115.124.97.102/DEIRA_BETA/DEIRA_API/DE_RAYS_WS/Rays_select.svc/" />
    <add key="APPS_URL" value="http://115.124.97.102/DEIRA_BETA/DEIRA_API/DE_RAYS_WS/Rays.svc/" />
    <add key="Multiclas" value="http://115.124.97.102/DEIRA_BETA/DEIRA_API/DE_ANCILLARYMANAGER/GetMultiClass.svc/" />
    <add key="FareRuleAncillaryURL" value="http://115.124.97.102/DEIRA_BETA/DEIRA_API/DE_ANCILLARYMANAGER/GetFareRule.svc/" />
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://deiraappsbeta.mywebcheck.in/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://deiraappsbeta.mywebcheck.in/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://deiraappsbeta.mywebcheck.in/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://deiraappsbeta.mywebcheck.in/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.102/DEIRA_BETA/DEIRA_APPS/DE_WEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--Deira Beta Credentials -->

    <!--Travrays Beta Credentials -->
    <!--<add key="ServiceURI" value="http://115.124.97.110/TRAVAYS_BETA/AE_TRAVRAYS_RAYS_WSDL/RaysService.asmx" />
    <add key="IN_RAYS_SERVICE" value="http://115.124.97.110/TRAVAYS_BETA/AE_TRAVRAYS_RAYS_WSDL/Inplantservice.asmx" />
    <add key="APPS_SELECT_URL" value="http://115.124.97.110/TRAVAYS_BETA/AE_RAYS_WS/rays_Select.svc/" />
    <add key="APPS_URL" value="http://115.124.97.110/TRAVAYS_BETA/AE_RAYS_WS/rays.svc/" />
    <add key="Multiclas" value="http://115.124.97.110/TRAVAYS_BETA/AE_ANCILLARYMANAGER/GetMultiClass.svc/" />
    <add key="FareRuleAncillaryURL" value="http://115.124.97.110/TRAVAYS_BETA/AE_ANCILLARYMANAGER/GetFareRule.svc/" />
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://115.124.97.110/TRAVAYS_BETA/AE_TRAVRAYS_RAYS_WSDL/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://115.124.97.110/TRAVAYS_BETA/AE_TRAVRAYS_RAYS_WSDL/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://115.124.97.110/TRAVAYS_BETA/AE_TRAVRAYS_RAYS_WSDL/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://115.124.97.110/TRAVAYS_BETA/AE_TRAVRAYS_RAYS_WSDL/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value=""/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--Travrays Beta Credentials -->

    <!--Riya Beta Credentials -->
    <!--<add key="ServiceURI" value="http://115.124.97.109/RiyaTravelAPI/Rays_Service/RaysService.asmx" />
    <add key="IN_RAYS_SERVICE" value="http://115.124.97.109/RiyaTravelAPI/Rays_Service/Inplantservice.asmx" />
    <add key="APPS_SELECT_URL" value="http://115.124.97.109/RIYA_BETA/Common_WS_V3/Rays_select.svc/" />
    <add key="APPS_URL" value="http://115.124.97.109/RIYA_BETA/Common_WS_V3/Rays.svc/" />
    <add key="Multiclas" value="http://115.124.97.109/RIYA_BETA/Common_ancillary/GetMultiClass.svc/" />
    <add key="FareRuleAncillaryURL" value="http://115.124.97.109/RIYA_BETA/Common_ancillary/GetFareRule.svc/" />
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />

    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://115.124.97.109/RiyaTravelAPI/Rays_Service/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://115.124.97.109/RiyaTravelAPI/Rays_Service/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="http://115.124.97.109/RIYA_BETA/RETRIEVE_TICKETING/Service1.svc" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://115.124.97.109/RIYA_BOA_V3_WSDL/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://115.124.97.109/RIYA_BOA_V3_WSDL/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value="http://115.124.97.109/RIYA_BETA/Common_ancillary/GetReservationInfo.svc/"/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    
    <add key="INSURANCEAPIURL" value="" />-->

    <!--Riya Beta Credentials -->

    <!--RBOA Beta Credentials -->
    <add key="ServiceURI" value="http://115.124.97.109/RIYA_BOA_V3_WSDL/RaysService.asmx" />
    <add key="IN_RAYS_SERVICE" value="http://115.124.97.109/RIYA_BOA_V3_WSDL/Inplantservice.asmx" />
    <add key="APPS_SELECT_URL" value="http://115.124.97.109/RIYA_BETA/Common_WS_V3_BOA/Rays_select.svc/" />
    <add key="APPS_URL" value="http://115.124.97.109/RIYA_BETA/Common_WS_V3_BOA/Rays.svc/" />
    <add key="Multiclas" value="http://115.124.97.109/RIYA_BOA_BETA/RIYA_BOA_ANCILLARYMANAGER/GetMultiClass.svc/" />
    <add key="FareRuleAncillaryURL" value="http://115.124.97.109/RIYA_BOA_BETA/RIYA_BOA_ANCILLARYMANAGER/GetFareRule.svc/" />
   
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />
    
   
    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://115.124.97.109/RiyaTravelAPI/Rays_Service/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://115.124.97.109/RiyaTravelAPI/Rays_Service/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="http://115.124.97.109/RIYA_BETA/RETRIEVE_TICKETING/Service1.svc" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://115.124.97.109/RIYA_BOA_V3_WSDL/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://115.124.97.109/RIYA_BOA_V3_WSDL/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value="http://115.124.97.109/RIYA_BETA/Common_ancillary/GetReservationInfo.svc/"/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>

    <add key="INSURANCEAPIURL" value="" /> 
    <!--RBOA Beta Credentials -->


    <!--old local Credentials -->

    <!--local NAVEEN Credentials -->
    <!--<add key="ServiceURI" value="http://192.168.0.24/NAVEEN/SERVICE/RAYS_WSDL/RaysService.asmx"/>
    <add  key="IN_RAYS_SERVICE" value="http://192.168.0.24/NAVEEN/SERVICE/RAYS_WSDL/Inplantservice.asmx"/>
    <add key="APPS_SELECT_URL" value="http://192.168.0.24/NAVEEN/API/RAYS_WS/Rays_select.svc/" />
    <add key="APPS_URL" value="http://192.168.0.24/NAVEEN/API/RAYS_WS/Rays.svc/" />
    <add key="Multiclas" value="http://192.168.0.24/NAVEEN/API/ANCILLARYMANAGER/GetMultiClass.svc/"/>
    <add key="FareRuleAncillaryURL" value="http://192.168.0.24/NAVEEN/API/ANCILLARYMANAGER/GetFareRule.svc/"/>
    
    <add key="Splavailagent" value=""/>
    <add key="Spl_APPS_SELECT_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays_select.svc/" />
    <add key="Spl_APPS_URL" value="http://192.168.0.5:85/CBT_V3_API/CBT_V3_RAYS_WS/Rays.svc/" />
   
    <add key="GDSSEARCH" value="http://115.124.97.110/ROUND_TRIP_API_BETA/RT_ANCILLARYMANAGER/GetAirMultiAvail.svc/" />
    <add key="TOPUP_APPS_INPLANT_SERVICE" value="http://192.168.0.24/NAVEEN/SERVICE/RAYS_WSDL/Inplantservice.asmx"/>
    <add key="TOPUP_APPS_RAYS_SERVICE" value="http://192.168.0.24/NAVEEN/SERVICE/RAYS_WSDL/RaysService.asmx"/>
    <add key="QTKT_Service_URL" value="" />
    <add key="QTKT_APPS_INPLANT_SERVICE" value="http://192.168.0.24/NAVEEN/SERVICE/RAYS_WSDL/Inplantservice.asmx"/>
    <add key="QTKT_APPS_RAYS_SERVICE" value="http://192.168.0.24/NAVEEN/SERVICE/RAYS_WSDL/RaysService.asmx"/>
    <add key="RCSUPPORTSERVICEURL" value="http://115.124.97.110/ROUND_TRIP_APPS_BETA/RCWEB_SUPPORT_WCF/Service.svc" />
    <add key="RetriveUrl" value="http://115.124.97.109/RIYA_BETA/Common_ancillary/GetReservationInfo.svc/"/>
    <add key="Mailurl" value="http://180.179.59.24/ROUNDTRIP_APPS/RT_EMAIL_SERVICE/MailService.asmx"/>
    <add key="INSURANCEAPIURL" value="" />-->
    <!--local NAVEEN Credentials -->

    <!--GROUPID|BRANCH|AGENTTYPE|AIRPORTTYPE|CRSPNR|EXPORTEXCEL-->
    <add key="AllowControls" value=""/>
    <add key="AGENTSALESUMMARYURL" value=""/>

  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <STSTRAVRAYS.Properties.Settings>
      <setting name="STSTRAVRAYS_Mailref_MyService" serializeAs="String">
        <value>http://115.124.97.108/TRAVRAYS_APPS_SERVICE/RaysEmail_Insurance/MailService.asmx</value>
      </setting>
      <setting name="STSTRAVRAYS_Rays_service_RaysService" serializeAs="String">
        <value>http://riyaboaservice.mywebcheck.in/RaysService.asmx</value>
      </setting>
      <setting name="STSTRAVRAYS_InplantService_Inplantservice" serializeAs="String">
        <value>http://rtappsbeta.mywebcheck.in/Inplantservice.asmx</value>
      </setting>
    </STSTRAVRAYS.Properties.Settings>
  </applicationSettings>
</configuration>