@{
    ViewBag.Title = "Contactus";
}
<!DOCTYPE html>
<html>
<head>
    <title>Contact us</title>    
    <meta charset="utf-8">
    <meta name="description" content="riya express">
    <meta name="keywords" content="riya express" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" /> 
    <link href="~/Content/CSS/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/CommonAllCSS")
    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    @Scripts.Render("~/bundles/CommonAllJS")
<style>
    body { /*14-6-18*/background: url(../images/Theme4/Agent/contact_bg.png) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;
           -ms-background-size: cover;background-size: cover;color: #333;font-size: 12px;font-family: 'Poppins', sans-serif !important;}
    .card {background: #fff;min-height: 50px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);position: relative;margin-bottom: 25px;-webkit-border-radius: 6px;
           -moz-border-radius: 6px;-ms-border-radius: 6px;border-radius: 6px;}
    .card .header {color: #fff;padding: 10px 20px;position: relative;border-bottom: 1px solid rgba(204, 204, 204, 0.35);background-repeat: repeat-x;
    border-radius: 6px 6px 0px 0px;background-image: -webkit-linear-gradient(45deg,#b00002,#ef2f38);background-image: linear-gradient(45deg,#b00002,#ef2f38);}
    .card .header h2 {margin: 0;font-size: 18px;font-weight: normal;}
    .card .header h2 small {display: block;font-size: 14px;margin-top: 5px;color: #a51d1a;line-height: 15px;font-weight: 600;}
    .card .header i {position: absolute;top: 10px;right: 15px;list-style: none;font-size: 22px;}
    .card .body {font-size: 12px;color: #555;padding: 6px 20px;}
    .card .body span {width:25%;}
    .card .body table {width:100%;}
    .card .body tr {border-bottom: 1px solid #dadada;}
    .card table tr:last-child {border-bottom: 0;}
    .card .body td {padding: 4px 0;}
    tr td:first-child {color:#000;}
    #Details span {font-size:12px;}
    small {text-transform: none;}
</style>
</head>
<body>
    <div class="container bg_m" style="margin-bottom: 3em;margin-top: 2em;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row" id="Details" style="margin-top: 3%;">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var region = "";
    var regioncode = "";
    var Geovalues = "";
    $(document).ready(function () {
        Geolocationlog();
    });
    function Buildcontacts() {
        $('#Details').html("");
        var data = $.parseJSON(Geovalues != null ? Geovalues : "");
        if (data != "") {
            region = data.region;
            regioncode = data.region_code;
        }
        $.ajax({
            url: '@Url.Content("~/XML/Contactus.xml?v3.1")',
            dataType: "xml",
            success: function (xmlResponse) {
                $(xmlResponse).find('MEMBERS').each(function () {
                    if ($(this).find('STATE').text().toUpperCase() == region.toUpperCase()) {
                        var Address = "";
                        Address += "<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>";
                        Address += "<div class='card'>";
                        Address += "<div class='header'>";
                        Address += "<h2>" + $(this).find('STATE').text() + "</h2>";
                        Address += "<i class='icon-location-pin'></i>";
                        Address += "</div>";
                        Address += "<div class='body'>";
                        Address += "<table id='customers' style=' line-height: 1.6;'> ";
                        Address += "<tr>";
                        Address += "<td>Contact Person 1</td>";
                        Address += "<td>:&nbsp; " + $(this).find('CONTACT_PERSON_1').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact No.1</td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON1_NUMBER').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact Person 2</td>";
                        Address += "<td>:&nbsp; " + $(this).find('CONTACT_PERSON_2').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact No.2</td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON2_NUMBER').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact Person 3</td>";
                        Address += "<td>:&nbsp; " + $(this).find('CONTACT_PERSON_3').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact No.3 </td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON3_NUMBER').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Email ID </td>";
                        Address += "<td>:&nbsp; " + $(this).find('MAIL_ID').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Email ID 1</td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON3_MAILID').text() + "</td>";
                        Address += "</tr>";
                        Address += "</table>";
                        Address += "</div>";

                        Address += "</div>";
                        Address += "</div>";
                        $("#Details").append(Address);
                    }
                });
                $(xmlResponse).find('MEMBERS').each(function () {
                    if ($(this).find('STATE').text().toUpperCase() != region.toUpperCase()) {
                        var Address = "";
                        Address += "<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>";
                        Address += "<div class='card'>";
                        Address += "<div class='header'>";
                        Address += "<h2>" + $(this).find('STATE').text() + "<small>" + $(this).find('CITY').text() + "</small></h2>";
                        Address += "<i class='icon-location-pin'></i>";
                        Address += "</div>";
                        Address += "<div class='body'>";
                        Address += "<table id='customers' style=' line-height: 1.6;'> ";
                        Address += "<tr>";
                        Address += "<td>Contact Person 1</td>";
                        Address += "<td>:&nbsp; " + $(this).find('CONTACT_PERSON_1').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact No.1</td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON1_NUMBER').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact Person 2</td>";
                        Address += "<td>:&nbsp; " + $(this).find('CONTACT_PERSON_2').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact No.2</td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON2_NUMBER').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact Person 3</td>";
                        Address += "<td>:&nbsp; " + $(this).find('CONTACT_PERSON_3').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Contact No.3 </td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON3_NUMBER').text() + "</td>";
                        Address += "</tr>";
                        Address += "<td>Email ID </td>";
                        Address += "<td>:&nbsp; " + $(this).find('MAIL_ID').text() + "</td>";
                        Address += "</tr>";
                        Address += "<tr>";
                        Address += "<td>Email ID 1</td>";
                        Address += "<td>:&nbsp; " + $(this).find('PERSON3_MAILID').text() + "</td>";
                        Address += "</tr>";
                        Address += "</table>";
                        Address += "</div>";

                        Address += "</div>";
                        Address += "</div>";

                        $("#Details").append(Address);
                    }
                });

            },
            error: function (result) {
                showtoasterrormsg("Unable to connect remote server");
                return false;
            }
        });
    }
    function Geolocationlog() {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: 'https://ipapi.co/json',
            data: "{}",
            timeout: 10000,
            dataType: "json",
            success: function (locdata) {
                // localStorage.setItem("GeolocationValues", JSON.stringify(locdata));
                Geovalues = JSON.stringify(locdata);
                Buildcontacts();
                // geolocation = locdata;

            },
            error: function (result) {
                // $("body").data("Anothergeolocmethod", "Y");
            }
        });
    }

</script>