
.clsBoxShdow {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
    font-weight: 600;
}

.bg-img-bsa {
    display:block !important;
}

.clsBoxShdow h3 {
    color: #d60015;
    font-size: 25px;
    margin: 25px 0px 0px 0px;
    font-weight: normal;
    text-align: center;
}

.clsMySubLabel {
    color: #636262;
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}

ul.clsUlContent {
    padding-left: 15px;
}

ul.clsUlContent li {
    font-size: 17px;
    color: #333;
    font-weight: 500;
    line-height: 35px;
}

.clsButton {
    float: left;
    width: 50%;
}

a.clsButton {
    font-weight: 500;
    width: 175px;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    margin: 30px auto;
    display: block;
    text-align: center;
    float: none;
    border-radius: 30px;
    color: #fff !important;
    background-color: #303495;
    /*background-image: linear-gradient(to right, #d60015, #170079, #c1011c, #170079) !important;
    box-shadow: 0 4px 15px 0 rgba(52, 137, 214, 0.3);*/
    background-size: 300% 100%;
}

a.clsButton:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background:#ec182d;
}

@media (max-width: 768px) {

    a.clsButton {
        background-color: #ec182d !important;
    }

    .clsBoxShdow {
        padding-left: 10px !important;
    }

    .clsBoxShdow h3 {
        font-size: 22px !important;
        color:#000 !important;
    }

    .clsMySubLabel {
        font-size: 16px !important;
    }

    ul.clsUlContent li {
        font-size: 13px !important;
        line-height: 25px !important;
    }

    .clsButton {
        width: 100% !important;
    }

    a.clsButton {
        font-size: 14px !important;
        width: 95% !important;
        padding: 8px 0 !important;
    }

    body {
        background: none !important;
    }

    .clsBody {
        margin-left: 0%;
        margin-top: 3%;
    }

    .bg-img-bsa img {
        width: 320px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .clsBoxShdow h3 {
        font-size: 30px !important;
    }

    .clsMySubLabel {
        font-size: 20px !important;
    }

    ul.clsUlContent li {
        font-size: 17px !important;
    }
}

@media (min-width: 768px) {
    .clsBody {
        margin-left: 32%;
        margin-top: 3%;
    }
}