@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('../Fonts/icons.css');

body{font-family: 'Rubik', sans-serif !important;display: block;background-image: url(../../../images/body_bg_bottom.png);background-repeat: no-repeat;
      background-attachment: fixed;background-position: bottom;background-size: contain;background-color: #eee !important;}

/* ===============================  
            Home Master
================================== */

/* Scrolls */

.M_HOME_T1 .mycss-content-wrap {overflow-x: hidden;overflow-y: scroll;height: 444px;background-color:#eee;}
.M_HOME_T1 .mycss-content-wrap::-webkit-scrollbar{width: 6px;height: 6px;}
.M_HOME_T1 .mycss-content-wrap::-webkit-scrollbar-track{background: rgb(241, 242, 243);}
.M_HOME_T1 .mycss-content-wrap::-webkit-scrollbar-thumb{background: rgb(55, 158, 236);}

/* Buttons */

.action-button.color_S {border: 1px solid #fe7b22;border-bottom: 5px solid #fe7b22;background-color: #fff;width: 30%;margin: 10px;}
.action-button.color_C {background-color: #fff;border: 1px solid #27a5f5;border-top: 5px solid #27a5f5;width: 30%;margin: 10px;}
#section-topline-10 ._MssrSubmit {border: 1px solid #fe7b22;border-bottom: 5px solid #fe7b22;background-color: #fff;width: 110px;}
#section-topline-10 ._MssrClear {border: 1px solid #27a5f5;border-top: 5px solid #27a5f5;background-color: #fff;width: 110px;}

/*  Common css */

.M_HOME_T1 .iziModal img {width:100%;}
.M_HOME_T1 .iziModal .iziModal-button-close {right: 8px !important;}
.M_HOME_T1 .container {width: 100%;}
.M_HOME_T1 .M_000_Notify {display:block !important;}
.M_HOME_T1 ._Mcol {padding: 0 !important;}
.M_HOME_T1 .tabs nav a span {font-size: 13px;font-family: "Rubik", sans-serif !important;font-weight: 500;}
.M_HOME_T1 .break-sup-design_vat {margin-bottom: 25px;}
.M_HOME_T1 .rb-div {width: 100%;min-height: 30px;}
.M_HOME_T1 .ver {height: auto !important;}
.M_HOME_T1 ._MCard {border-radius: 5px;-webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);border: none;
                   -webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;background-color: #fff;}
.M_HOME_T1 ._MCard ._MCard-title {background-color: transparent;border-bottom: none;padding:15px 20px;position: relative;-webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
                       box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);}
.M_HOME_T1 ._MCard-title:first-child {border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;}
.M_HOME_T1 ._MCard ._MCard-title h5 {margin: 0;color: #37474f;font-size: 15px;font-weight: 500;position: relative;background: #fff;font-family: 'Rubik', sans-serif !important;
                          text-align: left;}
.M_HOME_T1 ._MCard ._MCard-title h5 span {float: right;color: red;font-size: 12px;}
.M_HOME_T1 ._MCard ._MCard-title h5:after {content: "";background-color: #3c4251;position: absolute;left: -20px;top: -2px;width: 4px;height: 20px;}
.M_HOME_T1 ._MCard-content {padding: 10px;}
.M_HOME_T1 ._MCard #SSRSpecialBtnSubmit input,
.M_HOME_T1 ._MCard #SSRBtnSubmit input{display: inline-block !important;background-color: #b60026;text-shadow: none;border: 0px !important;border-radius: 3px !important;
                                       color: #fff;position: relative;top: 10px;padding:6px 15px;left: 20px;}
.M_HOME_T1 ._MsIS {font-family: "Rubik", sans-serif !important;font-size: 12px;font-weight: 500;width: 100%;padding: 6px 10px !important;transition: 0.4s;border-radius: 3px !important;
        border: 1px solid #d8d8d8;}
.M_HOME_T1 .txt-anim {font-family: 'Rubik', sans-serif !important;font-weight:normal;font-size:12px;width: 100%;}
.M_HOME_T1 ._Mcol {padding: 0 !important;}
.M_HOME_T1 #dvsamplemain .cls-header {border-left: 0px !important;background: #fff;line-height: 30px;}
.M_HOME_T1 .tabs-style-topline {-webkit-box-shadow: 0px 4px 5px 0px rgba(69, 90, 100, 0.54);box-shadow: 0px 4px 5px 0px rgba(69, 90, 100, 0.54);}
.M_HOME_T1 .tabs-style-topline nav li a {line-height:1;font-size: 18px;}
#filterBody_dynamic_1 .cb:checked ~ .cbx, .splselebtn:hover, .cntr .cb:checked ~ .cbx, .splselebtn:hover {background: #d50631 !important;}

/*  Home  */
.M_HOME_T1 .block-hdnews, .block-hdnews .list-wrpaaer {background:#fff !important;}
.M_HOME_T1 .breakingNews .list-wrpaaer {height:auto !important;background:none !important;}
.M_HOME_T1 .breakingNews > ul {padding-left: 3.5em !important;}
.M_HOME_T1 .breakingNews > .bn-navi {width: 50px;opacity: 1;background-image: -moz-linear-gradient(45deg, #4a19c8 0%, #7979ff 100%) !important;
    background-image: -webkit-linear-gradient(45deg, #2196F3 0%, #00BCD4 100%) !important;background-image: -ms-linear-gradient(45deg, #4a19c8 0%, #7979ff 100%) !important;
    border-color: transparent;background-color: #2196F3 !important;}
.M_HOME_T1 .breakingNews > .bn-navi > span {background-image: url('../../../Images/bn-warrows.png');width: 24%;opacity: 1;}
.M_HOME_T1 .breakingNews > .bn-navi > span:first-child {background-position: left center;left: 12px;}
.M_HOME_T1 .breakingNews > .bn-navi > span:last-child {background-position: right center;right: 10px;}
.M_HOME_T1 .block-hdnews {height: 200px !important;background: #fff !important;}
.M_HOME_T1 .marquee {overflow: hidden;border: 1px solid #2da2ec;background: #2fa4ee;}
.breakingNews .marquee {background:#fff !important;border: none !important;padding: 9.5px 10px !important;color: #082841 !important;font-size: 12px;}
.block-hdnews .marquee {background: none !important;border: none !important;color: #12446f !important;padding: 11px 10px !important;text-align: justify;line-height: 1.8;}
#section-topline-1 .bg-blue .quote-slide {min-height: 120px;margin: 0;}
#section-topline-1 .camera_wrap {height: 415px !important;}
#section-topline-1 .cameraSlide .imgLoaded {width: 100% !important;height: 400px !important;}
#section-topline-1 .camera_wrap .camera_pag {display:none;}
#section-topline-1 .cls-header, #section-topline-2 .cls-header, #section-topline-3 .cls-header, 
#section-topline-4 .cls-header {margin-bottom: 0;color: #37474f;font-size: 15px;font-weight: 500;margin-right: 10px;line-height: 1.4;position: relative;
                                           border: none !important;background-color: #eee !important;}
#section-topline-1 .cls-header:after, #section-topline-2 .cls-header:after, #section-topline-3 .cls-header:after, 
#section-topline-4 .cls-header:after {content: "";background-color: #a41b18;position: absolute;left: 0px;top: 4px;width: 4px;height: 25px;}
.M_HOME_T1 ._MInfo, .M_HOME_T1 .foocus, 
.M_HOME_T1 .camera_wrap { box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
          -ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);background-color: white;border: 0;}
.M_HOME_T1 ._MInfo, .M_HOME_T1 .camera_wrap {margin-bottom: 1.5rem !important;border-radius: 4px;}
.M_HOME_T1 .foocus{margin-bottom: 0 !important;border-radius: 0;}
.M_HOME_T1 ._Mcol9 {padding-left:0;}
.M_HOME_T1 #loader {background-color:#fff !important;}
.M_HOME_T1 .clsspntitle {left: 15px;}
.M_HOME_T1 .content-wrap {border: none !important;background-color: #f7f7f7;}
.M_HOME_T1 #ChartTabs section {background-color: #eee;padding: 0;}
.M_HOME_T1 #_mUAEmarquee {display: none !important;}
.M_HOME_T1 .bg-blue {background-color: #fff !important;}
.M_HOME_T1 ._MuaeImg {display: none !important;}
.M_HOME_T1 .hdr-info1, .M_HOME_T1 .panel-heading {display: block !important;text-transform: capitalize;text-align: left;font-size: 14px;padding: 8px 10px;margin: 0px;
                                                  color: #fff;border-bottom: 1px solid #3db4db;background: #379ee8;}
.M_HOME_T1 .hdr-info1 i, .M_HOME_T1 .panel-heading i {font-size: 15px;padding-right: 7px;}
.M_HOME_T1 .hdr-info.foocus .letter, 
.M_HOME_T1 .foocus .letter {font-size: 16px !important;}
.M_HOME_T1 .bn-yellow {border-color: #2da2ec !important;background: #fff;}
.M_HOME_T1 .bn-yellow > .bn-title {color: #ffffff !important;background-image: -moz-linear-gradient(45deg, #4a19c8 0%, #7979ff 100%) !important;
    background-image: -webkit-linear-gradient(45deg, #2196F3 0%, #00BCD4 100%) !important;background-image: -ms-linear-gradient(45deg, #4a19c8 0%, #7979ff 100%) !important;
    border-color: transparent;background-color: #2196F3 !important;}
.M_HOME_T1 .bn-yellow > .bn-title > span {border-left-color: #3cafde !important;}
.tabs-style-topline nav a:hover, .tabs-style-topline nav a:focus, .tabs-style-bar nav ul li a:hover, 
.tabs-style-bar nav ul li a:focus {text-decoration: none;}
.M_HOME_T1 .card {border: none;margin-bottom: 0px;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.M_HOME_T1 .txt-anim ~ label {font-family: "Rubik", sans-serif !important;font-weight:500;font-size:12px !important;}

/*  Agent Sales  */

#section-topline-2 .m-t-15{margin-top:-15px !important;}
#section-topline-2 .m-t-15 label {margin-bottom:0;color: #5d5b72;float: left;}
#section-topline-2 .TxBandNew label {margin-bottom: 0 !important;}
#section-topline-2 .TxlblBox, #section-topline-4 .TxlblBox {padding: 0px 8px 15px 10px;box-shadow: 0px 1px 1px 1px #efefef;}
#section-topline-2 .Viewpnr, #section-topline-4 .Viewpnr {width: 100%;background: #fff !important;text-align: left;cursor: pointer;margin-bottom: 10px !important;
                                                          font-weight: 500;box-shadow: 0px 1px 1px 1px #efefef;border: none !important;}
#section-topline-2 .cls-header, 
#section-topline-4 .cls-header {background-color: #fff !important;margin-bottom: 2px !important;padding: 10px 20px;box-shadow: 0px 1px 1px 1px #efefef;border: none !important;
                                text-decoration: none !important;color: #272727;font-weight: 600 !important;font-family: "Rubik", sans-serif !important;font-size: 14px;}
#section-topline-2 .TxlblBox {padding: 0px 8px 15px 10px;box-shadow: 0px 1px 1px 1px #efefef;}
#section-topline-2 .cls-header:after, #section-topline-4 .cls-header:after {display: none !important;}
#section-topline-2 .fa-angle-double-down, #section-topline-4 .fa-angle-double-down {float: right !important;font-size: 17px !important;margin-left: 10px;}
#section-topline-2 .mrepnrdetail, #section-topline-4 .mrepnrdetail {padding: 15px 8px 20px 10px !important;}
#section-topline-2 .vpnrtb2, #section-topline-2 .vpnrtbl, #section-topline-4 .vpnrtb2, #section-topline-4 .vpnrtbl {background-color: #f5f5f5;}
#section-topline-2 .Viewright > tbody > tr > th, #section-topline-2 .vpnrtbl.table > tbody > tr > th,
#section-topline-2 #viewtable1 > tbody > tr > th {color: white !important;background-color: #2a384a !important;padding: 6px 10px;font-weight: normal;}
#section-topline-2 #viewtable1 tbody tr, #section-topline-2 .vpnrtb2 .bgcolor_blue, #section-topline-4 #viewtable1 tbody tr, 
#section-topline-4 .vpnrtb2 .bgcolor_blue {background-color: #c51232 !important;}
#section-topline-2 .vpnrtb2 .bgcolor_red {background-color: #b0072d !important;}
#section-topline-2 #salesdetaildiv {height: auto !important;}

/*  Bank Account Details  */

#section-topline-3 #bankdetails {margin-left:0px !important;}
#section-topline-3 ._MCard-title h5 {font-size:16px;}
#section-topline-3 ._MCard-title p {text-align: left;margin: 5px 0;margin-bottom: 0;color: #7b7b7b;font-weight: 600;}
#section-topline-3 table td, .M_HOME_T1 .segmented-control > label, .M_HOME_T1 #section-topline-3 span, 
#section-topline-3 p{font-family: "Rubik", sans-serif !important;}
#section-topline-3 img {padding:5px;border:1px solid #f4f4f4;}
#section-topline-3 .tblbnk th, 
#section-topline-3 .tblbnk td {font-size: 12px;}

/*  Agent Earnings  */

#section-topline-4 #reschehide h5 {margin: 15px;margin-right: 15px !important;}
#section-topline-4 .bordercss {border-radius: 0 !important;}
#section-topline-4 .table > thead > tr > th { background-color: #379eec !important;background-image: -webkit-linear-gradient(45deg, #2196F3 50%, #00BCD4 100%) !important;
                                              background-image: -ms-linear-gradient(45deg, #2196F3 50%, #00BCD4 100%) !important;border-color: transparent;}
#section-topline-4 .vpnrtbl tbody > tr > th {padding: 6px 10px !important;font-size: 13px;font-weight:500;}
#section-topline-4 .fixed-table-body {overflow: initial;}
#section-topline-4 .fa.fa-users, .M_HOME_T1 #section-topline-4 .fa.fa-file-text, .M_HOME_T1 .TxBandNew .fa.fa-users, 
.M_HOME_T1 .Viewpnr .fa.fa-file-text {padding-right: 8px;display: block !important;float: left !important;padding-left: 0px !important;}
#section-topline-4 #AgentCommission_tbl pre {font-size:12px;}
#section-topline-4 .spnEarn {font-size: 100% !important;padding: 0.5em 0.6em 0.5em !important; }
#section-topline-4 #Reschedule_details_tbl thead > tr > th {color: #FFF !important;border-left: 1px solid #ddd;font-weight:500;}

/*  Service Charges  */

#section-topline-5 .container {width:100% !important;}
#section-topline-5 .ssr_inner-Button .clsbuttoncolor {width: 150px;background-color: #f68831;border: 2px solid #f68831;text-shadow: none;border-radius: 30px !important;
                                                       color: #fff !important;float: right;top: -26px;position: relative;padding-top: 6px !important;}
#section-topline-5 .ssr_inner-Button .clsbuttoncolor:focus {outline:none;}
#section-topline-5 .ssr_inner-Button label{position: relative;top: -26px;}
#section-topline-5 ._MCard-content {padding-top: 30px;}
#section-topline-5 ._MCard-content .clsspntitle{display:block;}
#section-topline-5 #modal-chnagepwd .header{padding: 8px;font-size: 14px;border: 1px solid #f68831;background: #f68831;color: #ffffff;font-weight: bold;text-align: left;}
#section-topline-5 #btnmodify, #section-topline-5 #btndelete {margin-top:1em;}
#section-topline-5 #tblservicecharge table tr td .form-control {height: 25px;width: 85%;margin-left: 7%;}
#section-topline-5 #fscairlines div ul li input {width: 270px !important;}
#section-topline-5 .clsspntitle {font-size: 12px;font-weight: 600;}
#section-topline-5 .btn-submit:hover {color: #fff;}
#section-topline-5 .btn-submit {padding-top: 2px !important;border-radius: 3px;color: #fff !important;}
#section-topline-5 .btn-Clear {background: #edaa1e !important;padding-top: 2px !important;border-radius: 3px;}
#section-topline-5 .btn-Clear:hover {color: #fff;}     
#section-topline-5 .clsbuttoncolor {background-color: #ffffff;border: 2px solid #b60026;text-shadow: none;border-radius: 3px !important;color: #16324a !important;top: -8px;position: relative;}
#section-topline-5 .clsbuttoncolor:hover {background-color: #f68831 !important;color: #fff !important;padding-top: 4px !important;}
#section-topline-5 .clsTable {width: 85%;margin-left: 7%;}
#section-topline-5 .clswidth1 {width: 20%;text-align: center;}
#section-topline-5 .clswidth2 {width: 16%;text-align: center;}
#section-topline-5 .clswidth3 {width: 15%;text-align: center;}
#section-topline-5 .clswidth4 {width: 10%;text-align: center;}
#section-topline-5 .clsFirstcolumn {text-align: left;padding-left: 50px !important;}
#section-topline-5 .clsTopHeader {background: rgba(175, 175, 175, 0.3);font-weight: 400 !important;}
#section-topline-5 .checkbox .cr, #section-topline-5 .radio .cr {position: relative;display: inline-block;border: 1px solid #a9a9a9;border-radius: .25em;width: 1.3em;
                                                                 height: 1.3em;float: left;margin-right: .5em;}
#section-topline-5 .chkavail {width: 1.5em !important;height: 1.5em !important;}
#section-topline-5 .chkavailrnd {top: 2px;left: 2px;width: 1.5em !important;height: 1.5em !important;}
#section-topline-5 .checkbox label:after, #section-topline-5 .radio label:after {content: '';display: table;clear: both;}
#section-topline-5 :before, #section-topline-5 :after {box-sizing: border-box;}
#section-topline-5 .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, 
#section-topline-5 .radio label input[type="radio"]:checked + .cr > .cr-icon {transform: scale(1) rotateZ(0deg);opacity: 1;}
#section-topline-5 .checkbox label input[type="checkbox"] + .cr > .cr-icon, 
#section-topline-5 .radio label input[type="radio"] + .cr > .cr-icon {transform: scale(3) rotateZ(-20deg);opacity: 0;transition: all .3s ease-in;}
#section-topline-5 .checkbox .cr .cr-icon, #section-topline-5 .radio .cr .cr-icon {position: absolute;font-size: .8em;line-height: 0;top: 52%;left: 15%;}
#section-topline-5 .checkbox label input[type="checkbox"], #section-topline-5 .checkbox label input[type="radio"] {display: none;}
#section-topline-5 .checkbox label input[type="checkbox"], #section-topline-5 .radio label input[type="radio"] {display: none;}
#section-topline-5 .radio label, #section-topline-5 .checkbox label {min-height: 0px;padding-left: 0px;margin-bottom: 0;font-weight: normal;cursor: pointer;}
#section-topline-5 .radio, #section-topline-5 .checkbox {position: relative;display: block;margin-top: 5px;margin-bottom: 1px;}
#section-topline-5 .clsAllTdIndication {font-size: 10px;font-style: normal;font-weight: 600;padding-left: 20px;}
#section-topline-5 .table {width: 90%;}


/*  Agent Support  */

#section-topline-7 ._Mcol12, #section-topline-7 ._Mcol13, #section-topline-7 ._Mcol_T0, 
#section-topline-7 ._Mcol_T1{float:left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
#section-topline-7 ._Mcol12, #section-topline-7 ._Mcol_T1 {width:40%;}
#section-topline-7 ._Mcol13, #section-topline-7 ._Mcol_T0 {width:60%;}
#section-topline-4 .inner-tab, #section-topline-7 .inner-tab {padding: 0 !important;}
#section-topline-7 .cls-header {border-left: 0px !important;    border-bottom: 1px solid #dedede !important;color: #4a4e52;
                                font-family: "Rubik", sans-serif !important;line-height: 0 !important;padding: 15px 10px;margin: 0px 0px 25px 0px;font-size: 15px;}
#section-topline-7 .Agent-info {width: 100%;max-width: 500px;min-height: 300px;border-radius: 4px;box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);-ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);}
#section-topline-7 .Agent-info.c1 {background-color: #27a5f5;color: #fff;}
#section-topline-7 .Agent-info.c2 {color: #795548 !important;background-color: #f0f2f6 !important;font-size: 13px;line-height: 1.8;max-width: 100% !important;    
                                   border: 1px solid #d9d9da;text-align: left;}
#section-topline-7 .Agent-info.c3 {background-color: #fe7b22;color: #fff;}
#section-topline-7 .classy-hdr {background-color: rgba(255,255,255,0.55);padding: 10px;margin: 0;text-transform: capitalize;font-weight:600;}
#section-topline-7 .classy-hdr i {padding-right: 6px;}
#section-topline-7 ._Muaeagentsupport {display:none;}
#section-topline-7 .cntr-logo {width: 100%;height: 100%;line-height: 75px;text-align: center;background-color: rgba(0,0,0,0.1);}
#section-topline-7 .agn-det-tbl {width: 100%;height: 100%;line-height: 37px;}
#section-topline-7 .qry-det-tbl {margin: 0px 10px;color: #795548;font-size: 12px;width: 100%;}
#section-topline-7 .qry-det-tbl .qry-det-tbl-que {border-right: 1px solid rgba(255,255,255,0.3);padding: 4px 0px;width: 50%;}
#section-topline-7 .agn-det-tbl .agn-det-tbl-ans,
#section-topline-7 .qry-det-tbl .agn-det-tbl-ans {font-weight: 600;border-bottom: 1px dashed rgba(255,255,255,0.4);margin-left: 5px;}
#section-topline-7 .qry {width: 80%;border: 1px solid #ddd;background-color: aquamarine;margin-top: 10px;}
#section-topline-7 .header {border: 1px solid #ddd;padding: 15px;margin-top: 10px;border-radius:4px !important;}
#section-topline-7 .break-sup-design {margin-bottom: 25px;}
#section-topline-4 .inner-tab, 
#section-topline-7 .inner-tab {padding: 0 !important;}
#section-topline-7 .nice-select.open .list {height: 260px !important;width:100% !important;}
#section-topline-7 .nice-select .list{width:100% !important;}
#section-topline-7 .tabs-style-topline nav a:hover,
#section-topline-7 .tabs-style-topline nav a:focus{text-decoration: none !important;}
#section-topline-7 ._M_Query:before, 
#section-topline-7 ._M_Help:before, 
#section-topline-7 ._M_Email:before {display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;
                                     -webkit-font-smoothing: antialiased;padding-right: 10px;}
#section-topline-7 ._M_Query:before{content: "\f29c";}
#section-topline-7 ._M_Help:before{content: "\f095";}
#section-topline-7 ._M_Email:before{content: "\f003";}

/*  Agent Topup */

#section-topline-8 .sky-tab-content-1 .cls-header, #section-topline-8 .sky-tab-content-2 .cls-header, #section-topline-8 .sky-tab-content-3 .cls-header {padding: 6px 0px;}
#section-topline-8 .sky-tabs > input:checked + label span span {background-image: -webkit-linear-gradient(45deg, #2196F3 0%, #00BCD4 100%) !important;
    background-image: -ms-linear-gradient(45deg, #4a19c8 0%, #7979ff 100%) !important;border-color: transparent;background-color: #2196F3 !important;color: #fff;}
#section-topline-8 .sky-tabs > label:hover span span {background: #ae042a;color: #fff;}
#section-topline-8 .fadeInDownSmall .sky-tabs > input:checked + label span span {margin-right: -2px;}
#section-topline-8 .fadeInDownSmall .sky-tabs > label:hover span span {background: #3fbad5;color: #fff;}
#section-topline-8 .sky-tabs > input:checked + label span span:after {content: '';position: absolute;left: 100%;top: 50%;margin-left: 0px;margin-top: -13px;border-left: 0;
                                                               border-bottom: 13px solid transparent;border-top: 13px solid transparent;border-left: 10px solid #3db3dd;}
#section-topline-8 .fadeInDownSmall .sky-tabs > label:hover span span a {color:#fff !important;}
#section-topline-8 .fadeInDownSmall .sky-tabs > ul > li {-o-transform-origin: inherit;-ms-transform-origin: inherit;-moz-transform-origin: inherit;
                   -webkit-transform-origin: inherit;-o-transition: inherit;-ms-transition: inherit;-moz-transition: inherit;-webkit-transition: inherit;}
#section-topline-8 .fadeInDownSmall .sky-tabs > label span span {padding: 0px 20px;}
#section-topline-8 .fadeInDownSmall .sky-tabs > label span span em{font-style:normal;}
#section-topline-8 .fadeInDownSmall .sky-tab-content-1, .fadeInDownSmall .sky-tab-content-2, .fadeInDownSmall .sky-tab-content-3 {margin-left: -1px;}
#section-topline-8 ._M_R_AgentTP fieldset {padding: 1em;border: 1px solid #999;margin-bottom:10px;}
#section-topline-8 ._M_R_AgentTP legend {font-family: "Poppins", sans-serif !important;font-size: 14px;font-weight: 500;border: none;padding: 6px;width: auto;margin-bottom: 0;}
#section-topline-8 .sky-tabs-pos-left > ul {perspective: none;-webkit-perspective: none;}
#section-topline-8 .sky-tabs-pos-left > ul li{min-height:auto !important;}
#section-topline-8 .sky-tabs-pos-left > label{width: 12% !important;border: 1px solid #edf9fc;padding: 0;}
#section-topline-8 .sky-tabs-pos-left > ul {margin-left: 12%;border: 1px solid #efefef;}
#section-topline-8 .sky-tabs > label span {display: block;padding: 0px;}
#section-topline-8 .sky-tabs > label span span {text-align:center;}
#section-topline-8 .sky-tabs > label .fa{display: block;float: left;width: 100%;margin: 0;font-family: FontAwesome;font-style: normal;font-size: 30px;line-height: 0;
                                         padding: 20px 0 10px 0;text-align: center;-webkit-font-smoothing: antialiased;}
#section-topline-8 .sky-tabs > label .icofont {display: block;float: left;width: 100%;margin: 0;font-family: FontAwesome;font-style: normal;font-size: 40px;line-height: 0;
                                               padding: 25px 0 15px 0;text-align: center;-webkit-font-smoothing: antialiased;}
#section-topline-8 .sky-tabs > label .icofont {font-size: 30px;padding-right: 6px;position: relative;top: 6px;}
#section-topline-8 .sky-tabs-anim-flip > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1, 
#section-topline-8 .sky-tabs-anim-flip > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2, 
#section-topline-8 .sky-tabs-anim-flip > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3, 
#section-topline-8 .sky-tabs-anim-flip > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4{z-index:0;}
#section-topline-8 .sky-tabs > label span {display: block;padding: 0px;}
#section-topline-8 .sky-tabs > label span span {text-align: center;}
#section-topline-8 ._S8A {color:#6d6767;}
#section-topline-8 ._S8A:hover {color:#fff !important;}
#section-topline-8 .rb-div {width: 50%;min-height: auto;float: left;padding: 10px 0;}
#section-topline-8 .rb-div .bullet {margin-top: -18px;}
#section-topline-8 input[type="radio"]:checked ~ .bullet {border: 3px solid #3fbad5;}
#section-topline-8 .rb-div .line {background-color: #3fbad5;}
#section-topline-8 input[type="radio"] {top:-8px;}
#section-topline-8 .break-sup-design {margin-bottom: 25px;}

/*  Group Booking  */

#section-topline-9 h4.manditary {text-align: right;color: red;font-size: 12px;margin-right: 3%;}
#section-topline-9 h6.hint {color: red;font-size: 10px;text-align: right;position: absolute;top: -24px;right: 4px;}
#section-topline-9 fieldset.raysfldset {border: 1px solid #fafafa;padding: 8px;border-radius: 4px;box-shadow: 0px 1px 3px 0px #ccc;}
#section-topline-9 .raysfldset legend {display: block;white-space: nowrap;width: 75%;padding: 0;margin-bottom: 10px;font-size: 12px;line-height: inherit;
                                                        border: 1px solid #eee;border-radius: 4px;padding-left: 5px;background: #fafafa;}
#section-topline-9 .grouptripclass > label:before {background-color: #4CAF50 !important;}
#section-topline-9 .grouptypefarecls > label:before {background-color: rgba(255, 87, 34, 0.58) !important;}
#section-topline-9 .fa-remove {color: #b40b30 !important;padding: 8px 20px !important;border-radius: 20px;}
#section-topline-9 .fa-angle-double-down {color: #b40b30 !important;padding: 8px 4px !important;border-radius: 20px;}
#section-topline-9 .inner-tab .cls-header {border-left: 0px !important;background: #ffffff;-webkit-box-shadow: 0px 4px 5px 0px rgba(69, 90, 100, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(69, 90, 100, 0.54);padding: 4px 15px;margin-bottom: 20px !important;font-family: "Rubik", sans-serif !important;
    font-size: 14px;font-weight: 600;color: #0e3454;}
#section-topline-9 .inner-tab .grouptripclass > label:before {background-color: #666 !important;}
#section-topline-9 .inner-tab .grouptypefarecls > label:before {background-color: rgb(22, 50, 74) !important;}
#section-topline-9 .segmented-control {background-color: #fff !important;border: 1px solid #ddd !important;}
#section-topline-9 .dv-anim, #section-topline-9 .dv-anim1 {margin: 5px 0;}
#section-topline-9 .dv-anim1{float: left;width: 100%;z-index: 999;position: relative;}
#section-topline-9 ._M_R_GroupBook fieldset {padding: 1em;border: 1px solid #999;margin-bottom:10px;}
#section-topline-9 ._M_R_GroupBook legend {font-family: "Rubik", sans-serif !important;font-size: 14px;font-weight: 500;border: none;padding: 6px;width: auto;margin-bottom: 0;}
#section-topline-9 ._MCard-content .grouptripclass > label:before {background-color: #666 !important;}
#section-topline-9 ._MCard-content .grouptypefarecls > label:before {background-color: rgb(22, 50, 74) !important;}
#section-topline-9 ._MCard-content .clsspntitle {left:17px;}
#section-topline-9 ._MCard-content textarea {height: 35px !important;}
#section-topline-9 .txt-anim ~ label {left:0px !important;}
#section-topline-9 .nice-select.open .list{height:165px !important;}
#section-topline-9 .dropdown-menu > .active > a {background: #b0072c;background: -webkit-linear-gradient(to right, #F45C43, #EB3349);background: linear-gradient(to right, #981a38, #e00031) !important;}
#section-topline-9 .dropdown-menu > .active > a span{color: #fff !important;}
#section-topline-9 .typeahead .clsthmail {font-size:13px !important;}
#section-topline-9 ._padd_right {padding-right:0;}

/*  SSR  */

#section-topline-10 {padding: 0;}
#section-topline-10 .container {width:100%;}
#section-topline-10 input[type="button"].button{display:block;}
#section-topline-10 .inner-tab{padding: 10px;padding-bottom: 2em;border: 1px solid #eee;background-color: #f5f5f5;}
#section-topline-10 .inner-tab .cls-header {border-left: 0px !important;background: #ffffff;-webkit-box-shadow: 0px 4px 5px 0px rgba(69, 90, 100, 0.54);
                                            font-weight: 600;color: #0e3454;box-shadow: 0px 2px 5px 0px rgba(69, 90, 100, 0.54);padding: 4px 15px;margin: 5px 15px !important;
                                            font-family: "Rubik", sans-serif !important;font-size: 14px;}
._M_R_SSR .groove {border-style: groove;width: 650px;height: 100px;}
._M_R_SSR .card{margin-bottom: 1.875rem;border: none;-webkit-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);box-shadow: 1px 1px 20px 5px rgba(62,57,107,.07);}
._M_R_SSR .button {background-color: #4CAF50;border: double;color: white;text-decoration: none;}
._M_R_SSR .form-group {position: relative;margin-bottom: 1.5rem;}
._M_R_SSR .form-control-placeholder {position: absolute;top: 0;padding: 7px 0 0 13px;transition: all 200ms;opacity: 0.5;}
._M_R_SSR .form-control:focus + .form-control-placeholder,
._M_R_SSR .form-control:valid + .form-control-placeholder {font-size: 85%;transform: translate3d(0, -100%, 0);opacity: 1;}   
._M_R_SSR .form-control-placeholder {position: absolute;top: 0;padding: 7px 0 0 13px;transition: all 200ms;opacity: 0.5;}
._M_R_SSR label {cursor: default;display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;float:left;}
._M_R_SSR .tavmaindiv .tab-content {color: #333;border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;
                                    padding: 25px 15px;background: #fff;}
._M_R_SSR .tavmaindiv td, ._M_R_SSR th {padding: 5px 5px;font-size: 14px;}
._M_R_SSR #SSRShow table {border: 1px solid #e4e4e4 !important; }
._M_R_SSR .tavmaindiv table {width:100%;}
._M_R_SSR #tblSalesreport {border:none;}
._M_R_SSR .gridStyle {height: 30px;background-color: #e4e4e4;color: #333;}
._M_R_SSR ._MssrDashboard, ._M_R_SSR ._MssrRequest{background-color: #f68831;border: 2px solid #f68831;text-shadow: none;border-radius: 30px !important;color: #ffffff;
                                                   float: right;top: -24px;position: relative;}
._M_R_SSR ._MssrDashboard:focus, ._M_R_SSR ._MssrRequest:focus{border-color: #f68831;}
._M_R_SSR #DashboardDisalyView .table-striped > tbody > tr:nth-of-type(odd){background-color: #ffffff !important;}
._M_R_SSR #DashboardDisalyView  .table > tbody > tr > td {border-bottom: 1px solid #d0d0d0!important;}
._M_R_SSR #DashboardDisalyView .table > tbody {border: 1px solid #ddd;}
._M_R_SSR #DashboardDisalyView .containerer {position: relative;cursor: pointer;font-weight: 500;}
._M_R_SSR #DashboardDisalyView .containerer input {opacity: 0;cursor: pointer;height: 0;width: 0;}
._M_R_SSR #DashboardDisalyView .containerer:hover input ~ .checkmark_r {background-color: #ccc;}
._M_R_SSR #DashboardDisalyView .containerer input:checked ~ .checkmark_r {background-color: #a50015;}
._M_R_SSR #DashboardDisalyView .containerer .checkmark_r {position: absolute;top: 0;left: -30px;height: 22px;width: 22px;background-color: #d7d7d7;}
._M_R_SSR #DashboardDisalyView .containerer .checkmark_r:after {content: "";position: absolute;display: none;}
._M_R_SSR #DashboardDisalyView .containerer input:checked ~ .checkmark_r:after {display: block;}
._M_R_SSR #DashboardDisalyView .containerer .checkmark_r:after {left: 9px;top: 5px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0; 
                                                      -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
._M_R_SSR .ssr_inner-Button input{width:150px;}
._M_R_SSR th.footable-sortable {background-color: #283a4a !important;color: #fff !important;padding: 0px 10px !important;padding-top: 5px !important;
                                padding-bottom: 5px !important;font-weight: 500;white-space:nowrap;}
._M_R_SSR .table {margin-bottom: 0!important;border-bottom: 1px solid #ddd;border-collapse: collapse!important;border-radius: 1px;float: left;}
._M_R_SSR .table > tbody > tr > td {padding: 8px !important;font-size: 12px;white-space: nowrap;}
._M_R_SSR .table > thead > tr > th {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;font-size: 13px;}
._M_R_SSR .nav-tabs > li > a i {padding-right:6px;font-size: 18px;}
._M_R_SSR .nav-tabs > li.active > a, ._M_R_SSR .nav-tabs > li.active > a:hover {color: #3c4251;font-weight: 600;}
._M_R_SSR .nav-tabs > li.active > a:focus {outline:none;color: #00BCD4 !important;}
._M_R_SSR .fa-plus, ._M_R_SSR .fa-minus {width: 20px;height: 20px;border-radius: 50%;padding: 4px 4px;margin-right: 6px;background-color: white;margin-top: 5px;}
._M_R_SSR .fa-minus{color: #b60026;border: 1px solid #b60026;}
._M_R_SSR .fa-plus{color: #283a4a;border: 1px solid #283a4a;}

/*  FAQ */

#section-topline-12 .faq-list {padding: 20px;overflow-y: scroll;height: 500px;}
#section-topline-12 .faq-list::-webkit-scrollbar {width: 12px;height: 12px;}
#section-topline-12 .faq-list::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.1);}
#section-topline-12 .faq-list::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 0.5);}
#section-topline-12 .faq-list .faq-slide {padding-bottom: 20px;}
#section-topline-12 .faq-list .faq-slide .question {line-height: 26px;padding-bottom: 10px;border-bottom: dashed 1px #8a021f;font-size: 14px;color: rgba(0,0,0,.6);text-align: left;font-weight: 600;}
#section-topline-12 .faq-list .faq-slide .ans {padding: 14px 0 0 0;}
#section-topline-12 .faq-list .faq-slide .ans p {line-height: 24px;color: #888888;font-size: 13px;margin: 0px;text-align: left;}
#section-topline-12 .faq-list .faq-slide .ans span {font-size: 14px;color: rgba(0,0,0,.6);font-weight: 600;}


/* ===================================  
        OverAll Responsive  
====================================== */ 

@media (min-width: 320px) and (max-width: 480px){
    .M_HOME_T1 ._Mcol_100 {width:100% !important;}   
     #section-topline-5 .ssr_inner-Button .clsbuttoncolor {width: 100px;top: -22px;right: -26px;position: relative;padding: 3px !important;font-size: 12px;}    
}

@media (min-width: 481px) and (max-width: 767px){

}

@media (max-width: 768px) {
    .M_HOME_T1 .mycss-content-wrap {height: 360px;}
    .M_HOME_T1 ._MCard {margin-top: 10px;}
    .M_HOME_T1 .tabs nav ul li a span {transform: translateX(0);transition: 1s;font-size: 12px;}
    .M_HOME_T1 .tabs nav ul li a:hover span {transform: translateX(calc(0px - 100%));}
    .M_HOME_T1 .tabs-style-topline nav li:not(:last-child) {width:10%;}
    .M_HOME_T1 .tabs ul li a::before {display: block;}    
    .M_HOME_T1 .m-b-10 {margin-bottom: 10px !important;margin-top: 10px !important;}
    #section-topline-1 .bg-blue .quote-slide, .block-hdnews .list-wrpaaer {height:200px;}    
    #section-topline-2 .txt-anim {margin-bottom: 20px;} 
    #section-topline-2 .m-sm-t20, #section-topline-2 .m-xs-t20 {margin-top: 30px !important;}
    #section-topline-3 .tblbank {margin-bottom: 15px !important;border: none !important;background-color: #f2f2f2;padding: 10px;margin: 0 !important;}
    #section-topline-5 #txtAirLineName {height:100px !important;padding: 0 !important;}
    #section-topline-5 #txtAirLineName option{padding: 5px 5px;border-bottom: 1px solid red;}
    #section-topline-7 ._Mcol_T0, #section-topline-7 ._Mcol_T1 {width:100%;}  
    #section-topline-7 ._Mcol12, #section-topline-7 ._Mcol13{width:100%;padding: 0;}    
    #section-topline-8 .fadeInDownSmall .sky-tabs > label span span {padding:0;height: 60px;}
    #section-topline-8 .fadeInDownSmall .sky-tabs > label span span em {font-size: 11px;font-weight: 600;}
    #section-topline-10 .m-b-20 {margin-bottom:20px;}
    #section-topline-10 .m-sm-t20, .m-xs-t20 {padding: 0 !important;}
    #section-topline-10 ._MssrSubmit, #section-topline-10 ._MssrClear {float: left;margin: 20px 0;}    
    #section-topline-10 ._MssrSubmit{margin-right: 15px;}
}
@media (min-width: 769px) and (max-width: 991px) {
    .M_HOME_T1 .tabs nav ul li a span {transform: translateX(0);transition: 1s;font-size: 12px;}
    .M_HOME_T1 .tabs nav ul li a:hover span {transform: translateX(calc(0px - 100%));}
    .M_HOME_T1 .tabs-style-topline nav li:not(:last-child) {width:10%;}
    .M_HOME_T1 .tabs ul li a::before {display: block !important;}
    .M_HOME_T1 .block-hdnews .marquee{height:auto !important;font-size: 11px;padding:2px !important;}
    #section-topline-1 .bg-blue .quote-slide {padding: 10px 2px;font-size: 12px;}
    #section-topline-2 .txt-anim {margin-bottom: 20px;} 
    #section-topline-7 ._Mcol_T0, #section-topline-7 ._Mcol_T1 {width:100%;}
    #section-topline-7 ._Mcol12, #section-topline-7 ._Mcol13{padding: 0;width:50%;}    
    #section-topline-8 .fadeInDownSmall .sky-tabs > label span span {padding:0;}
    #section-topline-8 .fadeInDownSmall .sky-tabs > label span span em {font-size: 11px;font-weight: 600;}
}

@media (min-width: 992px) and (max-width: 1024px) {
    .M_HOME_T1 .tabs nav a span {font-size:12px;}
    .M_HOME_T1 .tabs-style-topline nav a {padding: 6px 2px;}
    .M_HOME_T1 .block-hdnews .marquee {padding: 10px 6px !important;line-height: 1.2;font-size: 12.5px;}
    #section-topline-7 ._Mcol12, #section-topline-7 ._Mcol_T1 {padding:0;}
    #section-topline-7 .qry-det-tbl .qry-det-tbl-que{width:42%;}
    #section-topline-8 .fadeInDownSmall .sky-tabs > label span span {padding:0;}
    #section-topline-8 .fadeInDownSmall .sky-tabs > label span span em {font-size: 11px;font-weight: 600;}
    #section-topline-8 .rb-div label.rblbl {font-size: 11px;}
    #section-topline-8 .rb-div label.rblbl:before {margin-top:0px;}
    #section-topline-8 .rb-div .bullet {margin-top: -21px;}
}

@media (min-width: 1025px) and (max-width: 1280px){

}

@media (min-width: 1281px) {
   
}
