.rg-thank-you .details-box .para-lightgry {font-size:14px;}
.rg-thank-you .bg-flight {background:url(../../Images/UAE/VISA/thank-you-plane.png) no-repeat; position:relative;top:-40px;}
.details-box{border: 1px solid #e0dddd !important;padding: 50px 40px 60px 40px !important;overflow: hidden;background:rgba(255, 255, 255, 0.92);border-radius: 10px;}
.rg-thank-you .details-box {max-width: 650px;margin: 100px auto 0px;min-height: 400px;padding:65px 40px 60px 40px;}
.rg-thank-you .details-box a.bck-home {position: relative;top: 0;padding: 0;text-align: center;display: block;z-index: 2;font-size: 18px;color: #ca2a67;font-weight: bold;letter-spacing: 2px;}
.rg-thank-you .details-box .heading05:before {right:0; left:0;    margin: 0 auto;}
.rg-thank-you .details-box {background:#fff url('../../../Images/UAE/VISA/thank-you-building.png') no-repeat center bottom; border:0;}
.heading03:before {position: absolute;content: "";width: 160px;background: #27a5f5;height: 2px;bottom: -10px;left: 0;right: 0;margin: 0 auto;}
.heading03 {font-size:20px;color: #000;position: relative;margin: 0 0 20px 0;}
