.row0{margin-left:0px;margin-right:0px;}
.login {background: url(../../../Images/TME3/login.jpg) repeat #CCC;margin:0px;}
.login-header {background-color: #dcdcdc;padding-top: 5px;padding-bottom:5px;}
.login-header .container {width: 94%;}
.tit-hd {color: #bc0000;font-weight: bold;font-size: 18px;padding: 12px 0;text-align: center;}
.mrg-rt-8 {margin-right: 8%;}
.radius {-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
         -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);}
.loginboxinner {background: #d82623;position: relative;border: 1px solid #333;-moz-box-shadow: inset 0 1px 0 #444;
                -webkit-box-shadow: inset 0 1px 0 #444;box-shadow: inset 0 1px 0 #444;}
.login-tit {background: #000;color: white;padding: 10px;vertical-align: super;text-align: center;margin-bottom:20px;font-size:17px;}
.login-bdy {margin-top: 4%;}
.bg-clr {background: #d12027;float:left;}
.login-bdy .dv-anim, .loginbtn  {width: 88% !important;}
.login-bdy .animationdivuser, .login-bdy .animationdive {margin: 15px 6% !important;}
.login-bdy input[type=text], 
input[type=password] {padding: 7px 9px 7px 9px !important;border-bottom: 1px solid #ccc !important;border-top: none !important;
                      border-left: none !important;border-right: none !important;border-radius: 0px !important;}
.login-bdy .txt-anim ~ label {margin: 0px;color: #d3d0d0 !important;left:0px;}
.spneye {position: absolute;top: 7px;right: 10px;font-size: 16px;color:#dfdede;cursor: pointer;}
.login-bdy .txt-anim ~ .focus-border:before, .txt-anim ~ .focus-border:after{height:1px;}
.loginbtn {background-color: #fff !important;border: none !important;width: 100%;text-align: center;}
.login-bdy input[type="text"], .login-bdy input[type="password"]{color:#fff;}
#get_login, #get_clear {padding: 8px 25px !important;border-radius: 1px;    color: #000;font-weight:600;font-size:13px;width:100% !important;
                        font-size:13px;border:2px solid #fff !important;}
.copyright {float: left;width: 100%;text-align: center;margin: 25px 0px 10px 0px;}
.copyright p {color: #fff;font-size: 13px;}
.login-bdy .btnRays-1e:hover:after {height: 190%;opacity: 1;}
.login-bdy .btnRays-1e:after {width: 100%;height: 0;top: 50%;left: 50%;background: #ffc8ca;opacity: 0;-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
                              -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
                              transform: translateX(-50%) translateY(-50%) rotate(45deg);}
.login-bdy .btnRays{height: 40px;line-height: 22px;}
#get_login:hover, #get_clear:hover {border: #000 !important;border: 2px solid #ffc8c9 !important;color: #b8040b;}
.mr-tp15{margin-top:15px;}
.errhide {position: absolute;font-style: normal;color: #000000;font-size: 12px;padding-top: 4px;}
.brdr-clr{border:2px solid #333;}

/*Responsive - 03122018*/

@media screen and (max-width: 767px) {
    .mrg-rt-8 {text-align: center;margin-right: 0px !important;margin-top:10px;}
    .tit-hd {font-size:15px;padding: 6px 0; }
    .login-bdy {margin-top:0;}
}