/*#region Base Color1 - Blue - #00afe1 */
.action-button.colorB {
    border: 1px solid #00afe1;
    border-bottom: 5px solid #00afe1;
}

.cls-header:before
{
    border-left-color:#00afe1 !important;
}
.cls-header,
.radio-group__label + input + .radio-group__label:before,
.clsagndetils.d3,.clsagndetilsmob.d3
{
    border-color:#00afe1 !important;
}
.cb:checked ~ .cbx,
.splselebtn:hover {
    background:#00afe1 !important;
}
.radio-group__option:checked + label,
.hover-zoom li a i
 {
    color: #00afe1 !important; 
}
/*#endregion */

/*#region Base Color2 - Orange - #fe7b22 */
.action-button.color {
    border: 1px solid #fe7b22;
    border-bottom: 5px solid #fe7b22;
}

.action-button:active,
.bn-yellow,
.btnRays,
.clsagndetils.d2,.clsagndetilsmob.d2
{
    border-color:#fe7b22 !important;
}
.clslogo .logo
{
    border-bottom-color:#fe7b22 !important;
}
.bn-yellow>.bn-title,
.btnRays,
.clsAgnBal,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.selebtn, .bestbutbtn:hover,
.nrmlFr
{
    background:#fe7b22;
}
.bn-yellow>.bn-title>span
{
    border-left-color:#fe7b22 !important;
}
.bn-yellow>ul>li>a:hover,.bn-yellow>ul>li>a>span,
.foocus .letter,
bootstrap-table button,
.calfare .calfrdv
{
    color:#2cc185 !important;
}

/*#endregion */

/*#region Base Color3 - Green - #2CC185 */

#resultFilter .prices .priceFilter .ui-widget-header,
.bestbutbtn,
.selebtn:hover,
.cls_showearning,
.Goesstooltip_head,
.rt.pricingTable,
.splFr,
.rts.pricingTable:after,
.callFarinner table tr.Head th {
    background:#2CC185 ;
}
.action-button.colorG {
    border: 1px solid #2CC185;
    border-bottom: 5px solid #2CC185;
}
.div-green {
    border-bottom-color: #2CC185!important;
    border-top-color: #2CC185!important;
}

.tooltipster-punk,
.clstickselAvailbtm
{
    border-color:#2CC185 !important;
}

/*.tabs-style-topline nav li.tab-current
{
	border-left-color: #2CC185;
}*/
/*.tabs-style-topline nav li.tab-current
{
	background-color: rgba(44, 193, 133,0.2);
}*/
.clsagndetils.d1,.clsagndetilsmob.d1,
.tabs-style-topline nav li.tab-current a 
{
    border-color: #2CC185 !important;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus,
.tabs-style-topline nav li.tab-current a,
.tabs-style-bar nav ul li a:hover,
.tabs-style-bar nav ul li a:focus 
{
	color: #2CC185;
}
/*.tabs-style-topline nav li.tab-current a
{
box-shadow: inset 4px 0px 0 #2CC185;
}*/
/*#endregion */

/*#region Base Color4 - Blue2 - #27a5f5 */
.block-hdnews,
.bg-blue,
.table > thead > tr > th,
.wsmenu-list > li > a,
.headerstripVrtcal,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
#scrolls,.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover,
.clsAvailStops,
.tooltipster-punk,
.wsmenu-list
{
    background-color: #27a5f5 !important;
}
.splselebtn {
    background-color: #99cb33 !important;
}
    .wsmenu-list > li > a.active,
    .wsmenu-list li:hover > a {
        background-color:rgba(0, 143, 234, 0.93) !important;
    }
.list-aggregate li:hover { 
    background-color: rgba(56, 177, 253, 0.9);
}
.raysfldset legend,
.clsavail_dtls
{
    color: #27a5f5 !important;
}
.clsBoxShdow {
    border-left: solid 3px #27a5f5;
}
.action-button.colorB1 {
    border: 1px solid #27a5f5;
    border-top: 5px solid #27a5f5;
}
.ui-widget-content {
    border-top: 5px solid #27a5f5 !important;
}
.chosen-container-multi .chosen-choices li.search-choice,
.clsavailcityicon
{
    border-color:#27a5f5 !important;
}
/*#endregion */

/*#region light-red- #ff7676 */

.nextdayclss,
.vcenter:hover,
.filtertab .ftabs .ftabs-title .spntit span .ftabs_mat .ftabs_mat-title .spntit span,
.nofltfound {
    background-color: #ff7676;
}

/*#endregion */

/*#region Base Color5 - yellowgreen - #1ABC9C */
.topborder,.footer
 {
    /*background-color: #1ABC9C !important;*/
}

/*#endregion */



/*#region Base Color6 - Gray - #74777b */
.tabs-style-topline nav a{
    color: #74777b;
}
/*#endregion */

/*#region Base Color7 - Gray2 - #f5f5f5 */

/*#endregion */

/*#region Base Color7 - white - #fff */
.breakingNews{
    background:#fff;
}

/*#endregion */

.green{
        color: #2CC185 !important;
    font-weight: 600;

}
.blue{
        color: #30a4ed !important;
    font-weight: 600;

}
.orange{
        color: #fe7b22 !important;
    font-weight: 600;

}
.colorW {
    color:#fff !important;
}

.action-buttonO:active {
     border-color:#fe7b22 !important;
}
.action-buttonB:active {
     border-color:#27a5f5 !important;
}
.action-buttonG:active {
     border-color:#2CC185 !important;
}
