@{
    string _homtxt = Session["HomeText"] != null ? Session["HomeText"].ToString() : "";
    string[] _toptxtary = Session["TopText"] != null ? Session["TopText"].ToString().Split('~') : "".Split('~');
    string[] _righttxtary = Session["RightText"] != null ? Session["RightText"].ToString().Split('*') : "".Split('*');
    string _standrdtxt = Session["StandardText"] != null ? Session["StandardText"].ToString() : "";
    string[] _tabRights = Session["AllowTab"] != null ? Session["AllowTab"].ToString().Split('|') : "".Split('|');
    string[] _image = Session["accessimage"] != null ? Session["accessimage"].ToString().Split('|') : "".Split('|');
    string StrVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString();
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
    string strImageURL = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();
    string strLoaderURL = strImageURL + "/" + strProduct + "/" + "loader.gif?" + StrVersion;
}
<style>
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ccc !important;
    }

    #dvsamplemain {
        overflow: hidden;
    }
</style>
<link href="~/Content/CSS/Controlpanel.css?@StrVersion" rel="stylesheet" />
<div id="dvsamplemain" class="rightside loginpanel">
    <div class="row row0">
        <div class="col-xs-12 col-md-7 col-md-offset-3 col-sm-12 col-lg-6 col-lg-offset-3 R_box-shadow mg-btm-20 bg-white mg-tp-0-res mt-8per" style="border: 1px solid #ddd; padding: 0; margin-top: 2%;">
            <div class="cls-header m-b-10">
                <h4 class="Rpt_headertilte bg-lt-blu">
                    <span class="R_chgepass_sprit sprit_p1"></span><span>Change Password</span>
                </h4>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-12 col-sm-12 col-lg-8 col-lg-offset-2 change_new_old_confirm_pass">
                <div class="dv-anim input-effect m-0 m-sm-t15">
                    <input id="Old_pwdd" maxlength="20"  class="txt-anim pwd" type="password" style="width: 100% !important;" autocomplete="off" />
                    <label>Old Password<span style="color: red;">*</span></label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-12 col-sm-12 col-lg-8 col-lg-offset-2 change_new_old_confirm_pass">
                <div class="dv-anim input-effect m-0 m-sm-t15">
                    <input id="New_pwdd"  maxlength="20" class="txt-anim pwd" type="password" style="width: 100% !important;" autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" />
                    <label>New Password<span style="color: red;">*</span></label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-12 col-sm-12 col-lg-8 col-lg-offset-2 change_new_old_confirm_pass">
                <div class="dv-anim input-effect m-0 m-sm-t15">
                    <input id="Cnf_pwdd" maxlength="20"  class="txt-anim pwd" type="password" style="width: 100% !important;" autocomplete="off" />
                    <label>Confirm Password<span style="color: red;">*</span></label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="cntr txt-cntr m-b-10">
                    <input style="display: none;" id="serv_checkstandard" class="cb" type="checkbox" value='0' onchange='togglePassword(this);'>
                    <label class="cbx" for="serv_checkstandard"></label>
                    <label class="lbl" for="serv_checkstandard">Show Password</label>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="margin-bottom: 15px">
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3 col-lg-offset-3">
                    <input type="button" id="change_pwd" class="action-button shadow animate color" style="width: 100%"  value="Save" onclick="change_password()" />
                </div>
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3">
                    <input type="button" id="clear" class="action-button action-buttonB shadow animate  colorB1" style="width: 100%" value="Clear" onclick="clear_password()" />
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="margin-bottom: 15px">
                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
                    <div id="dvGrpBkngerr">
                        <div class="message_wrap showhide">
                            <p class="message">
                                <span id="dvGrpBkngerr_msg" class="error">All field(s) should not be empty.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var errPdiv = "dvGrpBkngerr", errdiv_msg = "dvGrpBkngerr_msg";

    function change_password() {
        if ($("#Old_pwdd").val() == "") {
            showError("Please enter the Old Password!", errPdiv, errdiv_msg, "");
            $("#Old_pwdd").focus();
            return false;
        }
        else if ($("#New_pwdd").val() == "") {
            showError("Please enter the New Password!", errPdiv, errdiv_msg, "");
            $("#New_pwdd").focus();
            return false;
        }
        else if ($("#Cnf_pwdd").val() == "") {
            showError("Please enter the Confirm Password!", errPdiv, errdiv_msg, "");
            $("#Cnf_pwdd").focus();
            return false;
        }
        else if ($("#Old_pwdd").val() == $("#New_pwdd").val()) {
            showError("Old password and New Password should not same !", errPdiv, errdiv_msg, "");
            $("#New_pwdd").focus();
            return false;
        }
        if ($("#New_pwdd").val() != $("#Cnf_pwdd").val()) {
            showError("New password doesnt match with confim password !", errPdiv, errdiv_msg, "");
            $("#Cnf_pwdd").focus();
            return false;
        }

        $.blockUI({
            message: '<img alt="Please Wait..." src="@strLoaderURL" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });

        $.ajax({
            type: "POST", 		//GET or POST or PUT or DELETE verb
            url: "@Url.Action("change_password", "CntrlPanel")",
            data: '{oldpasswd: "' + $("#Old_pwdd").val() + '",newpasswd: "' + $("#New_pwdd").val() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {//On Successful service call
                var result = json.Result;
                if (result[0] != "") {
                    showError(result[0], errPdiv, errdiv_msg, "");
                }
                else {
                    showError(result[1], errPdiv, errdiv_msg, "");
                    $("#Old_pwdd").val('');
                    $("#New_pwdd").val('');
                    $("#Cnf_pwdd").val('');
                    $("#Old_pwdd").removeClass("has-content");
                    $("#New_pwdd").removeClass("has-content");
                    $("#Cnf_pwdd").removeClass("has-content");
                }
                $.unblockUI();
            },
            error: function (e) {// When Service call fails
                if (e.status == "500") {
                    showError("An Internal Problem Occurred. Your Session will Expire.", errPdiv, errdiv_msg, "");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }
                $.unblockUI();
            }
        });
    }

    function clear_password() {
        $('#dvGrpBkngerr').removeClass('has_error');
        $("#Old_pwdd").val('');
        $("#New_pwdd").val('');
        $("#Cnf_pwdd").val('');
        $("#Old_pwdd").removeClass("has-content");
        $("#New_pwdd").removeClass("has-content");
        $("#Cnf_pwdd").removeClass("has-content");
    }

    $(document).ready(function () {
        $("#serv_checkstandard").change(function () {
            if ($(this).is(':checked')) {
                $(".pwd").attr("type", "text");
            } else {
                $(".pwd").attr("type", "password");
            }
        });
    });
</script>