@{
    ViewBag.Title = "FormingInvoiceDetails";
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
}
<script src="~/js/CommonJS/jquery-1.11.1.js"></script>
<script>
    function Print() {
        $("#dvinvoce").find("#btnPrint").hide();
        var printcontent = $("#dvinvoce").html();
        var windowUrl = 'about:blank';
        var windowName = 'Print';
        var WinPrint = window.open(windowUrl, windowName, 'left=10,top=10,bottom=100,width=400,height=400');
        if (WinPrint != null) {
            WinPrint.document.write('<' + 'html' + '><head></head><' + 'body style="background:none !important"' + '>');
            WinPrint.document.write(printcontent);
            WinPrint.document.write('</body></html>');
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }
    }
</script>
<div style="background:#fff;min-height:600px;">
    <div id="dvinvoce" class="col-sm-offset-1 col-sm-10" style="margin-top:37px;">
        @if (ViewBag.Errormsg != null && ViewBag.Errormsg != "")
        {
            <div style="text-align: center;margin-top: 10%; color: #ff5050; font-size: 22px;">
                @ViewBag.Errormsg
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <img class="clsMainLogo" style="margin-bottom:5px;" src="@Url.Content("~/Images/"+strProduct+"/logo.png")" /><br />
            </div>
            @Html.Raw(Session["strBuild"]);
        }
    </div>
</div>