body {
    background-image: url("/Images/pattern1.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}


.clsBoxShdow {
            border-left: solid 3px #27a5f5;
        }

        .headerstrip {
            background-color: #6C84E5;
            background: url(../Images/elements_header_background.png),linear-gradient(to bottom,#e3eff7,#ecf1f5,rgb(222, 232, 230));
            background-size: 300px 300px, auto;
        }

        .clsBoxShdow {
            border-left: solid 3px #27a5f5;
            background-color: #fff;
            width: 60%;
            min-height: 330px;
            margin-top: 15%;
            margin-bottom: 10%;
            padding-top: 20px;
            box-shadow: 0px 0px 5px 1px #ccc;
            position: relative;
            top: 0px;
            z-index: 1;
            left: 50%;
            margin-left: -30%;
        }

        .clsMyLabel {
            font-family: Verdana,Arial,sans-serif;
            color: #3f3f3f;
            font-size: 22px;
            text-align:center;
        }
        .brdr {
            border-top: dashed 1px #eee;
        }

        .clsMySubLabel {
            font-family: Verdana,Arial,sans-serif;
            color: #878183;
            font-size: 18px;
        }

        .clsTable {
            border: solid 1px #e1e6ef;
            border-radius: 8px;
        }

        .clsImage {
            height: 120px;
            width: 120px;
            cursor: pointer;
            padding: 10px;
            border-bottom: 3px solid #fe4e12;
        }

        .clsTitleLabel {
            font-family: Verdana,Arial,sans-serif;
            color: #2471e3;
            font-size: 11px;
            font-weight: 600;
            text-align: center;
        }

        a img {
            border: none;
        }

        .clsBody {
            margin-left: 4%;
        }

        .clsUlContent {
            text-align: left;
            font-size: 19px;
            font-family: cursive, Arial, sans-serif, monospace;
            color: #222;
            line-height:30px;
        }

        .clsButton {
            padding: 10px;
            border: 1px solid #27a5f5;
            border-radius: 5px;
            color: #27a5f5;
            text-decoration: initial;
            float: right;
            margin-top: 20px;
            margin-right: 30px;
            transition: ease-out 0.5s;
        }

            .clsButton:hover {
                background-color: #27a5f5;
                color: #fff;
            }

        @media (max-width:480px) {
            .clsBoxShdow {
                border-left: solid 3px #fe4e12;
                background-color: #fff;
                width: 96%;
                margin-top: 0%;
                top: 35px;
                padding-top: 20px;
                min-height: 500px;
            }
        }
