@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url("normalize.css");
@import url("swiper.min.css");

body {font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;}
html, body {width: 100%;height: 100%;}
*{margin: 0; padding: 0; box-sizing: border-box;}
a:hover,a:active,a:focus{text-decoration:none; outline:none;}
ul, ol{margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6 {margin:0; padding:0;font-family: 'Lato', sans-serif;}
img {border:0; max-width:100%;}
/*buttons*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0;}
textarea,input[type="text"],input[type="button"],input[type="submit"] {-webkit-appearance: none;border-radius: 0;}
input:not([type="radio"]):not([type="checkbox"]) {-webkit-appearance: none;border-radius: 0;}
label {font-weight:normal;}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;background: transparent;background-repeat: no-repeat;background-position-x: 100%;background-position-y: 10px;position:relative;z-index:3;width:100%;outline:none;}
:focus{outline: none;}	
:focus{outline: none;}
.btn {outline:none;font-family: 'Lato', sans-serif; letter-spacing: 3px; font-weight:bold;font-size:14px;}
.btn01{width: auto;text-transform: uppercase;color: #fff;cursor: pointer;padding:10px 20px;text-align:center;border: none;background-size: 300% 100%;
border-radius: 5px;background-image: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.btn01:hover {background-position: 100% 0;moz-transition: all .4s ease-in-out;-o-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.btn01.active, .btn01:active {outline: 0;-webkit-box-shadow: initial;box-shadow: initial;background-image: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);}
.btn02 {display: inline-block;color: #212529;text-transform: uppercase;cursor: pointer;padding:8px 15px;border: solid 2px #ce2b64;text-decoration: none;
border-radius: 3px;background-repeat: repeat-x;background-origin: border-box;transition: all 0.3s linear;-webkit-transition:all 0.3s linear;min-width:142px;}
.btn02:hover {color: #fff;background-image: linear-gradient(to right, #c7286b, #ce2b64, #d5305d, #da3655, #de3d4d);}
.btn02:hover .button-text {color: #fff;box-shadow: 0 1000px 3px transparent inset;}
/*without login header*/
.logo {float:left;max-width: 140px;}
header {padding:8px 0;-webkit-box-shadow: 0px -1px 21px -5px rgba(0,0,0,0.75);-moz-box-shadow: 0px -1px 21px -5px rgba(0,0,0,0.75);box-shadow: 0px -1px 21px -5px rgba(0,0,0,0.75);position: fixed;z-index:22;right:0;left:0;background: #fff; top:0;}
.form-group {position: relative;}

/*= input focus effects css
=========================== */
:focus{outline: none;}
.effect-input {font-family:"Open Sans", Arial, sans-serif;font-size:14px; color: #000; width: 100%; box-sizing: border-box; letter-spacing: 1px;background:none; transition: 0.5s;}
.effect-input {border: 1px solid #e0dddd; padding: 12px 14px 12px; transition: 0.4s;}
.effect-input ~ .focus-border:before,
.effect-input ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #de3d4d; transition: 0.3s;}
.effect-input ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-input ~ .focus-border i:before,
.effect-input ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #de3d4d; transition: 0.4s;}
.effect-input ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-input:focus ~ .focus-border:before,
.effect-input:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-input:focus ~ .focus-border i:before,
.effect-input:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}
textarea.effect-input {resize: none; min-height:75px;}
header .rigister-btn {margin:16px 0 0 20px;}
.mobile-banner {clear:both; display:none;}
/*input focus effects css End
=============================== */ 
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-bold {font-weight:bold;}
.pos-static {position: static;}
.padding-none {padding:0 !important;}
.padding-left {padding-left:0 !important;}
.padding-bottom {padding-bottom:0 !important;}
.padding-right {padding-right:0 !important;}
.margin-none {margin:0 !important;}
.margin-left {margin-left:0 !important;}
.margin-right {margin-right:0 !important;}
.pos-relative {position:relative;}
.form-group .icon-color {position: absolute;right: 12px;font-size: 18px;color: #d12f5e;top: 12px;}
.form-group {width:100%;}
.form-group .select-option {border: 1px solid #e0dddd;padding:12px 14px 12px;}
/***********~common popup~***********/
.popup-wrap {padding:25px; background:#fff; position:relative;box-shadow: 0 0 18px 5px rgba(0,0,0,.19); min-width:681px;-webkit-transform: scale(0.8);-moz-transform: scale(0.8);-ms-transform: scale(0.8);transform: scale(0.8);}
.popup_visible .popup-wrap {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
.close-popup {position:absolute;right:5px; z-index:1; top:5px;font-size: 32px; line-height:18px; padding:10px;}
#forgotpasword .heading03,#Changepassword .heading03 {font-size: 18px;letter-spacing: 1px; margin:0 0 30px 0;}
#forgotpasword .button-holder .btn:last-child,#Changepassword .button-holder .btn:last-child {margin:0 0 0 15px;}
#forgotpasword .button-holder .btn:last-child,#Changepassword .button-holder .btn:last-child {margin: 0 0 0 15px;background: transparent;border: 1px solid #de3d4d;color: #de3d4d;}
#forgotpasword .otp-resend,#Changepassword .otp-resend{color: #de3d4d;margin: 5px 0 10px 0;display: block;font-size: 13px;text-decoration: underline;float: right;}
#forgotpasword .form-group,#Changepassword .form-group {clear:both;}
#forgotpasword_wrapper .popup-wrap,#Changepassword_wrapper .popup-wrap {min-width: 550px !important;}
.details-box{border: 1px solid #e0dddd;padding: 50px 40px 60px 40px;overflow: hidden;background:rgba(255, 255, 255, 0.92);border-radius: 10px;margin:0 0 40px 0;box-shadow: 0 0 18px 5px rgba(0,0,0,.19);}
.rg-thank-you .details-box {max-width: 650px;margin: 0 auto;min-height: 400px;padding:65px 40px 60px 40px;background-size: 100% !important;}
.rg-thank-you .details-box a.bck-home {position: relative;top: 0;padding: 0;text-align: center;display: block;z-index: 2;font-size: 18px;color: #ca2a67;font-weight: bold;letter-spacing: 2px;}
.rg-thank-you .details-box .heading05:before {right:0; left:0;    margin: 0 auto;}
.rg-thank-you .details-box {background:#fff url('../../../Images/RIYA/thank-you-building.jpg') no-repeat center bottom; border:0;}
.rg-thank-you-rail .details-box {background:#fff url('../images/india.png') no-repeat center bottom; border:0;}
.details-box .button-holder .btn {float:left;margin: 35px 0 0 0;}
.details-box .captcha-code {float:left;margin-right: 20px;}
.details-box h6 {font-weight: bold;margin:20px 0 20px 0;font-size: 18px;color:#ca2a67;clear:both;text-align: center;} 
/*headings*/
.heading01 {font-family: 'Lato', sans-serif; color:#de3d4d; font-size:24px; font-weight:bold;margin: 0 0 20px 0;} 
.heading01 .sub-heading {color:#494949; display:block; font-weight:normal; font-size:16px; margin:5px 0 0 0;}
.heading02 {position:relative;font-family: 'Lato', sans-serif; color:#000;font-size:28px; margin:0 0 30px 0;}
.heading02:before {position: absolute; left:0;content:""; background:#de3d4d; height:2px; width:160px;bottom:-10px;}
.heading02 span {font-size:18px;}
.sub-heading {font-size:18px;margin:0 0 10px 0;}
.heading03 {font-family: 'Lato', sans-serif;font-size:28px;color:#000; position:relative; margin:0 0 20px 0;}
.heading03:before {position:absolute; content:""; width:160px;background:#de3d4d; height:2px;bottom:-10px;left: 0;right: 0;margin: 0 auto;} 
.heading05:before {right: initial;}
.form-group {margin-bottom: 25px;}
.slider-caption {float:left; padding:10px 0 0 0;}
.para-lightgry {color:#86878b;}
/*swiper slider*/
.swiper-wrapper {height:auto;}
.swiper-slide {height:auto;}
.header-spacer {height:88px;width:100%;}
.swiper-container-horizontal >.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 6px;}
.swiper-pagination-bullet {width: 12px; height: 12px; background:#fff;opacity: initial;} 
.swiper-pagination-bullet-active {background: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {background:url(../../../RIYA/sprite-img.png) no-repeat;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {background:url(../../../RIYA/sprite-img.png) no-repeat;}
.swiper-button-next, .swiper-button-prev {height: 46px;}
.swiper-button-next {background-position: -38px -7px;} 
.swiper-button-prev {background-position: 0 0;} 
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 20px;}
#login-box {position: absolute;top:0;right: 0;left: 0;}
.login-holder {position:relative; z-index:1;width: 455px;float: right; background:#fff; padding:20px 15px; margin:60px 0 0 0;-webkit-box-shadow: -1px 1px 56px -7px rgba(0,0,0,0.75);-moz-box-shadow: -1px 1px 56px -7px rgba(0,0,0,0.75);box-shadow: -1px 1px 56px -7px rgba(0,0,0,0.75);}
.remember-me {float:left;margin:0;}
.login-holder .forgot-btn {margin:10px 0 0 0; text-decoration:underline;-webkit-transition:all linear 0.3s;transition:all linear 0.3s;}
.login-holder .forgot-btn:hover {text-decoration:none;}
.login-holder input[type=checkbox] + label::before {width: 18px;height: 18px;top:1px;}
.login-holder input[type=checkbox] + label::after {width: 12px;height: 16px;top:2px;}
.bg-white {padding:60px 0;}
.bg-lightgray {padding:60px 0; background:#f5f5f5;} 
.details-box .para-lightgry {font-size:13px;margin:0 0 20px 0; line-height: 1.5em;text-align: center;}
.rg-thank-you .details-box .para-lightgry {font-size:14px;}
.rg-thank-you .bg-flight {background:url(../../../RIYA/thank-you-plane.png) no-repeat; position:relative;top:-40px;}
/********* header ***********/
.add-cart {position:relative; font-size:24px; color:#595959;}
.add-cart > span {display:inline-block;font-size:11px; color:#fff; background:#de3d4e;width:20px;height: 20px;text-align: center;line-height: 20px;border-radius: 50%;position: absolute;left: 13px;top: 0;}
.rigister-btn i {margin:0 5px;}
.rigister-btn .fa-sort-down {font-size:18px;position: relative;top: -3px;}
.right-menu a {float:left;}
.right-menu a.btn {margin:0 10px}
.right-menu .add-cart {margin:5px 30px 0px 10px;}
.menu {font-size:12px;}
.menu span {display:block; width:7px; height:7px; border:1px solid #cbcbcb;background:#595959; margin:0 0 3px 0; position:relative;left: 1px;}
.menu span:after {width:7px; height:7px;border:1px solid #cbcbcb;background:#595959; position:absolute; content:"";right:-13px;top:-1px;}
.menu span:before {width:7px; height:7px;border:1px solid #cbcbcb;background:#595959; position:absolute; content:"";left:22px;top: -1px;}
.sub-header-rate {padding:12px 10px 22px 10px; background:#f5f5f5; margin:15px 0 0 0;}
.header2 {padding:15px 0 0px 0;}
.sub-header-rate ul {text-align:center; font-size:16px;position: relative;top: 6px;padding-right: 280px; float:right;}
.sub-header-rate ul > li {display:inline-block;position: relative; padding:0 5px;}
.sub-header-rate ul > li:after{height: 22px;background: #b4b4b4;width: 1px;content: "";position: absolute;right: 0;top: 0;}
.sub-header-rate ul > li:last-child:after {display:none;}
.sub-header-rate ul > li span {font-weight:bold; color:#de3d4d; padding:0 10px;}
.sub-header-rate ul > li span.colr-green {color:#00730b;}
.sub-header-rate ul > li .fa-rupee-sign {font-size:14px;}
.sub-header-rate .btn02 {padding:4px 25px; border-radius:20px; color:#de3d4d; position:absolute; right:0;top: 0;} 
.sub-header-rate .btn02:hover {color:#fff;}
.price-rate {position:relative;}
.login-box .logo {float:right;}  
.login-box .heading01 {font-size:18px;clear: both;text-align: center;}
.login-box .heading01 .sub-heading {font-size:14px;}
.login-box .logo {max-width:210px;float: none;display: block;margin:0 auto 20px auto;}
.clearfix {clear:both;}
.rconnect-tab-content .sub-heading {font-weight:bold;} 
.rconnect-tab-content {line-height:1.8em;}
/***********~Toggle switch~***********/
.toggle-switch {position: relative;}
.toggle-switch p {padding-left: 36px;margin-bottom: 0;font-size: 14px;}
.form-rg-holder {height:auto;padding:40px 0 0 0;}
.rg-thank-you {min-height: calc(100% - 208px);}
.toggle-switch .switch {display: inline-block;margin-bottom: 0;margin-top: 0;font-weight: normal;cursor: pointer;}
.toggle-switch .switch input {display: none;}
.toggle-switch .slider {position: absolute;top: 2px;left: 0;right: 0;bottom: 0;border: 2px solid #dd343b;-webkit-transition: .4s;transition: .4s;border-radius: 10px;width: 28px;height: 16px;}
.toggle-switch .slider:before {position: absolute;content: "";height: 15px;width: 15px;left: -1px;bottom: -1px;border: 2px solid #c7286b;background-color: white;-webkit-transition: .4s;transition: .4s;border-radius: 50%;}
.toggle-switch input:checked + .slider {background-color: #c7286b;}
.toggle-switch input:focus + .slider {box-shadow: 0 0 1px #c7286b;}
.toggle-switch input:checked + .slider:before {-webkit-transform: translateX(11px);-ms-transform: translateX(11px);transform: translateX(11px);}
div.rconnect-tab-menu {padding-right: 0;padding-left: 0;padding-bottom: 0;}
div.rconnect-tab-menu div.list-group {margin-bottom: 0;}
div.rconnect-tab-menu div.list-group > a:hover { opacity:0.8;}
div.rconnect-tab-menu div.list-group > a > h4{font-size: 14px;}
div.rconnect-tab-menu div.list-group > a .glyphicon,div.rconnect-tab-menu div.list-group > a .fa {color: #5A55A3;}
div.rconnect-tab-menu div.list-group > a:first-child {border-top-right-radius: 0;-moz-border-top-right-radius: 0;}
div.rconnect-tab-menu div.list-group > a:last-child {border-bottom-right-radius: 0;-moz-border-bottom-right-radius: 0;}
div.rconnect-tab-menu div.list-group > a.active,div.rconnect-tab-menu div.list-group > a.active .glyphicon, 
div.rconnect-tab-menu div.list-group > a.active .fa {background-color: transparent;background-image: linear-gradient(to right, #c7286b, #ce2b64, #d5305d, #da3655, #de3d4d);border-bottom: 1px solid #fff;color: #ffffff;border: 0px;    }
div.rconnect-tab-menu div.list-group > a.active:after {content: '';position: absolute;left: 100%;top: 50%;margin-top: -16px;border-left: 0;border-bottom: 16px solid transparent;border-top: 16px solid transparent;border-left: 18px solid #de3d4d;}
div.rconnect-tab-menu div.list-group > a > img{margin: 0 auto;}
div.rconnect-tab-content {background-color: #ffffff;/* border: 1px solid #eeeeee; */padding-left: 0;padding-top: 0;}
div.rconnect-tab div.rconnect-tab-content:not(.active) {display: none;}
/*light box*/
.add-traveller {cursor:pointer;}
.oneway .addpassenger-holder {top:60px;}
.oneway .addpassenger-holder {width: 405px;}
.addpassenger-holder {position: absolute;padding: 0px 20px 0px 20px;right: 0;left: -66px;margin-right: 15px;box-shadow: 0 0 18px 5px rgba(0,0,0,.19);top: 260px;background: #fff;z-index: 1;display: none;	max-width: 405px;}
.addpassenger-holder:after {display: inline-block;border-color: transparent transparent #fff;border-width: 12px;border-style: solid;width: 0;height: 0;position: absolute;content: '';top: -22px;right: 0;left: 0;margin: 0 auto;}
.addpassenger-holder .left-holder {float: left;border-right: 1px solid #e6e6e6;padding: 20px 20px 10px 0px;width: 140px;}
.addpassenger-holder .title {text-transform: uppercase;color:#d22e5f;}
.addpassenger-holder .right-holder {float: left;padding: 20px 0 10px 20px;width: 225px;}
.addpassenger-holder .count button:hover {background: #ef3339;color: #fff;}
.addpassenger-holder .count {border: 1px solid #a1a1a1;border-radius: 3px;clear: both;float: left;}
.addpassenger-holder .count button.minus.disable:hover, .addpassenger-holder .count button.plus.disable:hover {background: #EFEFEF;color: #A5A5A5;}
.minus:before {content: "\f068";font-family: Font Awesome\ 5 Free;font-weight: 600;}
.addpassenger-holder .count button.minus.disable:before, .addpassenger-holder .count button.plus.disable:before {color: #A5A5A5;}
.addpassenger-holder .count input.quntity-input {width: 30px;text-align: center;padding: 0;height: 32px;font-weight: normal;color: #000;}
.addpassenger-holder .count button:hover {background: #ef3339;color: #fff;}
.addpassenger-holder .count button:hover {background-image: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);color: #fff;}
.addpassenger-holder .count button, input.quntity-input {display: inline-block;border: 0;background: transparent;padding: 8px 12px;text-align: center;-webkit-transition: .5s;transition: .5s;}
.addpassenger-holder .count button {background: #EFEFEF;color: #d02d61;vertical-align: top;}
.plus:before {content: "\f067";font-family: Font Awesome\ 5 Free;font-weight: 600;}
.okClose {color: #fff;font-weight: bold;background-image: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);text-align: center;border-radius: 3px;line-height: 30px;font-size: 12px;position: absolute;right: 20px;cursor: pointer;-webkit-transition: 0.5s;transition: 0.5s;text-transform: uppercase;bottom: 20px;padding: 0 20px;}
.addpassenger-holder .radio label {font-weight: bold;font-size: 16px;}
.addpassenger-holder .count {margin-bottom: 10px;}
.addpassenger-holder .right-holder .title {margin-bottom: 15px;}
/******** Horizontal Tabs css ********/
.horizontal-tabs>li>a{background: #ddd;border: 0;border-radius: 0!important;border-right: 1px solid #fff;font-size: 14px;padding: 12px 15px;transition: all 0.3s linear;-webkit-transition: all 0.3s linear;}
.horizontal-tabs>li>a:last-child{border-right: 0px;}
.horizontal-tabs>li.active>a, .horizontal-tabs>li.active>a:focus, 
.horizontal-tabs>li.active>a:hover{background-color: transparent;background-image: linear-gradient(to right, #c7286b, #ce2b64, #d5305d, #da3655, #de3d4d);color: #fff;border: 0!important;}
.horizontal-tabs.nav-justified>li>a{border-bottom: 0px;border-right: 1px solid #fff;}
.horizontal-tabs>li.active>a:after{content: '';position: absolute;left: 0;right: 0;top: 100%;margin: 0 auto;width: 20px;border-bottom: 13px solid transparent;border-top: 10px solid #c92969;border-left: 10px solid transparent;border-right: 10px solid transparent;}
.horizontal-tab-content{border: 1px solid #ddd;padding: 10px 15px;}
.app-dwnld {background: #f5f5f5;}
.app-dwnld .app-white {background-color: #FFF;height: 300px;font-size: 24px;padding-top: 200px;}
.app-dwnld .app-grey {position: relative;background-color: transparent;margin: 20px auto 0;height: 160px;}
.app-prvw {position: absolute;left: 0;top: -295px;width: 364px;height: 428px;}
header a.mobilesOnly {color: #000;font-weight: bold;font-size: 20px;}
header a.mobilesOnly span {font-size:14px; display:inline-block;margin: 0 5px 0 0; font-weight:normal;}
header a.mobilesOnly i {display:inline-block; padding-left:5px; position:relative; top:-2px;}
header .agentHelpline {margin:20px 0 0 0;font-weight: bold;}
header a.mobilesOnly i {-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);color: #ef3339;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.app-img {position:relative;}
.text-app {padding-left:400px;font-size:22px;}
.app-link {padding-left:400px;}
.app-link div a {display:inline-block; margin-bottom:10px;}
.app-link div a:first-child {margin-right:10px;}

.datepicker-overlay {position:fixed; height:100%; width:100%; background:rgba(0,0,0,.4); z-index:22; display:none;top: 0;right: 0;bottom: 0;left: 0;} 
.ui-datepicker.ui-datepicker-multi {z-index:33 !important;}
/********* Vertical Tabs css ***********/
.rconnect-tab-container {z-index: 10;background-color: #ffffff; padding: 0 !important;border-radius: 4px;
-moz-border-radius: 4px;}
.rconnect-tab-menu {padding-right: 0;padding-left: 0;padding-bottom: 0;}
.rconnect-tab-menu .list-group {margin-bottom:0;}
.rconnect-tab-menu .list-group > a {margin-bottom: 0;padding: 25px 15px;background: #797979;color: #fff; display:block;-webkit-transition:all linear 0.3s;transition:all linear 0.3s;}
.rconnect-tab-menu .list-group > a > h4 {font-size: 14px;}
.rconnect-tab-menu .list-group > a .glyphicon,.rconnect-tab-menu .list-group > a .fa {color: #5A55A3;}
.rconnect-tab-menu .list-group-item  {border:0; border-bottom:1px solid #bfbfbf;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {border-color:#bfbfbf;} 
.rconnect-tab-menu .list-group > a.active,.rconnect-tab-menu .list-group > a.active .glyphicon,
.rconnect-tab-menu .list-group > a.active .fa {background-color: transparent;background-image: linear-gradient(to right, #c7286b, #ce2b64, #d5305d, #da3655, #de3d4d);color: #ffffff;}
.rconnect-tab-menu .list-group > a.active:after {content:'';position: absolute;left: 100%;top: 50%;margin-top: -13px; border-left: 0;border-bottom: 13px solid transparent;border-top: 13px solid transparent;border-left: 10px solid #de3d4d;}
.rconnect-tab-menu .list-group > a > img{margin:0 auto 10px auto;}
.rconnect-tab-content {background-color: #ffffff;}
.rconnect-tab .rconnect-tab-content:not(.active) {display: none;}
.circle-box {width:77px; height:77px; border:2px solid #de3d4d; border-radius:50%; text-align:center; line-height:74px; background:#fff; font-size:32px; color:#de3d4d; margin:0 auto 20px auto; -webkit-transition:all linear 0.3s;transition:all linear 0.3s;}
.services-description {text-align:center;}
.services-description p.title {font-size:18px;font-weight:bold;-webkit-transition:all linear 0.3s;transition:all linear 0.3s;}
#services {margin:40px 0 0 0;position: static;}
#services .swiper-slide:hover .circle-box{background:#de3d4d; color:#fff;}
#services .swiper-slide:hover .services-description p.title {color: #de3d4d;}
#intro{height: 380px;margin: 0 auto;padding: 0;width: 100%;}
.middle-box {width: 100%; text-align:center; color:#fff;display:table-cell; vertical-align:middle;}
.middle-box .sub-heading {font-size:14px;}
.middle-box-tb {display:table; height:100%;}
#intro .btn02 {box-shadow: initial;border-top:2px solid #c92969;border-right:2px solid #de3d4d;border-bottom:2px solid #d93855;border-left:2px solid #c8296a; background:transparent; color:#fff;   -webkit-transition: all linear 0.3s;transition: all linear 0.3s;} 
#intro .btn02:hover {background-image: linear-gradient(to right, #c7286b, #ce2b64, #d5305d, #da3655, #de3d4d);}
.middle-box .map-icon {margin:0 0 20px 0;}
.middle-box .heading04 {margin:0 0 30px 0; color:#fff;}
.login-box .button-holder {margin:0 0 5px 0;}
.details-box .heading03{text-align:center;} 
.details-box .heading05:before {left:0;right:0; margin:0 auto;}
.rg-our-services  {min-height:738px;}
.rg-our-services ul {text-align:center;}
.rg-our-services ul li {float: left;transition:all 0.3s ease;margin: 0 7px;text-align: center;padding: 10px 0 20px 0;}
.rg-our-services ul li p {text-align:center; margin:10px 0 0 0;font-weight:bold;}
.rg-our-services ul li:hover {opacity:0.8;color: #ca2a67;}
/********* Footer ***********/
footer {clear:both;}
.ft-links {text-align:center; padding:20px 0;}
.ft-links a {position:relative; margin:0 8px;-webkit-transition:all linear 0.5s;transition:all linear 0.5s;}
.ft-links a:hover {color:#de3d4d;}
.ft-links a:after {content:""; position:absolute; left:-10px; background:#727272; height:15px; width:2px;top:3px;margin:0 auto;}
.ft-links a:first-child:after {display:none;}
.riya-connect-services {clear:both;}
.riya-connect-services h2.heading03 {margin:0 0 20px 0;}
.riya-connect-services .text-center {margin:0 0 30px 0;}
#riya-connect-services {position: static; margin:0 0 20px 0;}
.riya-connect-services {position:relative;}
.riya-connect-services .swiper-button-next {right: -40px;}
.riya-connect-services .swiper-button-prev {left: -40px;}
footer .copyright {padding:20px 0; color:#fff; text-align:center;background-image: linear-gradient(to right bottom, #ca2a67, #ce2d62, #d2305d, #d63458, #d93953);}
footer .copyright a {color:#fff;-webkit-transition:all linear 0.5s;transition:all linear 0.5s;}
footer .copyright a:hover {text-decoration:underline;}
#services .swiper-button-prev {left: -40px;}
#services .swiper-button-next {right: -40px;}
.riya-connect-services .riya-connect {width:100%; text-align:center;-webkit-transition: all 1s linear;-moz-transition: all 1s linear;-o-transition: all 1s linear;-ms-transition: all 1s linear;}
.image-container {-webkit-transition: all 1s linear;-moz-transition: all 1s linear;-o-transition: all 1s linear;-ms-transition: all 1s	 linear;}
.riya-connect-services .riya-connect img {display: inline-block; margin-bottom:10px;}
.riya-connect-services .riya-connect span {display:block; font-weight:bold;}
.riya-connect-services .riya-connect:hover span {color:#c7286b;}
.riya-connect-services .riya-connect:hover img {opacity:0.8;}
footer.footer .copyright{background:#fff;color:#000;}
.errhide {color:#de3d4c;font-weight: bold;}
.message_wrap {
    display:none;
    height: 0;
    padding: 0;
    position: relative;
    text-align: center;
    border: 0;
    overflow: hidden;
    height: auto;
    margin: 5px 3% 30px 3%;
    margin: 4px 0;
    border: 1px solid #eb423f;
    width: 100%;
}

    .message_wrap.showhide {
        transition: 0.4s;
        display: none;
        margin: 5px 0% !important;
    }

    .message_wrap .message {
        background-color: #ccc9d4;
        border: 1px solid #ccc9d4;
        width: 100%;
        font-size: .9em;
        margin: 0;
        padding: .65em !important;
        border: 0;
            background-image: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);
        color: #fff;
        position: relative;
        -ms-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in;
    }

        .message_wrap .message.animation {
                background-image: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);
            color: #eb423f;
            -ms-transform: scaleX(1.1);
            -moz-transform: scaleX(1.1);
            -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
        }

        .message_wrap .message.error {
                background-image: linear-gradient(to right, #c7286b, #de3d4d, #de3d4d, #c7286b);
            border: 1px solid #de322f;
            border-bottom-width: 2px;
            color: #de322f;
        }

        .message_wrap .message .error {
            /*display: none;*/
        }

        .message_wrap .message .error_active {
            display: block;
            opacity: 1;
            /*visibility:visible !important;
            background:#d11f26;*/
        }

.has_error .message_wrap {
    display:block!important;
}

.errorstyle {
    border: 1px solid #a94442 !important;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(255,74,61,.75) !important;
    -moz-box-shadow: inset 0 0 5px 1px rgba(255,74,61,.75) !important;
    box-shadow: inset 0 0 5px 1px rgba(255,74,61,.75) !important;
}
    .has_error .message_wrap.showhide {
        display: block;
 
    }

    #Changepassword input:disabled {
    background: #CCC;
}
    .btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 1199px) {
	.slider-caption a img {max-width: 70%;}
	#home-slider .swiper-slide {min-height: 490px;}
	.swiper-slide {height:100%}
	.riya-connect-services .swiper-button-next {right: -30px;}
	.riya-connect-services .swiper-button-prev {left: -30px;}
	.details-box .button-holder .btn {padding:8px 10px;font-size: 12px;}
}
@media only screen and (max-width: 991px) {
	.slider-caption a img {max-width: 40%;margin: 70px 0 0 0;}
	.text-app {font-size:18px;}	 
	.app-img {display:none;}
	.text-app {padding:0;}
	.app-dwnld .app-white {padding:20px 0;height: auto;}
	.text-app {font-size:16px;}
	.app-link {padding:0;}
	.app-dwnld .app-grey {height:auto; margin:0;padding: 20px 0}
}
@media only screen and (max-width: 767px) {
	#services {overflow:hidden;}
	.slider-caption {display:none;}
	#home-slider .swiper-slide {min-height: 425px;    width: 100% !important;}
	.login-holder {width:100%;margin:30px 0 0 0;}
	.rconnect-tab {clear:both;padding: 10px 0 0 0;}
	div.rconnect-tab-menu div.list-group > a {width: 33.33%; float: left;padding: 15px 10px;border-right: 1px solid #fff;}
	div.rconnect-tab-menu div.list-group > a:last-child {border-right:0;}
	div.rconnect-tab-menu div.list-group > a:first-child {border-right: 1px solid #fff;}
	div.rconnect-tab-menu div.list-group > a.active:after {bottom: -22px;bottom: -23px;top: initial;    border-left: 13px solid transparent;border-top: 10px solid #de3d4d; left: 50%;    border-right: 13px solid transparent;    margin-left: -13px;}
	.clearfix-mb {clear:both;}
	.list-group-item:first-child {border-top-left-radius: 4px;}
	.list-group-item:last-child {border-bottom-left-radius: 0;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
	.bg-white {padding: 25px 0;}
	.heading02 {font-size: 22px;}
	.heading02 span {font-size:14px;}
	.heading02:before {width: 124px;}
	.list-group-item:nth-child(2) img {max-width:31px;}
 	.list-group-item:nth-child(3) img {max-width:34px;}
	div.rconnect-tab-menu div.list-group > a > img {margin: 0 auto 5px auto;display: block;}
	.mb-center {text-align:center;margin:10px 0 0 0; display:none;}
	.bg-lightgray  {padding: 25px 0;}
	.heading03 {font-size: 18px;}
	.heading03:before {width: 90px;}
	.services-description {max-width: 80%;margin: 0 auto;}
	#intro {height:auto;padding:40px 0;}
	.logo {max-width: 105px;}
	.login-box .logo {max-width: 125px;}
	header .rigister-btn {padding:8px 10px;font-size: 12px; margin:10px 0 0 0;}
	header {padding:6px 0;}
	.header-spacer {height: 52px;}
	.ft-links {padding:10px 0;}
	.ft-links a {margin:0 8px 7px 8px; display:inline-block;}
	.sub-heading {margin:5px 0 10px 0;}
	.form-rg-holder {height: initial;}
	.regBox {min-height: 260px !important;}
	.effect-input {padding:10px 12px 10px; font-size:12px;}
	.form-group .select-option {padding:10px 12px 10px;font-size:12px;}
	#forgotpasword_wrapper,#Changepassword_wrapper {width: 90% !important;
    right: 0;
    margin: 0 auto;}
	#forgotpasword_wrapper .popup-wrap,#Changepassword_wrapper .popup-wrap {min-width: 100% !important;padding: 20px 15px;}
	#forgotpasword .heading03,#Changepassword_wrapper .heading03 {font-size: 16px;}
	#forgotpasword .btn01,#Changepassword_wrapper .btn01 {display:inline-block;padding:7px 9px; font-size:12px;border:1px solid #de3d4d;}
	#forgotpasword .button-holder .btn:last-child,#Changepassword_wrapper .button-holder .btn:last-child {margin:0 0 0 3px;}
	.details-box .captcha-code {clear: both;margin: 20px 0 0 0;}
	.mobile-banner {display:block;} 
	#services .swiper-button-next {display:none;}
	#services .swiper-button-prev {display:none;}
	.app-link div a:first-child {margin-right: 5px;}
	.riya-connect-services .riya-connect img {max-width: 70px;}
	.riya-connect-services .swiper-button-prev {display:none;}
	.riya-connect-services .swiper-button-next {display:none;}
	.details-box {padding:30px 20px 40px 20px; margin:0 0 30px 0;}
	.rg-our-services {min-height:initial;}
	.rg-our-services ul li {padding:0px 0 10px 0;}
	.agentHelpline span {display:none;}
	header a.mobilesOnly {font-size: 14px;}
	header .agentHelpline {margin: 15px 0 0 0;}
	.rg-our-services ul li {margin:0 2px;}
	.rg-our-services ul li img {    max-width: 70%;}
	
}