@{
    string allowcredit = (Session["ALLOW_CREDIT"] != null && Session["ALLOW_CREDIT"].ToString() != "") ? Session["ALLOW_CREDIT"].ToString() : "N";
    string allowtopup = (Session["ALLOW_TOPUP"] != null && Session["ALLOW_TOPUP"].ToString() != "") ? Session["ALLOW_TOPUP"].ToString() : "N";
    string allow_PG = (Session["ALLOW_PG"] != null && Session["ALLOW_PG"].ToString() != "") ? Session["ALLOW_PG"].ToString() : "N";
    string allow_passthrough = (Session["ALLOW_PASSTHROUGH"] != null && Session["ALLOW_PASSTHROUGH"].ToString() != "") ? Session["ALLOW_PASSTHROUGH"].ToString() : "N";
    string Pnrnameflg = System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString() != "" ? System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString() : "S PNR";
    string strTerminalType = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString().ToUpper();
    string strMigratedAgent = "N";
    string strProductType = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null && System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() != "" ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
    string strDefaultAgent = Session["DEFAULT_AGENTID"] != null ? Session["DEFAULT_AGENTID"].ToString() : "";
}
<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 fadeInDownSmall">
    <div class="col-sm-12 col0 mobshow hidden-lg hidden-md hidden-sm">
        <span>Booked History</span>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 marbtmplus20 martpmins0 pad-0" id="marginbtm">
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txtSPNR" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" style="text-transform: uppercase" />
                <label>@Pnrnameflg</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txtCSRPNR" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" style="text-transform: uppercase" />
                <label>CRS PNR</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2 ">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txtAirPNR" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" style="text-transform: uppercase" />
                <label>Airline PNR</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input maxlength="25" id="txtFirstName" class="txt-anim clsAlphabet" type="text" />

                <label>First Name</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txtLastName" maxlength="25" class="txt-anim clsAlphabet" type="text" />

                <label>Last Name</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2 m-sm-t15" style="text-align: left;background:none !important;">


            <span id="lblTransactionTypea" class="clsspntitle">Search By</span>
            <select class="clscmbanim" id="op_searchBy" size="5">

                <option selected value="All">All </option>
                <option value="C">Booked </option>
                <option value="H">Blocked </option>
                <option value="F">Cancelled </option>
                <option value="R">Rescheduled </option>
                <option value="M">Modified </option>
                <option value="W">Waiting List </option>
                <option value="N">To be Modified </option>
                <option value="D">To be Cancelled </option>
                <option value="S">To be Rescheduled</option>
                <option value="B">B-PNR Cancelled</option>

            </select>

        </div>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12  marbtmplus20 pad-0 pad-l-r-15-res">

        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2 martpmins15 mgtp--18">
            <span class="float-left w-100 fnt-wt-600 mg-tp--15 txt-al-lfts txt-al-lft" style="color:#5d5c5c"><span id="datetextfrom">Booked</span> From Date</span>
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_AirBook_fromdate" readonly="readonly" maxlength="10" class="txt-anim" type="text" placeholder="From Date" />
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2 martpmins15 marbtmplus15 mgtp--18">
            <span class="float-left w-100 fnt-wt-600 mg-tp--15 txt-al-lfts txt-al-lft" style="color:#5d5c5c"><span id="datetextto">Booked</span> To Date</span>
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_AirToodate" maxlength="10" readonly="readonly" class="txt-anim" type="text" placeholder="To Date" />
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2 marbtmplus15 mt-3" style="text-align: left;" id="displaypayment">
            <span id="lblTransactionTypea1" class="clsspntitle">Payment Mode</span>
            <select class="clscmbanim" id="op_Payment" size="5" name="op_Payment">
                <option selected value="">All</option>
                @if (strTerminalType == "T")
                {
                    <option value="T">Topup</option>
                    <option value="C">Credit</option>
                    <option value="P">Payment Gateway</option>
                    <option value="B">Pass Through</option>
                    <option value="H">Cash</option>
                }
                else
                {
                    if (allowtopup == "Y")
                    {
                        <option value="T">Topup</option>
                    }
                    if (allowcredit == "Y")
                    {
                        <option value="C">Credit</option>
                    }
                    if (allow_PG == "Y")
                    {
                        <option value="P">Payment Gateway</option>
                    }
                    if (allow_passthrough == "Y")
                    {
                        <option value="B">Pass Through</option>
                    }
                }

            </select>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2 marbtmplus15 mt-3">
            @*02**@
            <div class="dv-anim input-effect m-0 m-sm-t15" style="margin-top:0px !important">
                <input id="txtAirLineName" style="text-transform: uppercase;" maxlength="2" class="txt-anim clsAlphaNumeric" type="text" />

                <label style="left: 5px !important">Airline Code</label> @*02**@
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>


        <div class="col-xs-6 col-md-3 col-sm-3 col-lg-2 marbtmplus15 mt-3">
            @*02**@
            <div class="dv-anim input-effect m-0 m-sm-t15" style="margin-top:0px !important">
                <input id="txtFlightno" style="text-transform: uppercase" maxlength="4" class="txt-anim clsAlphaNumeric" type="text" onkeypress="javascript:return isNumericVal(event);" />

                <label style="left: 7px !important">Flight No</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        @if (strTerminalType == "T")
        {
            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 marbtmplus15">
                @*RB25*@
                <input class="form-control ui-autocomplete-input" type="text" id="bkddlclient" autocomplete="new-password" placeholder="Agency Name" style="height: 38px;" />
            </div>
            if (strMigratedAgent == "Y")
            {
                <div class="col-xs-12 col-md-4 col-sm-3 col-lg-2">
                    <div class="dv-anim input-effect m-0 m-sm-t15" style="margin-top:0px !important">
                        <input type="checkbox" class="lblcheckbox" id="chkMigrated">
                        <label for="chkMigrated" style="left: 5px !important">Migrated Agent</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
            }
        }

        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-2">
            @*02**@

            <div class="dv-anim input-effect m-0 m-sm-t15" style="display: none">
                <input id="txtTraveldate" readonly="true" disabled="disabled" class="txt-anim" type="text" />

                <label>Travel Date</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12  marbtmplus10 ">
            @*02**@
            <div class="segmented-control" style="width: 100%; color: #fff; background-color: rgb(48, 164, 237); height: 35px; line-height: 32px !important;float:left;">
                <input type="radio" name="chkFTriptype1" id="rbookdate" checked="" value="BD" onclick="javascript: return ChangeFilterBased('BD');">
                <input type="radio" name="chkFTriptype1" id="rTraveldate" value="TD" onclick="javascript: return ChangeFilterBased('TD');">
                <input type="radio" name="chkFTriptype1" id="rBlockPnr" value="BDT" onclick="javascript: return ChangeFilterBased('BP');">

                <label for="rbookdate" style="line-height: 32px;" data-value="Booked Date">Booked Date</label>
                <label for="rTraveldate" style="line-height: 32px;" data-value="Travel Date">Travel Date</label>
                <label for="rBlockPnr" style="line-height: 32px;" data-value="Block Pnr">Block PNR</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 ">
        <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6 col-lg-offset-3 col-md-offset-4 col-sm-offset-3" style="padding: 0px">
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4">
                <input type="button" id="btn_ok" class="action-button action-buttonO shadow animate color" style="width: 100%" value="Get History" onclick="javascript: return RequestBookedHistory();" />
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 ">
                <input type="button" id="btn_clear" class="action-button action-buttonB shadow animate  colorB1" value="Clear" style="width: 100%" onclick="javascript: return Btn_clr_Click();" />
            </div>
            <div class="hidden-xs col-md-4 col-sm-6 col-lg-4 marbtmplus15" style="display: block;">

                @using (Html.BeginForm("ExportDatabookedhistory_sum", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="submit" id="Btn_excel" class="action-button action-buttonG shadow animate  colorG" value="Export To Excel" style="width: 100%;display:none;" />
                }
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="margin-top: 15px">
        <div id="Div_Char" style="display:none;">
        </div>
        <div id="charterror" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-lg-offset-3 col-md-offset-4 col-sm-offset-3">
        <div id="dvGrpBkngerr">
            <div class="message_wrap showhide">
                <p class="message">
                    <span id="dvGrpBkngerr_msg" class="error">All field(s) should not be empty.</span>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    var allowcredit = '@allowcredit';
    var allowtopup = '@allowtopup';
    var strProductType='@strProductType';
    var TerminalType = '@strTerminalType';
    var errPdiv = "dvGrpBkngerr", errdiv_msg = "dvGrpBkngerr_msg";
    var currentDate = "@ViewBag.ServerDateTime";
    var day = currentDate.split('/');
    var day = day[0];
    var day2 = day[0];
    var month = day[1];
    var year = day[2];
    $(document).ready(function () {
        var currentDate = "@ViewBag.ServerDateTime";
        $("#txt_AirBook_fromdate").val(currentDate);
        $("#txt_AirBook_fromdate").addClass("has-content");
        $("#txt_AirBook_fromdate").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy",
        });
        $("#txt_AirToodate").val(currentDate);
        $("#txt_AirToodate").addClass("has-content");
        $("#txt_AirToodate").datepicker({
            minDate: $("#txt_AirBook_fromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy",
        });
        $("#txt_AirBook_fromdate").on('change keyup paste', function () {
            $("#txt_AirToodate").datepicker("destroy");
            $("#txt_AirToodate").datepicker({
                minDate: $("#txt_AirBook_fromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy"
            });
        });
        $("#txtTraveldate").val(currentDate);
        $("#txtTraveldate").datepicker({
            dateFormat: "dd/mm/yy",
        });
    });

    if (TerminalType != null && TerminalType == "T") {
        LoadClient();
    }

    function LoadClient() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetClientData", "HOME")",
            contentType: "application/json; charset=utf-8",
            timeout: 180000,
            dataType: "json",
            success: function (data) {
                try {
                    var data = data["Data"];
                    if (data.Status == "01") {
                        var arr = JSON.parse(data.Result);
                        $('#bkddlclient').typeahead('destroy');
                        $('#bkddlclient').typeahead({
                            source: arr,
                            items: 5,
                            displayField: "CLTNAME",
                            valueField: "CLTCODE",
                            scrollBar: true,
                            onSelect: displayResults,
                        });

                        function displayResults(item) {
                            var selectedvalues = item.value;
                            $('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
                            sessionStorage.setItem("clientid", selectedvalues);
                            sessionStorage.setItem("clientname", item.text);
                            sessionStorage.setItem("branchid", item.bid_s);
                            sessionStorage.setItem('Groupid', item.GROUPID_s);
                            hideError1("", "");
                            hideoldavaildetails();
                        }
                        if (strProductType == 'DEIRA' && arr.length == 1) {
                            $("#bkddlclient").val(arr[0].CLTNAME.split("~")[0]).trigger("click");
                            var param = { value: arr[0].CLTCODE, text: arr[0].CLTNAME, CLT_CNT: arr[0].CNT, bid_s: arr[0].BID };
                            displayResults(param);
                            $("#bkddlclient").hide();
                        }
                        else {
                            if('@strDefaultAgent' != '')
                            {
                            var defary = $.grep(arr, function (obj) {
                                return obj.CLTCODE == '@strDefaultAgent';
                            });
                            if (arr.length) {
                                $("#bkddlclient").val(defary[0].CLTNAME.split("~")[0]).trigger("click");
                                var param = { value: defary[0].CLTCODE, text: defary[0].CLTNAME, CLT_CNT: defary[0].CNT, bid_s: defary[0].BID };
                                displayResults(param);
                                displayMulResults(param);
                            }

                            }
                        }
                    }                   
                }
                catch (err) {
                    console.log(err.message);
                }
            },
            error: function (e) {
            }
        });
    }

    function hideoldavaildetails() {
        $("#dvAvailView").hide();
        $("#imodifyclosebtn").hide();
    }
</script>
