@{
    string[] _toptxtary = Session["TopText"] != null ? Session["TopText"].ToString().Split('~') : "".Split('~');
    string _homtxt = Session["HomeText"] != null ? Session["HomeText"].ToString() : "";
}

<ul style="margin: auto !important; position: initial !important; padding-left: 36px;">
    <li style="display: block; width: 100%;"><a href="#">@System.Configuration.ConfigurationManager.AppSettings["Appname"], @_homtxt</a></li>
    <li style="display: block; width: 100%;"><a href="#">@System.Configuration.ConfigurationManager.AppSettings["Appname"], @_homtxt</a></li>

</ul>
