@{
    string PNRFlag = System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString();
 }

<style>
    @@media screen and (max-width: 768px) and (min-width: 250px) {
        .mobilescr {
            margin-top: -14PX;
            margin-bottom: 15px;
        }
    }
    .clshref {
       color:blue;
       cursor:pointer;
       text-decoration:underline;
    }
</style>

<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 fadeInDownSmall">
    <div class="col-sm-12 col0 mobshow hidden-lg hidden-md hidden-sm">
        <span>Group Status</span>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpmins0 pad-0" id="marginbtm">
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_Fromdate" maxlength="10" readonly="readonly" class="txt-anim" type="text" />
                <label><span id="txt_DateFrom">From</span> Date</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_Todate" maxlength="10" readonly="readonly" class="txt-anim" type="text" />
                <label><span id="txt_DateTo">To</span> Date</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2 m-0 m-sm-t15" style="text-align: left;background:none !important;">
            <span id="txt_GroupStatus" class="clsspntitle">Status</span>
            <select class="clscmbanim" id="txt_GroupAll" size="5">
                <option selected value="">All</option>
                <option>Open</option>
                <option>Awaiting</option>
                <option>Cancelled</option>
                <option>Confirmed</option>
                <option>Negotiation</option>
                <option>Quoted</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2 m-0 m-sm-t15" style="text-align: left;background:none !important;">
            <span id="txt_GroupAirportId" class="clsspntitle">Airport ID</span>
            <select class="clscmbanim" id="txt_OpsearchAll">
                <option selected value="">All </option>
                <option>Domestic</option>
                <option>International</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txtRefID" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" />
                <label><span id="txt_ReferenceId">Reference ID</span></label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2 martpmins15">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_Travel_date" readonly="readonly" maxlength="10" class="txt-anim" type="text" />
                <label><span id="txt_TravelDate">Travel Date</span></label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>     
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pad-0">           
        <div class="col-md-6 col-md-offset-6 col-sm-6 col-lg-4 col-lg-offset-8 col-xs-12  marbtmplus10 m-t-15m"> @*02**@
            <div class="segmented-control" style="width: 100%; color: #fff; background-color: rgb(48, 164, 237); height: 35px; line-height: 32px !important;">
                <input type="radio" name="chkFTriptype2" id="groupBook" checked="" value="BD" onclick="javascript: return ChangeFilter('BD');" >
                <input type="radio" name="chkFTriptype2" id="groupTravel" value="TD" onclick="javascript: return ChangeFilter('TD');">
                
                <label for="groupBook" style="line-height: 32px;" data-value="Booked Date">Booked Date</label>
                <label for="groupTravel" style="line-height: 32px;" data-value="Travel Date">Travel Date</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 ">
        <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6 col-lg-offset-3 col-md-offset-4 col-sm-offset-3" style="padding: 0px">
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4">
                <input type="button" id="btn_ok" class="action-button action-buttonO shadow animate color" style="width: 100%" value="Get History" onclick="javascript: return GroupBookedHistory();" />
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 ">
                <input type="button" id="btn_clear" class="action-button action-buttonB shadow animate  colorB1" value="Clear" style="width: 100%" onclick="clear_Click();" />
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="margin-top: 15px">
        <div id="Div_Char" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        </div>
        <div id="charterror" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-lg-offset-3 col-md-offset-4 col-sm-offset-3">
        <div id="dvGrpBkngerr">
            <div class="message_wrap showhide">
                <p class="message">
                    <span id="dvGrpBkngerr_msg" class="error">All field(s) should not be empty.</span>
                </p>
            </div>
        </div>
    </div>
     <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="margin-top: 15px;padding-left:6%;padding-right:5%;">
        <div id="groupStatus" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        </div>
    </div>

<div id="modal-groupStatus" class="iziModal" >
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="margin-top: 15px;margin-bottom:15px;">
        <div id="groupStatus1" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        </div>
    </div>
</div>
</div>
 <link href="~/Content/CSS/raysModal.css" rel="stylesheet" />
<script src="~/js/raysModal.js"></script>
<script>
   
    var errPdiv = "dvGrpBkngerr", errdiv_msg = "dvGrpBkngerr_msg";
    var currentDate = "@ViewBag.ServerDateTime";
    $(document).ready(function () {
        var errPdiv = "dvGrpBkngerr", errdiv_msg = "txt_GroupEmpty";
        var currentDate = "@ViewBag.ServerDateTime";
        $("#txt_Travel_date").val(currentDate);
        $("#txt_Travel_date").addClass("has-content");
        $("#txt_Travel_date").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy",
        });        
        
        $("#txt_Fromdate").val(currentDate);
        $("#txt_Fromdate").addClass("has-content");
        $("#txt_Fromdate").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy",
        });

        $("#txt_Todate").val(currentDate);
        $("#txt_Todate").addClass("has-content");
        $("#txt_Todate").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy",
        });

    });
    function GroupBookedHistory() {
        var GroupDate = $("#txt_Fromdate").val();
        var GroupTo = $("#txt_Todate").val();
        var Status = $("#txt_GroupAll").val();
        var AirportId = $("#txt_OpsearchAll").val();
        var Reference = $("#txtRefID").val();
        var Travel = $("#txt_Travel_date").val();

        $.ajax({
            type: "POST",
            url: "@Url.Action("GroupStatusHistory", "Pnr")",
            data: '{strGroupDate: "' + GroupDate + '",strGroupTo: "' + GroupTo + '",strStatus:"' + Status + '",strAirportId:"' + AirportId + '",strReference:"' + Reference + '",strTravel:"' + Travel + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            timeout: 100000,
            success: function (json) {
                var result = json.Result;
                if (result[1] == "" || result[1] == null) {
                    showerralert("No Records found", "", "");
                }
                else if (result[1] != "" && result[1] != null) {
                    Data = JSON.parse(result[1]);
                    Data = Data.Table;

                    var NoOfRow = Data.length;
                    var str = "";
                    str = '<table id="tbl_group" data-paging="true" data-sorting="true" class="table table-striped footable footable-1  breakpoint-lg footable tablet breakpoint footable-loaded">';
                    var row = 0;
                    for (var result in Data) {
                        var mainData = Data[result];
                        row++;
                        var i = 0;
                        var cls = "";
                        if (row == 1) {

                            str += '<thead><tr class="footable-header" >';
                            str += '<th  data-breakpoints="xs" data-type="varchar">Reference Id</th>'
                            str += '<th  data-breakpoints="xs" data-type="varchar">Date&Time</th>'
                            str += '<th  data-breakpoints="xs" data-type="varchar">Request Sector</th>'
                            str += '<th  data-breakpoints="xs" data-type="varchar">Airline Code</th>'
                            str += '<th  data-breakpoints="xs" data-type="varchar">Pax Count</th>'
                            str += '<th  data-breakpoints="xs" data-type="varchar">Travel Date</th>'
                            str += '<th  data-breakpoints="xs" data-type="varchar"><nobr>Airport Id</nobr></th>'
                            str += '<th  data-type="character" >Status</th>'

                            str += '</tr></thead><tbody>';
                        }
                        str += '<tr>';
                        for (var i = 0; i <= NoOfRow; i++) {

                            str += '<td><a class="clshref" onclick=getGroupDetails("' + mainData["REFERENCE_NO"] + '")>' + mainData["REFERENCE_NO"] + '</a></td>';
                            str += '<td id="aRequestedDate' + i + '">' + mainData["REQUESTED_DATE"] + '</td>';
                            str += '<td id="aSector' + i + '">' + mainData["SECTOR"] + '</td>';
                            str += '<td id="aAirlineCode' + i + '">' + mainData["AIRLINE_CODE"] + '</td>';
                            str += '<td id="aPaxCount' + i + '">' + mainData["PAX_COUNT"] + '</td>';
                            str += '<td id="aDepartureDate' + i + '">' + mainData["DEPARTURE_DATE"] + '</td>';
                            str += '<td id="aAirportId' + i + '">' + mainData["AIRPORT_ID"] + '</td>';
                            str += '<td id="aStatus' + i + '">' + mainData["STATUS"] + '</td>';
                        }

                        // str += '<td class="footable-first-column" style="text-align:Right;">' + mainData + '</td>';

                        str += '</tr>';
                    }
                    str += '</tbody></table>';
                    str += '<div class="dvrows" style="float:left;margin-top: 10px;">No Of Rows :  <select id="sizeclk" class="Selecttype" onchange="Getrows(this.id)"><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="200">200</option><option value="500">500</option><option value="' + Data.length + '">ALL</option></select> </div>'
                    $('#groupStatus').html(str);
                    $('.footable').footable();

                }

            },

            error: function (e) {//On Successful service call                            
                alert(e.responseText);
                if (e.status == "500") {
                    alert("An Internal Problem Occurred. Your Session will Expire.");
                    window.top.location = sessionExb;
                    return false;
                }
                $.unblockUI();
            }

        });

    }



    function getGroupDetails(getRowIndex) {
        var checkary = $.grep(Data, function (val, obj) {
            return getRowIndex == val.REFERENCE_NO.toString();
        });

        var TripType = checkary[0].TRIP_TYPE;
        var grossPopup = "";
        grossPopup = '<table id="tbl_group1" data-paging="true" data-sorting="true" class="table table-striped footable footable-1  breakpoint-lg footable tablet breakpoint footable-loaded">';
        grossPopup += '<thead><tr class="footable-header" >';
        grossPopup += '<th  data-breakpoints="xs" data-type="varchar">Trip</th>'
        grossPopup += '<th data-breakpoints="xs" data-type="varchar"><nobr>Airline Code</nobr></th>'
        grossPopup += '<th data-breakpoints="xs" data-type="varchar">Origin</th>'
        grossPopup += '<th data-breakpoints="xs" data-type="varchar">Destination</th>'
        grossPopup += '<th data-breakpoints="xs" data-type="varchar"><nobr>Departure Date</nobr></th>'
        grossPopup += '<th  data-breakpoints="xs" data-type="varchar">Class</th>'
        grossPopup += '<th  data-breakpoints="xs" data-type="varchar"><nobr>Pax Count</nobr></th>'
        grossPopup += '<th  data-breakpoints="xs" data-type="varchar"><nobr>Quoted Fare</nobr></th>'
        grossPopup += '<th  data-type="character" ><nobr>Expected Fare</nobr></th>'
        grossPopup += '</tr></thead><tbody>';

        if (TripType == "R") {
            grossPopup += '<tr >';
            grossPopup += '<td class="expand">Return</td>';
            grossPopup += '<td >' + checkary[0].AIRLINE_CODE + '</td>';
            grossPopup += '<td >' + checkary[0].ORIGIN + '</td>';
            grossPopup += '<td >' + checkary[0].DESTINATION + '</td>';
            grossPopup += '<td >' + checkary[0].RETURN_DATE + '</td>';
            grossPopup += '<td >' + checkary[0].RETURN_CLASS + '</td>';
            grossPopup += '<td >' + checkary[0].PAX_COUNT + '</td>';
            grossPopup += '<td >' + (checkary[0].QUOTED_FARE == "" || checkary[0].QUOTED_FARE == null ? "-" : checkary[0].QUOTED_FARE) + '</td>';
            grossPopup += '<td >' + checkary[0].EXPECTED_FARE + '</td>';
            grossPopup += '</tr>';
        }
        else {
            grossPopup += '<tr >';
            grossPopup += '<td class="expand">OneWay</td>';
            grossPopup += '<td >' + checkary[0].AIRLINE_CODE + '</td>';
            grossPopup += '<td >' + checkary[0].ORIGIN + '</td>';
            grossPopup += '<td >' + checkary[0].DESTINATION + '</td>';
            grossPopup += '<td >' + checkary[0].DEPARTURE_DATE + '</td>';
            grossPopup += '<td >' + checkary[0].CLASS + '</td>';
            grossPopup += '<td >' + checkary[0].PAX_COUNT + '</td>';
            grossPopup += '<td >' + (checkary[0].QUOTED_FARE == "" || checkary[0].QUOTED_FARE == null ? "-" : checkary[0].QUOTED_FARE) + '</td>';
            grossPopup += '<td >' + checkary[0].EXPECTED_FARE + '</td>';
            grossPopup += '</tr>';
        }
        grossPopup += '</tbody><table>';
        grossPopup += '<div style="text-align:left! important"><label>For Group Issuance or Negotiation or any Additional Services Email us on : <a href="mailto:rcgroups@riya.travel?content-type=text/html"> rcgroups@riya.travel</a> with your reference ID</label></div>';
        grossPopup += '<div style="float:left;"><span>@PNRFlag:' + (checkary[0].RIYA_PNR == "" || checkary[0].RIYA_PNR == null ? "" : checkary[0].RIYA_PNR) + '</span></div></br>';
        grossPopup += '<div style="float:left;margin-top: 10px;margin-bottom:10px"><span >AirlinePNR:' + (checkary[0].AIR_PNR == "" || checkary[0].AIR_PNR == null ? "" : checkary[0].AIR_PNR) + '</span></div> ';
        $('#groupStatus1').html(grossPopup);
        $('#tbl_group1').footable();

        $('#modal-groupStatus').iziModal('destroy');

        $("#modal-groupStatus").iziModal({
            title: "Group Status",
            //icon: 'fa fa-info',
            headerColor: '#5bbd72',
            width: "1000px",
            overlay:false
        });
        $('#modal-groupStatus').iziModal('open');
        //return false;
    }


    function showError(msg, errPtagid, errtagid, focusid) {
        $("#" + errPtagid).addClass("has_error");
        $("#" + errPtagid + " .message").addClass("animation");
        $("#" + errtagid).addClass("error_active");
        setTimeout(function () {
            $("#" + errPtagid + " .message").removeClass("animation");
        }, 200);
        $("#" + errtagid).html(msg);

        if (focusid != "")
            $('#focusid').focus();
    }

    function ChangeFilter(a) {
     
        if (a == 'BD') {
            document.getElementById('txt_Fromdate').disabled = false;
            document.getElementById('txt_Todate').disabled = false;
            document.getElementById('txt_Travel_date').disabled = true;
        }
        if (a == 'TD') {
            document.getElementById('txt_Fromdate').disabled = true;
            document.getElementById('txt_Todate').disabled = true;
            document.getElementById('txt_Travel_date').disabled = false;
        }
    }

    function clear_Click() {       
        $("#txt_Fromdate").val(currentDate);
        $("#txt_Todate").val(currentDate);
        $("#txt_GroupAll").val("");
        $("#txt_OpsearchAll").val("");
        $("#txtRefID").val("");
        $("#txt_Travel_date").val(currentDate);
        $("#groupStatus").html("");
        $('#txt_GroupAll,#txt_OpsearchAll').niceSelect('destroy').niceSelect();
    }


    function Getrows(e) {
        var ids = $("#" + e).val();
        FooTable.get('#tbl_group').pageSize(ids);
    };
</script>
