@{
    ViewBag.Title = "_PartialCancellation";
}

@{
    string[] _toptxtary = Session["TopText"] != null ? Session["TopText"].ToString().Split('~') : "".Split('~');
    string _homtxt = Session["HomeText"] != null ? Session["HomeText"].ToString() : "";
    string Pnrnameflg = System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString() != "" ? System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString() : "S PNR";
    string Producttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
}


<!--pnr-->


<style>
    @@media screen and (max-width: 750px) and (min-width: 250px) {
        #marginbtm {
            margin-bottom: 20px;
        }
    }
</style>

<div class="full-height" style="">
    <div class="clip">
        <div class="bg bg-bg-chrome" >
        </div>
    </div>
</div>



<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 fadeInDownSmall" style="padding-top: 10px;">
    <div class="col-sm-12 col0 mobshow hidden-lg hidden-md hidden-sm">
        @*2212*@
        <span>Cancellation</span>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pad-0" id="marginbtm">
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="can_txt_viewSPNR" maxlength="10" value="" class="txt-anim clsAlphaNumeric" type="text" autocomplete="off" style="text-transform: uppercase" />

                <label>@Pnrnameflg</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="can_txt_viewAirPNR" maxlength="10" value="" class="txt-anim clsAlphaNumeric" type="text" autocomplete="off" style="text-transform: uppercase" />

                <label>Airline PNR</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="can_txt_viewCSRPNR" maxlength="10" value="" class="txt-anim clsAlphaNumeric" type="text" autocomplete="off" style="text-transform: uppercase" />

                <label>CRS PNR</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3" style="display:none;">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <select id="can_ddl_paymentmode" maxlength="10" value="" class="txt-anim clsAlphaNumeric has-content form-control" type="text" autocomplete="off" style="text-transform: uppercase">
                        <option selected value="">All</option>
                    <option value="C">Credit</option>
                    <option value="T">Topup</option>
                </select>
                <label>Payment mode</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-offset-4 col-md-4 col-sm-4 col-lg-4">
        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
            <input type="button" id="get_pnr" class="action-button action-buttonO shadow animate color" style="width: 100%" value="Ok" onclick="get_cancellation_function();" />
        </div>
        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
            <input type="button" id="Clear" class="action-button action-buttonB shadow animate  colorB1" value="Clear" style="width: 100%" onclick="clear_cancellation_pnr();" />
        </div>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-4 col-lg-offset-4">
        <div id="cancel_dvGrpBkngerr">
            <div class="message_wrap showhide">
                <p class="message">
                    <span id="cancel_dvGrpBkngerr_msg" class="error">All field(s) should not be empty.</span>
                </p>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10" id="show_pnr">
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10" id="can_viewpnrShowDiv" style="padding: 0px;">
    </div>

</div>

<!--end of cancellation details-->