@{
    string[] _toptxtary = Session["TopText"] != null ? Session["TopText"].ToString().Split('~') : "".Split('~');
    string _homtxt = Session["HomeText"] != null ? Session["HomeText"].ToString() : "";
    string appthemeversion = System.Configuration.ConfigurationManager.AppSettings["apptheme"] != null ? System.Configuration.ConfigurationManager.AppSettings["apptheme"].ToString() : "THEME1";
    string Pnrnameflg = System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString() != "" ? System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString() : "S PNR";
    string AppTheme = System.Configuration.ConfigurationManager.AppSettings["apptheme"] != null ? System.Configuration.ConfigurationManager.AppSettings["apptheme"].ToString() : "THEME1";
    string Producttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
}

@if (AppTheme.ToUpper() == "THEME2")
{
    <link href="~/Content/CSS/Theme2/style.css" rel="stylesheet" />
}
<!--pnr-->

<style>
    @@media screen and (max-width: 750px) and (min-width: 250px) {
        #marginbtm {
            margin-bottom: 20px;
        }
    }
</style>

<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 fadeInDownSmall" style="padding-top: 10px;">
    <div class="col-sm-12 col0 mobshow hidden-lg hidden-md hidden-sm">
        @*2212*@
        <span>PNR Verification</span>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 hidediv_toticket pad-0" id="marginbtm">
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_viewSPNR" maxlength="10" value="" class="txt-anim clsAlphaNumeric" type="text" autocomplete="off" style="text-transform: uppercase" />

                <label>@Pnrnameflg</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_viewAirPNR" maxlength="10" value="" class="txt-anim clsAlphaNumeric" type="text" autocomplete="off" style="text-transform: uppercase" />

                <label>Airline PNR</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_viewCSRPNR" maxlength="10" value="" class="txt-anim clsAlphaNumeric" type="text" autocomplete="off" style="text-transform: uppercase" />

                <label>CRS PNR</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3" style="display:none;">

            <div class="dv-anim input-effect m-0 m-sm-t15">
                <select id="ddl_paymentmode" maxlength="10" value="" class="txt-anim clsAlphaNumeric form-control has-content" type="text" autocomplete="off" style="text-transform: uppercase">
                        <option selected value="">All</option>
                    <option value="C">Credit</option>
                    <option value="T">Topup</option>
                </select>
                <label>Payment mode</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-offset-4 col-md-4 col-sm-4 col-lg-4 hidediv_toticket">
        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
            <input type="button" id="get_pnr" class="action-button action-buttonO shadow animate color" style="width: 100%" value="Search" onclick="get_pnr_Click(null, null, null);" />
        </div>
        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
            <input type="button" id="Clear" class="action-button action-buttonB shadow animate  colorB1" value="Clear" style="width: 100%" onclick="clear_pnr();" />
        </div>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-lg-4 col-lg-offset-4 hidediv_toticket">
        <div id="dvGrpBkngerr_view">
            <div class="message_wrap showhide">
                <p class="message">
                    <span id="dvGrpBkngerr_msg_viewpnr" class="error">All field(s) should not be empty.</span>
                </p>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10 hidediv_toticket" id="show_pnr">
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10 hidediv_toticket pad-0t" id="viewpnrShowDiv">

    </div>

     <div id="dvBookinsuccess_dxb" style="display: none; padding: 15px; background: #27a5f5;">
   
         
          </div>

</div>
<!--end of pnr verfication details-->
