@{
    ViewBag.Title = "Checktopup";
    string fileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
}


<style>
     .clsIframe{
        width:100%;
        margin-top: 12px;
    }
</style>
<h2 style="display:none;">Checktopup</h2>
<script src="~/js/iframe/iframeResizer.js?@fileversion"></script>
<script>
    function resizeIframe(obj) {
        obj.style.height = (obj.offsetTop - obj.offsetHeight) - 10 + "px";
    }
</script>
<iframe id="iFreme" style="width:100%; border: none;" class="clsIframe" src="@ViewBag.Checktopup" onload="resizeIframe(this)"></iframe>
