@using System.Configuration;
@{
    ViewBag.Title = "HomeMaster";
    string fileversion = ConfigurationManager.AppSettings["UpdateVersion"] != null ? ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string appthemeversion = ConfigurationManager.AppSettings["apptheme"] != null ? ConfigurationManager.AppSettings["apptheme"].ToString() : "THEME1";
    string strContainerclass = ConfigurationManager.AppSettings["APP_HOSTING"] != null && ConfigurationManager.AppSettings["APP_HOSTING"].ToString() == "BSA" ? "container" : "";
}
@if (appthemeversion.ToUpper() == "THEME2")
{
    <link href="~/Content/CSS/Theme2/style.css?@fileversion" rel="stylesheet" />
}
else if (appthemeversion.ToUpper() == "THEME3")
{
    <style>iframe {margin-top: 5em !important;height: 550px !important;}</style>
}

@if (ViewBag.loadpage != "")
{
    <h2 style="display:none">HomeMaster</h2>
    <script src="~/js/iframe/iframeResizer.js"></script>
    <div class="@strContainerclass">
        <iframe id="IFRAME" style="width:100%; border: none;" class="clsIframe" src="@ViewBag.loadpage" onload="resizeIframe(this)"></iframe>
    </div>
}

<script>
    function resizeIframe(obj) {
        obj.style.height = (obj.offsetTop - obj.offsetHeight) - 10 + "px";
    }
</script>