@{
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
}
<div style="flex-align:center;margin:20px auto; width:65%;">
    <table style="height: 50%;" id="Table2">
        <tr>
            <td>
                <img alt="" style="width: 120%;" id="img1" src="@Url.Content("~/Images/"+strProduct+"/Soon.gif")" />
            </td>
        </tr>
    </table>
</div>
