@{
    Layout = "";
    string[] strfiles = System.Text.RegularExpressions.Regex.Split(ViewBag.strfiles, "~SPLITFILE~");
}
<style>
    .outer {
        margin-top: 20px;
        background: #fff;
        margin-bottom: 50px;
        border-radius: 2px;
        box-shadow: 0px 0px 5px 0px #ddd;
        padding: 15px;
    }

        .outer .hdr {
            font-size: 16px;
        }

        .outer .txtarea {
            width: 100%;
            border: 0px solid #f2f2f2;
            max-height: 500px;
            height: 350px;
            overflow-y: auto;
            border-top: 2px solid #eee;
        }

    .inner {
        border: 1px solid #f2f2f2;
        margin-top: 10px;
        padding: 0px 0px;
    }

        .inner p.hdrxml {
            padding: 10px 0px 0px 0px;
        }

            .inner p.hdrxml span {
                color: #fff;
                padding: 6px 12px;
                font-size: 13px;
                font-weight: 600;
                margin-left: -10px;
            }

    .leftxml p.hdrxml span {
        background: #ff7272;
    }

    .rightxml p.hdrxml span {
        background: #7289ff;
    }

    .leftxml .txtarea {
        background: #f5f5f5;
    }

    .rightxml .txtarea {
        background: #fdfdfd;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<section class="container outer" style="margin-top:20px;">
    <div class="row">
        <div class="col-xs-12">
            <p class="hdr">Update XML</p>

            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <select id="ddlxml" onchange="Chngxml();">
                        <option value="" selected>Select an xml</option>
                        @for (int i = 0; i < strfiles.Length; i++)
                        {
                            <option value="@Path.GetFileName(new FileInfo(strfiles[i]).FullName)">@Path.GetFileName(new FileInfo(strfiles[i]).FullName)</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 inner leftxml">
                            <p class="hdrxml"><span>Old XML</span></p>
                            <textarea class="txtarea" id="txtaraxmlold" disabled readonly cols="50" rows="20"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 inner rightxml">
                            <p class="hdrxml"><span>New XML</span></p>
                            <textarea class="txtarea" id="txtaraxmlnew" cols="50" rows="20"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <center><button id="btnUpdatexml" class="btn btn-3 btn-3e btnTbmt" style="margin:20px; max-width:250px;background-color:#28a5f5;color:#fff;" type="button">Update XML <i class="fa fa-arrow-right"></i></button></center>
        </div>
    </div>
</section>
<script>
    var xml = "";
    var Querydate = new Date();
    var Querytime = Querydate.getSeconds();
    function Chngxml() {
         xml = $("#ddlxml").val();
         var xmls = "../XML/" + xml + "?v" + Querydate.getMilliseconds() + "." + Querytime;
        $('#txtaraxmlold').val("");
        $.ajax({
            type: "GET",
            url: xmls,
            contentUrl: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#txtaraxmlold').val(data.toString());
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }

    $('#btnUpdatexml').click(function () {
        document.getElementById("btnUpdatexml").disabled = true;
        var newxml = $('#txtaraxmlnew').val().trim();
        if (newxml == "") {
            alert("Please enter New XML");
            return false;
        }
        var param = { newxmlqry: newxml, filename: xml }
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateXML", "Redirect")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data:JSON.stringify(param),
            success: function (data) {
                document.getElementById("btnUpdatexml").disabled = false;
                if (data.status == "01") {
                    alert("XML updated successfully.");
                    window.location.href = window.location.href;
                }
                else {
                    alert("Unable to update XML file. Please do it manually.");
                }
            },
            error: function (err) {
                document.getElementById("btnUpdatexml").disabled = false;
                alert(err.statusText+". Please do it manually.");
            }
        });
    });
</script>