@{ 
    string strAirlineLogoURL = System.Configuration.ConfigurationManager.AppSettings["FlightUrl"].ToString();
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Airlines Advisory on Coronavirus Refund Policies by Airline</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <link href="https://www.easemytrip.com/new-header/new-head-style-v2.css?v=9995" rel="stylesheet" />
    <link href="~/Content/CSS/Theme5/style.css" rel="stylesheet" />
    <link href="~/Content/CSS/Theme5/Dashboard.css" rel="stylesheet" />
    <script src="https://www.easemytrip.com/HomeCss/cal/js/jquery.min.js"></script>
    <style>
        .logofact {
            padding: 50px 0px;
            background: url(Images/main.png);
            background-size: cover;
            position: relative;
        }

        .clsmain {
            width: 1200px;
            margin: auto;
        }

        h5 {
            line-height: 0.1em;
        }

        .clsbod {
            width: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            margin: 12px 0;
            padding: 15px;
        }

        .clsindi {
            font-size: 35px;
            font-weight: 800;
            color: #131894;
        }

        .clsgoair {
            font-size: 35px;
            font-weight: 800;
            color: #131894;
        }

        .clsspicezet {
            font-size: 35px;
            font-weight: 800;
            color: #e61212;
        }

        .fltl {
            float: left;
        }

        .fltr {
            float: right;
        }

        .imgBlock {
            width: 100%;
            text-align: center;
        }

        .liststyle {
            width: 100%;
            float: left;
        }

            .liststyle ul {
                margin: 0;
                padding: 0;
            }

                .liststyle ul li {
                    margin: 0 0 0 20px;
                    padding: 0;
                    font-size: 13px;
                    color: #000;
                    list-style-type: disc;
                    line-height: 2.5em;
                }

        .imgfly {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0,.5);
            top: 0;
        }

        .logofact .entry-title-n {
            margin-bottom: 0px;
            font-size: 28px;
            font-weight: 600;
            color: #fff;
            position: relative;
            text-shadow: 1px 1px 2px rgba(0,0,0,.8);
            z-index: 0;
            text-transform: capitalize;
            letter-spacing: 0px;
        }

        .liststyle ul li b {
            font-weight: 600;
        }

        .tabs__container > .tabs__panel--active {
            height: auto;
        }

        .container {
            width: 100%;
            margin: 12px auto;
        }

        ul.tabs, ul.tabs2, ul.tabs3, ul.tabs4, ul.tabs5, ul.tabs6 {
            margin: 0px;
            padding: 0px;
            list-style: none;
            /*width: 97%;*/
            margin: 0 auto;
            border: 1px solid #e7e7e7;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            position: relative;
            z-index: 1;
            display: table;
        }

            ul.tabs li, ul.tabs2 li, ul.tabs3 li, ul.tabs4 li, ul.tabs5 li, ul.tabs6 li {
                display: inline-block;
                padding: 10px 60px;
                cursor: pointer;
                font-size: 11px;
                border-right: 1px solid #e7e7e7;
                border-radius: 0;
                color: #797979;
                position: relative;
                float: left;
                height: 50px;
                text-align: center;
            }

                ul.tabs li:last-child, ul.tabs2 li:last-child, ul.tabs3 li:last-child, ul.tabs4 li:last-child, ul.tabs5 li:last-child, ul.tabs6 li:last-child {
                    border-right: 0;
                }

                ul.tabs li.current, ul.tabs2 li.current, ul.tabs3 li.current, ul.tabs4 li.current, ul.tabs5 li.current, ul.tabs6 li.current {
                    color: #000;
                    font-weight: 600;
                }

                    ul.tabs li.current span, ul.tabs2 li.current span, ul.tabs3 li.current span, ul.tabs4 li.current span, ul.tabs5 li.current span, ul.tabs6 li.current span {
                        border-bottom: 3px solid #ec182d;
                        height: 3px;
                        display: inline-block;
                        width: 100%;
                        left: 0%;
                        position: absolute;
                        bottom: 0px;
                    }

        .tab-content, .tab-content2, .tab-content3, .tab-content4, .tab-content5, .tab-content6 {
            display: none;
            padding: 30px 15px 15px 15px;
            width: 100%;
            float: left;
            border: 1px solid #e7e7e7;
            margin-top: -19px;
        }

            .tab-content.current, .tab-content2.current, .tab-content3.current, .tab-content4.current, .tab-content5.current, .tab-content6.current {
                display: inherit;
            }

        .clsdet {
            padding: 0px 8px;
            font-size: 10px;
            background: #ec182d;
            /*border-radius: 20px;*/
            margin: 0 0 10px 15px;
            font-weight: bold;
            position: absolute;
            left: 70px;
            top: -14px;
            height: 21px;
            line-height: 21px;
            color: #fff;
        }

        .lh29 {
            line-height: 29px;
        }

        .clshd {
            background: rgba(23, 0, 121, 1);
            color: #fff;
            padding: 5px 10px;
            border-radius: 20px;
            font-weight: 800;
            font-size: 13px;
            display: inline-block;
            margin-bottom: 4px;
        }

        .headinfo {
            background-color: #eff0f2 !important;
            padding: 10px;
            font-size: 12px;
            line-height: 14px;
            border-radius: 5px;
            margin: 25px 0 12px 0;
            border-left: 5px solid rgba(23, 0, 121, 1);
        }
    </style>
</head>
<body>
    <div class="clr"></div>
    <div class="logofact">
        <div class="imgfly"></div>
        <div class="container">
            <h1 class="entry-title-n">Airlines Advisory on Coronavirus</h1>
        </div>
    </div>
    <div class="clsmain">
        <p class="headinfo"><strong>Important Information </strong>: Airlines may change their rules without notice, at their discretion, please refer to airline policies for the most recent update. For any amendments and cancellations, you will be charged as per the latest airline policy applicable.</p>
        <div class="clr"></div>
        <div class="widl51 fltl" id="p_2">
            <div class="clsbod fltr">
                <div class="imgBlock">
                    <span class="clsspicezet">SpiceJet</span>
                    <img src="@strAirlineLogoURL/SG.png" alt="Spicejet">
                </div>
                <div class="container">
                    <ul class="tabs2">
                        <li class="tab-link lh29" data-tab="tab-4">On or Before 24th March 2020<span>&nbsp;</span><p class="clsdet">Travel Date</p>
                        </li>
                        <li class="tab-link current" data-tab="tab-5">25th March 2020 to 25th May 2020<br>
                            <p>(both days inclusive)</p>
                            <span>&nbsp;</span><p class="clsdet">Travel Date</p>
                        </li>
                        <li class="tab-link lh29" data-tab="tab-6">On or After 26th May 2020 <span>&nbsp;</span><p class="clsdet">Travel Date</p>
                        </li>
                    </ul>
                    <div id="tab-4" class="tab-content2">
                        <div class="liststyle">
                            <p class="fnt13n">
                                <b>Booking Date :</b> All
                                <br>
                                <b>Travel date :</b> On or before 24th March 2020
                            </p>
                            <p class="clshd">Cancellation Policy :</p>
                            <h5>Cancellation initiated by the Agents/Customers 4 hours before the departure time :</h5>
                            <ul>
                                <li>Spicejet will process a partial refund after deducting airline cancellation penalty fees in the form of agency fund-transfers.</li>

                            </ul>
                            <h5>Cancellation initiated by the Agents/Customers within 4 hours of departure or after the departure time:</h5>
                            <ul>
                                <li>Spicejet will process a refund of unutilized taxes in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Flight suspended by Spicejet :</h5>
                            <ul>
                                <li>Spicejet will process a full refund on all such flights in the form of agency fund-transfers/Spicejet credit shell. This can be viewed by retrieving the booking from the Spicejet Website/APP/Spicejet call-center or by Contacting <strong>roundtrip Support Team.</strong> </li>
                            </ul>
                            <p class="clshd">Cancellation / Claim Refund Process :</p>
                            <ul>
                                <li>The Agents/Customers can cancel their booking either at Spicejet website/APP/Spicejet call-center or Contact<strong>Contact roundtrip Support Team.</strong> </li>
                                <li>If the Agents/Customers has canceled his/her flight through Spicejet website/APP/Spicejet call-center, The Agent has to claim the refund by initiating a cancellation request from from<strong>roundtrip.in website or Contact 044 4000 0005(Support Team).</strong> </li>
                                <li>If Spicejet has suspended the flight or Spicejet has approved full refund for any reason, Then the Agents/Customers has to claim the refund by initiating a full refund cancelation request from<strong> roundtrip.in website or Contact roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Policy :</p>
                            <h5>Amendment initiated by the Agents/Customers 3 days before the departure time:</h5>
                            <ul>
                                <li>Spicejet allows a one-time free amendment, The Agents/Customers can reschedule their flight one-time without any rescheduling charges, Fare difference (if any) will be applied.</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 3 days and 4 hours before the departure time:</h5>
                            <ul>
                                <li>Spicejet doesn't allow any free amendment. Agents/Customers can change their travel date by paying a rescheduling charges and fare difference (if any)</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 4 hours or after the departure time:</h5>
                            <ul>
                                <li>Spicejet doesn't allow Agents/Customers to reschedule their flights.</li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Process :</p>
                            <ul>
                                <li>The Agents/Customers can amend/modify their booking either at Spicejet Website/APP/Spicejet call-center or<strong> By Contact roundtrip Support Team.</strong></li>
                                <li>Agents/Customers can also amend their bookings by logging into into<strong> roundtrip.in website</strong> Retrieve Booking with the PNR >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Pay fare difference (If any) >> Booking Confirmation or contact<strong> roundtrip Support Team.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-content2 current">
                        <div class="liststyle">
                            <p class="fnt13n">
                                <b>Booking Date :</b> All
                                <br>
                                <b>Travel Date :</b> 25th march to 25th May 2020 (both days inclusive)<br>
                                <br>
                                <b>Note</b> : All flights are suspended by Spicejet Airlines for travel from 25th March 2020 to 25th May 2020(lockdown period)
                            </p>

                            <p class="clshd">Cancellation & Amendment Policy :</p>
                            <ul>
                                <li>All flights for travel from 25th March 2020 to 25th May 2020 (both days inclusive) has been suspended by Spicejet.</li>
                                <li>A Credit shell will be automatically created by Spicejet for an equivalent booking amount of the suspended flight by Spicejet.</li>
                                <li>Agents/Customers don't have to call/email/chat for the creation of Spicejet credit shells.</li>
                                <li>Agents/Customers doesn't have to cancel/reschedule their bookings for all flight for travel from 25th March 2020 to 25th May 2020.</li>
                                <li>The validity of credit shell will be 1 year from the date of creation.</li>
                                <li>Agents/Customers can view/redeem their Spicejet credit shell balance by retrieving the PNR in<strong> roundtrip.in </strong>or Spicejet website or<strong> Contact 044 4000 0005 (Support Team).</strong></li>
                            </ul>
                            <p class="clshd">About SpiceJet Credit Shell</p>
                            <ul>
                                <li>It is a credit note created automatically by Spicejet against your suspended flight. Which can be used for a future booking, for the same passenger (s)</li>
                                <li>The validity of the Spicejet credit shell will be 1 year from the date of creation.</li>
                                <li>Agents/Customers can book any flight for the same passenger (s) using the Spicejet credit shell logging into<strong> roundtrip.in website </strong>by Retrieve Booking with the PNR >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Add Passenger >> Pay fare difference (If any) >> Booking Confirmation or by contacting<strong> roundtrip Support Team </strong>to travel upto 28th February 2021.</li>
                                <li>To know more about, Spicejet credit shell Please visit here<a target="_blank" href="https://www.spicejet.com/CoronaVirusTravelRestrictions.aspx">(https://www.spicejet.com/CoronaVirusTravelRestrictions.aspx)</a></li>
                            </ul>
                            <p class="clshd">How to Create Spicejet credit shell</p>
                            <ul>
                                <li>Agents/Customers doesn't have to cancel/reschedule their bookings at Spicejet for all flight for travel from 25th March 2020 to 25th May 2020 (both days inclusive)</li>
                                <li>A Credit shell will be automatically created for an equivalent booking amount of the suspended flight by Spicejet.</li>
                                <li>Agents/Customers don't have to call/email with roundtrip/Spicejet for the creation of Spicejet credit shells.</li>
                            </ul>
                            <p class="clshd">How to view Spicejet Credit Shell Balance</p>
                            <ul>
                                <li>Agents/Customers can easily view Spicejet credit shell balance by retrieving their booking from Spicejet Website/App or by reaching out to Spicejet call-center or<strong> By Contact roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">How to redeem Spicejet credit shell Balance</p>
                            <ul>
                                <li>Agents/Customers can redeem their IndiGo credit shell balance using the following steps: by logging into<strong> roundtrip.in website</strong> by Retrieve Booking with the PNR >> Reschedule >> Change/Modify Itinerary >> Spice jet Flight >> Choose Flight >> Add Passenger >> Pay fare difference (If any) >> Booking Confirmation or by contacting<strong> roundtrip Support Team.</strong> </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab-6" class="tab-content2">
                        <div class="liststyle">
                            <p class="fnt13n">
                                <b>Booking Date :</b>All
                                <br>
                                <b>Departure Date :</b> On or after 26th May 2020
                            </p>
                            <p class="clshd">Cancellation Policy :</p>
                            <h5>Cancellation initiated by the Agents/Customers 4 hours before the departure time:</h5>
                            <ul>
                                <li>Spicejet will process a partial refund after deducting airline cancellation penalty fees in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Cancellation initiated by the Agents/Customers within 4 hours of departure or after the departure time:</h5>
                            <ul>
                                <li>Spicejet will process a refund of unutilized taxes in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Flight suspended by Spicejet:</h5>
                            <ul>
                                <li>Spicejet will process a full refund on all such flights in the form of agency fund-transfers/Spicejet credit shell. This can be viewed by retrieving the booking from the Spicejet Website/APP/Spicejet call-center.</li>
                            </ul>
                            <p class="clshd">Cancellation / Claim Refund Process :</p>
                            <ul>
                                <li>The Agents/Customers can cancel their booking either at Spicejet website/APP/Spicejet call-center or using <strong>roundtrip.in</strong> website or by contacting<strong> roundtrip Support Team.</strong></li>
                                <li>If the Agents/Customers has canceled his/her flight through Spicejet website/APP/Spicejet call-center, The Agents/Customers has to claim the refund by initiating a cancellation request through <strong>roundtrip.</strong> website or<strong> Contact 044 4000 0005(Support Team).</strong></li>
                                <li>If Spicejet has suspended the flight or Spicejet has approved full refund for any reason, Then the Agents/Customers has to claim the refund by initiating a full refund cancelation request through<strong> roundtrip.in</strong> website or contacting<strong> roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Policy :</p>
                            <h5>Amendment initiated by the Agents/Customers 3 days before the departure time:</h5>
                            <ul>
                                <li>Spicejet allows a one-time free amendment, The Agents/Customers can reschedule their flight one-time without any rescheduling charges, Fare difference (if any) will be applied.</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 3 days and 4 hours before the departure time:</h5>
                            <ul>
                                <li>Spicejet doesn't allow any free amendment. Agents/Customers can change their travel date by paying a rescheduling charges and fare difference (if any)</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 4 hours or after the departure time:</h5>
                            <ul>
                                <li>Spicejet doesn't allow Agents/Customers to reschedule their flights.</li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Process :</p>
                            <ul>
                                <li>The Agent can amend/modify their booking either at Spicejet Website/APP/ Spicejet call-center or Log in to <strong>.in website</strong> and Retrieve Booking >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Pay fare difference (If any) >> Booking Confirmation or contact<strong> roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="headinfo"><strong>Important Note </strong>:Airlines may change their rules without notice, at their discretion, please refer to airline policies for the most recent update. For any amendments and cancellations, you will be charged as per the latest airline policy applicable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
            <div class="clsbod fltr">
                <div class="imgBlock">
                    <span class="clsindi">IndiGo</span>
                    <img src="@strAirlineLogoURL/6E.png" alt="Indigo">
                </div>
                <div class="container">
                    <ul class="tabs">
                        <li class="tab-link lh29" data-tab="tab-1">On or Before 24th March 2020<span></span>
                            <p class="clsdet">Travel Date</p>
                        </li>
                        <li class="tab-link current" data-tab="tab-2">25th March 2020 to 25th May 2020 <span></span>
                            <p>(both days inclusive)</p>
                            <p class="clsdet">Travel Date</p>
                        </li>
                        <li class="tab-link lh29" data-tab="tab-3">On or After 26th May 2020 <span></span>
                            <p class="clsdet">Travel Date</p>
                        </li>
                    </ul>
                    <div id="tab-1" class="tab-content">
                        <div class="liststyle">
                            <p class="fnt13n">
                                <b>Booking Date :</b> All
                                <br>
                                <b>Travel Date :</b> On or before 24th March 2020
                            </p>
                            <p class="clshd">Cancellation Policy :</p>
                            <h5>Cancellation initiated by the Agents/Customers 4 hours before the departure time :</h5>
                            <ul>
                                <li>IndiGo will process a partial refund after deducting airline cancellation penalty fees in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Cancellation initiated by the Agents/Customers within 4 hours of departure or after the departure time:</h5>
                            <ul>
                                <li>IndiGo will process a refund of unutilized taxes in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Flight suspended by IndiGo:</h5>
                            <ul>
                                <li>IndiGo will process a full refund on all such flights in the form of agency fund-transfers/IndiGo credit shell. This can be viewed by retrieving the booking from the IndiGo Website/APP/Indigo call-center or by Contacting <strong>roundtrip Support Team..</strong>
                                </li>
                            </ul>
                            <p class="clshd">Cancellation/Claim Refund Process :</p>
                            <ul>
                                <li>The Agents/Customers can cancel their booking either at IndiGo website/APP/IndiGo call-center or <strong>Contact roundtrip Support Team.</strong></li>
                                <li>If the Agents/Customers has canceled his/her flight through IndiGo website/APP/IndiGo call-center, The Agents/Customers has to claim the refund by initiating a cancellation request from <strong>roundtrip.in website or Contact 044 4000 0005(Support Team).</strong></li>
                                <li>If Indigo has suspended the flight or IndiGo has approved full refund for any reason, then the Agents/Customers has to claim the refund by initiating a full refund cancelation request from <strong>roundtrip.in website or Contact roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">Amendment/Reschedule Policy :</p>
                            <h5>Amendment initiated by the Agents/Customers 3 days before the departure time:</h5>
                            <ul>
                                <li>IndiGo allows a one-time free amendment, The Agents/Customers can reschedule their flight one-time without any rescheduling charges, and Fare difference (if any) will be applied.</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 3 days and 4 hours before the departure time:</h5>
                            <ul>
                                <li>IndiGo doesn't allow any free amendment. Agents/Customers can change their travel date by paying a rescheduling charges and fare difference (if any)</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 4 hours or after the departure time:</h5>
                            <ul>
                                <li>IndiGo doesn't allow Agents/Customers to reschedule their flights.</li>
                            </ul>
                            <p class="clshd">Amendment/Reschedule Process :</p>
                            <ul>
                                <li>The Agents/Customers can amend/modify their booking either at IndiGo Website/APP/IndiGo call-center or <strong>By Contact roundtrip Support Team.</strong></li>
                                <li>Agents/Customers can also amend their bookings by logging into into <strong>roundtrip.in website</strong> Retrieve Booking with the PNR >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Pay fare difference (If any) >> Booking Confirmation or contact <strong>roundtrip Support Team.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-content current">
                        <div class="liststyle">
                            <p class="fnt13n">
                                <b>Booking Date :</b> All
                                <br>
                                <b>Travel Date :</b> 25th march to 25th May 2020 (both days inclusive)<br>
                                <br>
                                <b>Note :</b> All flights are suspended by IndiGo Airlines for travel from 25th march to 25th May 2020 (both days inclusive)
                            </p>
                            <p class="clshd">Cancellation & Amendment Policy :</p>
                            <ul>
                                <li>All flights for travel from 25th March 2020 to 25th May 2020 (both days inclusive) has been suspended by IndiGo Airlines.</li>
                                <li>A Credit shell will be automatically created by IndiGo airlines for an equivalent booking amount of the suspended flight by IndiGo Airlines.</li>
                                <li>Agents/Customers don't have to call/email/chat for the creation of IndiGo credit shells.</li>
                                <li>Agents/Customers doesn't have to cancel/reschedule their bookings for all flight for travel from 25th March 2020 to 25th May 2020.</li>
                                <li>The validity of credit shell will be 1 year from the date of creation.</li>
                                <li>Agents/Customers can view/redeem their IndiGo credit shell balance by retrieving the PNR in <strong>roundtrip.in</strong> or Indigo <strong>website</strong> directly or <strong>Contact 044 4000 0005(Support Team).</strong></li>
                            </ul>
                            <p class="clshd">About IndiGo Credit Shell</p>
                            <ul>
                                <li>It is a credit note created automatically by IndiGo airlines against suspended flight, which can be used for a future booking, for the same passenger/s</li>
                                <li>The validity of IndiGo credit shell will be 1 year from the date of creation.</li>
                                <li>Agents/Customers can book any flight for the same passenger(s) using the IndiGo credit shell by logging into <strong>roundtrip.in website</strong>  by Retrieve Booking with the PNR >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Add Passenger >> Pay fare difference (If any) >> Booking Confirmation or by contacting <strong>roundtrip Support Team </strong>to travel upto 28th February 2021</li>
                                <li>To know more about, IndiGo credit shell Please visit here <a target="_blank" href="https://www.goindigo.in/information/credit-shell.html">(https://www.goindigo.in/information/credit-shell.html)</a></li>
                            </ul>
                            <p class="clshd">How to Create IndiGo credit shell</p>
                            <ul>
                                <li>Agents/Customers doesn't have to cancel/reschedule their bookings at Airlines for all flight for travel from 25th March 2020 to 25th May 2020.(both days inclusive)</li>
                                <li>A Credit shell will be automatically created by IndiGo airlines for an equivalent booking amount of the suspended flight by IndiGo Airlines.</li>
                                <li>Agents/Customers don't have to call/email/chat with roundtrip.in/Airlines for the creation of IndiGo credit shell.</li>
                            </ul>
                            <p class="clshd">How to view IndiGo Credit Shell Balance</p>
                            <ul>
                                <li>Agents/Customers can easily view IndiGo credit shell balance by retrieving their booking from IndiGo Website/App or reaching out to IndiGo call-center or <strong>By Contact roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">How to redeem IndiGo credit shell Balance</p>
                            <ul>
                                <li>Agents/Customers can redeem their IndiGo credit shell balance using the following steps: by logging into <strong>roundtrip.in website </strong>by Retrieve Booking with the PNR >> Reschedule >> Change/Modify Itinerary >> Indigo Flight >> Choose Flight >> Add Passenger >> Pay fare difference (If any) >> Booking Confirmation or by contacting <strong>roundtrip Support Team.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-content">
                        <div class="liststyle">
                            <p class="fnt13n">
                                <b>Booking Date :</b> All
                                <br>
                                <b>Departure Date :</b> On or after 26th May 2020
                            </p>
                            <p class="clshd">Cancellation Policy :</p>
                            <h5>Cancellation initiated by the Agents/Customers 4 hours before the departure time:</h5>
                            <ul>
                                <li>IndiGo will process a partial refund after deducting airline cancellation penalty fees in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Cancellation initiated by the Agents/Customers within 4 hours of departure or after the departure time:</h5>
                            <ul>
                                <li>IndiGo will process a refund of unutilized taxes in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Flight suspended by IndiGo :</h5>
                            <ul>
                                <li>IndiGo will process a full refund on all such flights in the form of agency fund-transfers/IndiGo credit shell. This can be viewed by retrieving the booking from the IndiGo Website/APP/Indigo call-center.</li>
                            </ul>
                            <p class="clshd">Cancellation / Claim Refund Process :</p>
                            <ul>
                                <li>The Agents/Customers can cancel their booking either at IndiGo website/APP/IndiGo call-center or using <strong>roundtrip.in </strong>website or contacting <strong>roundtrip Support Team.</strong> </li>
                                <li>If the Agents/Customers has canceled his/her flight through IndiGo website/APP/IndiGo call-center, The Agents/Customers has to claim the refund by initiating a cancellation request through <strong>roundtrip.in </strong>website or<strong>Contact 044 4000 0005(Support Team).</strong> </li>
                                <li>If IndiGo has suspended the flight or IndiGo has approved full refund for any reason, Then the Agents/Customers has to claim the refund by initiating a full refund cancelation request through <strong>roundtrip.in</strong> website or contacting<strong> roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Policy :</p>
                            <h5>Amendment initiated by the Agents/Customers 3 days before the departure time:</h5>
                            <ul>
                                <li>IndiGo allows a one-time Free amendment, The Agent can reschedule their flight one-time without any rescheduling charges, Fare difference (if any) will be applied.</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 3 days and 4 hours before the departure time:</h5>
                            <ul>
                                <li>IndiGo doesn't allow any free amendment. Agents/Customers can change their travel date by paying a rescheduling charges and fare difference (if any)</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 4 hours or after the departure time:</h5>
                            <ul>
                                <li>IndiGo doesn't allow Agents to reschedule their flights.</li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Process :</p>
                            <ul>
                                <li>The Agent can amend/modify their booking either at Indigo Website/APP/Indigo call-center or Log in to <strong>roundtrip.in website</strong>  and Retrieve Booking >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Pay fare difference (If any) >> Booking Confirmation or contact<strong>roundtrip Support Team.</strong>
                                </li>
                            </ul>
                            <p class="headinfo"><strong>Important Note </strong>:Airlines may change their rules without notice, at their discretion, please refer to airline policies for the most recent update. For any amendments and cancellations, you will be charged as per the latest airline policy applicable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
            <div class="clsbod fltr">
                <div class="imgBlock">
                    <span class="clsgoair">GoAir</span>
                    <img src="@strAirlineLogoURL/G8.png" alt="GoAir">
                </div>
                <div class="container">
                    <ul class="tabs3">
                        <li class="tab-link lh29" data-tab="tab-7">On or before 21st March 2020<span>&nbsp;</span><p class="clsdet">Travel Date</p>
                        </li>
                        <li class="tab-link current" data-tab="tab-8">22nd March 2020 to 25th May 2020<span>&nbsp;</span><br>
                            <p>(both days inclusive)</p>
                            <p class="clsdet">Travel Date</p>
                        </li>
                        <li class="tab-link lh29" data-tab="tab-9">On or after 26th May 2020<span>&nbsp;</span><p class="clsdet">Travel Date</p>
                        </li>
                    </ul>
                    <div id="tab-7" class="tab-content3">
                        <div class="liststyle">
                            <p class="fnt13n"><b>Booking Date :</b> All</p>
                            <p class="fnt13n"><b>Travel Date :</b> On or before 21st March 2020 </p>
                            <p class="clshd">Cancellation Policy :</p>
                            <h5>Cancellation initiated by the Agents/Customers 4 hours before the departure time:</h5>
                            <ul>
                                <li>Goair will process a partial refund after deducting airline cancellation penalty fees in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Cancellation initiated by the Agents/Customers within 4 hours of departure or after the departure time:</h5>
                            <ul>
                                <li>Goair will process a refund of unutilized taxes in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Flight suspended by Goair :</h5>
                            <ul>
                                <li>Goair will process a full refund on all such flights in the form of agency fund-transfers.</li>
                            </ul>
                            <p class="clshd">Cancellation / Claim Refund Process :</p>
                            <ul>
                                <li>The Agents/Customers can cancel their booking either at Goair website/APP/Goair call-center or<strong> Contact roundtrip Support Team.</strong></li>
                                <li>If the Agents/Customers has canceled his/her flight through Goair website/APP/Goair call-center, The Agents/Customers has to claim the refund by initiating a cancellation request<strong> from roundtrip.in website or Contact 044 4000 0005(Support Team).</strong></li>
                                <li>If Goair has suspended the flight or Goair has approved full refund for any reason, then the Agent has to claim the refund by initiating a full refund cancelation request from <strong>roundtrip.in website or Contact roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Policy :</p>
                            <h5>Amendment initiated by the Agents/Customers 4 hours before the departure time:</h5>
                            <ul>
                                <li>Goair doesn't allow any free amendment. Agents/Customers can change their travel date by paying a rescheduling charges and fare difference (if any)</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 4 hours or after the departure time:</h5>
                            <ul>
                                <li>Goair doesn't allow Agents/Customers to reschedule their flights.</li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Process :</p>
                            <ul>
                                <li>The Agents/Customers can amend/modify their booking either at Goair Website/APP/Goair call-center or<strong> By Contact roundtrip Support Team.</strong></li>
                                <li>Agents/Customers can also amend their bookings by logging into <strong>roundtrip.in website</strong>  Retrieve     Booking with the PNR >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Pay fare difference (If any) >> Booking Confirmation or contact<strong> roundtrip Support Team.</strong> </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab-8" class="tab-content3 current">
                        <div class="liststyle">
                            <p class="fnt13n">
                                <b>Booking Date :</b> All<br>
                                <b>Travel Date :</b> 22nd March 2020 to 25th May 2020  (both days inclusive)<br>
                                <br>
                                <b>Note :</b> All flights are suspended by Goair Airlines for travel from 22nd March 2020 to 25th May 2020 (lockdown period)
                            </p>
                            <p class="clshd">Cancellation & Amendment Policy :</p>
                            <ul>
                                <li>All flights for travel from 22nd March 2020 to 25th May 2020 (both days inclusive) has been suspended by Goair.</li>
                                <li>All tickets under this period will be protected by Goair.</li>
                                <li>Agents/Customers don't have to call/email/chat with Goair for the cancellation of their bookings.
                                    <ul>
                                        <li>Agents/Customers doesn't have to cancel their booking at<strong>roundtrip.in</strong>  or Goair Website/APP/Call center as Goair will not refund any amount for the flights canceled by the Agents/Customers or if even the flight is suspended by Goair.

                                        </li>
                                        <li>Goair allows a one-time Free amendment, The Agents/Customers can reschedule their flight one-time without any rescheduling charges for travel up to 1 year from the original date of travel.</li>
                                        <li>Agents/Customers can reschedule their flight for any sector with the same passenger(s) to any date for up to 1 year from the original date of travel.</li>
                                    </ul>
                                </li>
                            </ul>
                            <p class="clshd">Cancellation / Claim Refund Process :</p>
                            <ul>
                                <li>All tickets under this period will be protected by Goair, Customer doesn't have to cancel their booking with<strong> roundtrip.in</strong> or Goair Website/APP/Call center as Goair will not refund any amount for the flight canceled by the Agents/Customers or the flights suspended by Goair.</li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Process :</p>
                            <ul>
                                <li>The Agents/Customers can amend/modify their booking either at Goair website/App/Goair call-center or by contacting<strong> roundtrip Support Team.</strong></li>
                                <li>Agents/Customers can amend their bookings by logging into <strong>roundtrip.in website</strong>  by Retrieve Booking >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Pay fare difference (If any) >> Booking Confirmation or contact<strong>roundtrip Support Team.</strong> </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab-9" class="tab-content3">
                        <div class="liststyle">
                            <p class="fnt13n"><b>Booking Date :</b> All</p>
                            <p class="fnt13n"><b>Departure Date :</b> On or After 26th May 2020</p>
                            <p class="clshd">Cancellation Policy :</p>
                            <h5>Cancellation initiated by the Agents/Customers 4 hours before the departure time:</h5>
                            <ul>
                                <li>Goair will process a partial refund after deducting airline cancellation penalty fees in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Cancellation initiated by the Agents/Customers within 4 hours of departure or after the departure time:</h5>
                            <ul>
                                <li>Goair will process a refund of unutilized taxes in the form of agency fund-transfers.</li>
                            </ul>
                            <h5>Flight suspended by Goair :</h5>
                            <ul>
                                <li>Goair will process a full refund on all such flights in the form of agency fund-transfers or Free One-time Amendment.</li>
                            </ul>
                            <p class="clshd">Cancellation/Claim Refund Process :</p>
                            <ul>
                                <li>The Agents/Customers can cancel their booking either at Goair website/APP/Goair call-center or using <strong>roundtrip.in </strong>website or contacting<strong>roundtrip Support Team.</strong> </li>
                                <li>If the Agents/Customers has canceled his/her flight through Goair website/APP/Goair call-center, The Agents/Customers has to claim the refund by initiating a cancellation request through<strong> roundtrip.in</strong> website or<strong> Contact 044 4000 0005(Support Team).</strong></li>
                                <li>If Goair has suspended the flight or Goair has approved full refund for any reason, Then the Agents/Customers has to claim the refund by initiating a full refund cancelation request through <strong>roundtrip.in </strong>website or contacting<strong> roundtrip Support Team.</strong></li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Policy :</p>
                            <h5>Amendment initiated by the Agents/Customers 14 days before the departure time :</h5>
                            <ul>
                                <li>Goair allows a one-time Free amendment, The Agent can reschedule their flight one-time without any rescheduling charges,Fare difference (if any) will be applied.</li>
                            </ul>
                            <h5>Amendment initiated by the Agents/Customers within 14 days and 4 hours before the departure time:</h5>
                            <ul>
                                <li>Goair doesn't allow any free amendment. Agents/Customers can change their travel date by paying a rescheduling charges and fare difference (if any) </li>
                            </ul>
                            <h5>Amendment initiated by the Agent within 4 hours or after the departure time:</h5>
                            <ul>
                                <li>Goair doesn't allow Agents to reschedule their flights.</li>
                            </ul>
                            <p class="clshd">Amendment / Reschedule Process :</p>
                            <ul>
                                <li>The Agent can amend/modify their booking either at Goair Website/APP/Goair call-center or Log in to<strong> roundtrip.in website</strong> and Retrieve Booking >> Reschedule >> Change/Modify Itinerary >> Search Flight >> Choose Flight >> Pay fare difference (If any) >> Booking Confirmation or contact<strong> roundtrip Support Team.</strong>
                                </li>
                            </ul>
                            <p class="headinfo"><strong>Important Note </strong>:Airlines may change their rules without notice, at their discretion, please refer to airline policies for the most recent update. For any amendments and cancellations, you will be charged as per the latest airline policy applicable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })
            $('ul.tabs2 li').click(function () {
                var tab_id = $(this).attr('data-tab');
                $('ul.tabs2 li').removeClass('current');
                $('.tab-content2').removeClass('current');
                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })
            $('ul.tabs3 li').click(function () {
                var tab_id = $(this).attr('data-tab');
                $('ul.tabs3 li').removeClass('current');
                $('.tab-content3').removeClass('current');
                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })
            $('ul.tabs4 li').click(function () {
                var tab_id = $(this).attr('data-tab');
                $('ul.tabs4 li').removeClass('current');
                $('.tab-content4').removeClass('current');
                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })
            $('ul.tabs5 li').click(function () {
                var tab_id = $(this).attr('data-tab');
                $('ul.tabs5 li').removeClass('current');
                $('.tab-content5').removeClass('current');
                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })
            $('ul.tabs6 li').click(function () {
                var tab_id = $(this).attr('data-tab');
                $('ul.tabs6 li').removeClass('current');
                $('.tab-content6').removeClass('current');
                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })
        })
    </script>
</body>
</html>
