@{
    ViewBag.Title = "Visa";
    string strPaxcount = ViewBag.VisaPaxCount;
    string strProducttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"];
    string strTheme = System.Configuration.ConfigurationManager.AppSettings["apptheme"];
    var strVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    int Paxcount = strPaxcount != "" ? Convert.ToInt32(strPaxcount) : 1;
}
<link href="~/Content/CSS/@strTheme/VisaOffline.css?@strVersion" rel="stylesheet" />
<link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
<link href="~/Content/CSS/raysModal.css" rel="stylesheet" />

<title>UAE Visa Form</title>
<style>
    .clsclass {
        height: auto;
    }

    .btncls {
        margin-left: 120px;
        margin-top: 58px;
    }

    .close {
        opacity: 0.8;
    }
</style>
<body>
    <div class="bg-full">

        <div class="container">
            <div class="row">
                <div class="uae-visa-form clsclass">
                    <div class="col-lg-12">
                        <h1>UAE Visa Form</h1>
                    </div>
                    @for (var i = 1; i <= Paxcount; i++)
                      {
                        <div class="col-lg-12">
                            <h2>Passenger Details - @i</h2>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputFirstName">First Name<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control clsAlpha" id="txtfirstName_@i" placeholder="First Name">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputMiddleName">Middle Name</label>
                                        <input type="text" class="form-control clsAlpha" id="txtMiddleName_@i" placeholder="Middle Name">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputLastName">Last Name<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control clsAlpha" id="txtLastName_@i" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputMobileNumber">Mobile Number</label>
                                        <input class="form-control clsNumeric" id="txtMobileNumber_@i" placeholder="Mobile Number" maxlength="12">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmailID">Email ID</label>
                                        <input type="email" class="form-control" id="txtEmailID_@i" placeholder="Email ID">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputPassportNumber">Passport Number<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control clsAlphaNumeric" id="txtPassportNumber_@i" placeholder="Passport Number">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="ddlMartialStatus">Martial Status<span style="color: red;">*</span></label>
                                        <select id="ddlMartialStatus_@i" class="form-control">
                                            <option selected>Unmarried</option>
                                            <option>Married</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ddlReligion">Religion</label>
                                        <select id="ddlReligion_@i" class="form-control">
                                            <option selected>Hindu</option>
                                            <option>Christian</option>
                                            <option>Islam</option>
                                            <option>Buddhism</option>
                                            <option>Sikh</option>
                                            <option>Kad Iani</option>
                                            <option>Bahai</option>
                                            <option>Judaism</option>
                                            <option>Zoroastrian</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ddlEducation">Education</label>
                                        <select id="ddlEducation_@i" class="form-control">
                                            <option selected>Primary Education</option>
                                            <option>Secondary Education or High School</option>
                                            <option>Bachelor's Degree</option>
                                            <option>Master's Degree</option>
                                            <option>Professional</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="ddlVisitPurpose">Visit Purpose</label>
                                        <select id="ddlVisitPurpose_@i" class="form-control">
                                            <option selected>Tourism</option>
                                            <option>Business</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ddlDuration">Duration</label>
                                        <select id="ddlDuration_@i" class="form-control">
                                            <option selected>48 Hours</option>
                                            <option>96 Hours</option>
                                            <option>14 Days</option>
                                            <option>30 Days</option>
                                            <option>96 Days</option>
                                            <option>30 Days Multiple</option>
                                            <option>90 Days Multiple</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ddlProfession">Profession</label>
                                        <select id="ddlProfession_@i" class="form-control">
                                            <option selected>Employed</option>
                                            <option>Business</option>
                                            <option>Housewife</option>
                                            <option>Student</option>
                                            <option>Others </option>
                                        </select>
                                    </div>
                                </div>
                                <span class="title">Upload Documents [Only JPG/PNG Format] <span style="color: red;font-size:14px">*File size must be less than 500 kb</span></span>
                                <div class="form-row">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <div class="file-upload">
                                                <p class="file-title"><i class="fas fa-upload"></i> Passport First Page<span style="color: red;">*</span></p>
                                                <div class="image-upload-wrap" id="dvpsprtfirst_@i">

                                                    <input class="file-upload-input" type='file' id="imgpassprtfrst_@i" name=file[] multiple="multiple" accept="image/*" onchange="readURL(this, 'dvpsprtfirst_@i', 'uppsprtfirst_@i', 'imgpsprtfirst_@i');" />@*onchange="readURL(this);"*@
                                                    <div class="drag-text">
                                                        <h3>Passport First Page<span style="color: red;">*</span></h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content" id="uppsprtfirst_@i">
                                                    <img class="file-upload-image" src="#" alt="your image" id="imgpsprtfirst_@i" />
                                                    <div class="image-title-wrap">
                                                        <button type="button" onclick="removeUpload('dvpsprtfirst_@i', 'uppsprtfirst_@i','imgpsprtfirst_@i')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="file-upload">
                                                <p class="file-title"><i class="fas fa-upload"></i> Passport Last Page<span style="color: red;">*</span></p>
                                                <div class="image-upload-wrap" id="dvpsprtLast_@i">
                                                    <input class="file-upload-input" type='file' id="imgpassprtLast_@i" name=file[] multiple="multiple" accept="image/*" onchange="readURL(this, 'dvpsprtLast_@i', 'uppsprtLast_@i', 'imgpsprtLast_@i');" />

                                                    <div class="drag-text">
                                                        <h3>Passport Last Page<span style="color: red;">*</span></h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content" id="uppsprtLast_@i">
                                                    <img class="file-upload-image" src="#" alt="your image" id="imgpsprtLast_@i" />
                                                    <div class="image-title-wrap">
                                                        <button type="button" onclick="removeUpload('dvpsprtLast_@i', 'uppsprtLast_@i','imgpsprtLast_@i')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="file-upload">
                                                <p class="file-title"><i class="fas fa-upload"></i> Photo (White background)</p>
                                                <div class="image-upload-wrap" id="dvpsprtphoto_@i">
                                                    <input class="file-upload-input" type='file' id="imgphoto_@i" name=file[] multiple="multiple" accept="image/*" onchange="readURL(this, 'dvpsprtphoto_@i', 'uppsprtphoto_@i', 'imgpsprtphoto_@i');" />

                                                    <div class="drag-text">
                                                        <h3>Photo (White background)</h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content" id="uppsprtphoto_@i">
                                                    <img class="file-upload-image" src="#" alt="your image" id="imgpsprtphoto_@i" />
                                                    <div class="image-title-wrap">
                                                        <button type="button" onclick="removeUpload('dvpsprtphoto_@i', 'uppsprtphoto_@i','imgpsprtphoto_@i')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <div class="file-upload">
                                                <p class="file-title"><i class="fas fa-upload"></i> Return Ticket Copy</p>
                                                <div class="image-upload-wrap" id="dvpsprtrtntckt_@i">
                                                    <input class="file-upload-input" type='file' id="imgReturntckt_@i" name=file[] multiple="multiple" accept="image/*" onchange="readURL(this, 'dvpsprtrtntckt_@i', 'uppsprtrtntckt_@i', 'imgpsprtrtntckt_@i');" />
                                                    <div class="drag-text">
                                                        <h3>Return Ticket Copy</h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content" id="uppsprtrtntckt_@i">
                                                    <img class="file-upload-image" src="#" alt="your image" id="imgpsprtrtntckt_@i" />
                                                    <div class="image-title-wrap">
                                                        <button type="button" onclick="removeUpload('dvpsprtrtntckt_@i', 'uppsprtrtntckt_@i','imgpsprtrtntckt_@i')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="file-upload">
                                                <p class="file-title"><i class="fas fa-upload"></i> Observation Page</p>
                                                <div class="image-upload-wrap" id="dvpsprtObs_@i">
                                                    <input class="file-upload-input" type='file' id="imgobsrvation_@i" accept="image/*" onchange="readURL(this, 'dvpsprtObs_@i', 'uppsprtObs_@i', 'imgpsprtObs_@i');" />
                                                    <div class="drag-text">
                                                        <h3>Observation Page</h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content" id="uppsprtObs_@i">
                                                    <img class="file-upload-image" src="#" alt="your image" id="imgpsprtObs_@i" />
                                                    <div class="image-title-wrap">
                                                        <button type="button" onclick="removeUpload('dvpsprtObs_@i', 'uppsprtObs_@i','imgpsprtObs_@i')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="file-upload">
                                                <p class="file-title"><i class="fas fa-upload"></i> Marriage Certificate</p>
                                                <div class="image-upload-wrap" id="dvpsprtMrge_@i">
                                                    <input class="file-upload-input" type='file' id="imgmrgecrtfcte_@i" accept="image/*" onchange="readURL(this, 'dvpsprtMrge_@i', 'uppsprtMrge_@i', 'imgpsprtMrge_@i');" />
                                                    <div class="drag-text">
                                                        <h3>Marriage Certificate</h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content" id="uppsprtMrge_@i">
                                                    <img class="file-upload-image" src="#" alt="your image" id="imgpsprtMrge_@i" />
                                                    <div class="image-title-wrap">
                                                        <button type="button" onclick="removeUpload('dvpsprtMrge_@i', 'uppsprtMrge_@i','imgpsprtMrge_@i')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <div class="file-upload">
                                                <p class="file-title"><i class="fas fa-upload"></i> Birth Certificate (In case of child applicant)</p>
                                                <div class="image-upload-wrap" id="dvpsprtBirth_@i">
                                                    <input class="file-upload-input" type='file' id="imgBirthcrtfcte_@i" accept="image/*" onchange="readURL(this, 'dvpsprtBirth_@i', 'uppsprtBirth_@i', 'imgpsprtBirth_@i');" />
                                                    <div class="drag-text">
                                                        <h3>Birth Certificate (In case of child applicant)</h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content" id="uppsprtBirth_@i">
                                                    <img class="file-upload-image" src="#" alt="your image" id="imgpsprtBirth_@i" />
                                                    <div class="image-title-wrap">
                                                        <button type="button" onclick="removeUpload('dvpsprtBirth_@i', 'uppsprtBirth_@i','imgpsprtBirth_@i')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
}
                    <div>
                        <div class="col-sm-12 col-xs-12 col0">
                            <span style="font-weight: bold;">
                                <input id="chkTermsVisa" class="cb" type="checkbox" name="chkTermsVisa">
                                <label class="cbx " for="chkTermsVisa" style="margin-bottom: 0px !important;"></label>
                                <label class="lbl font-weight-600" for="chkTermsVisa" style="margin-bottom: 0px !important; letter-spacing: 0.04em; color: #000000; font-size: 14px; font-weight: 100">&nbsp;I&nbsp;understand&nbsp;&amp;&nbsp;agree&nbsp;to&nbsp;the&nbsp;Riya&nbsp;Travel&nbsp;&amp;&nbsp;Tours&nbsp;(I)&nbsp;Pvt&nbsp;Ltd</label>
                            </span>
                            <span onclick="javascript: OpenTermsandconditions();" style="text-decoration: underline; cursor: pointer; color: blue;">Terms&nbsp;and&nbsp;Conditions.</span>
                        </div>
                        <div class="modal fade" id="modaltermsVisa" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-md" style="top: 0%; width: 60%; height: 300px;">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #ad0000; margin: auto">
                                        <button type="button" class="close" data-dismiss="modal" style="background: #fff;border-radius: 50%;padding: 1px 5px">&times;</button>
                                        <h2 class="modal-title" style="color: #ffffff;text-align:center">INDEMNITY BOND</h2>
                                    </div>
                                    <div class="modal-body" style="padding: 10px; overflow-y: scroll; height: 400px;">
                                        <ul>
                                            <li>
                                                We hereby agree and undertake to Riya Travel & Tours Pvt. Ltd that we shall be responsible for any penal/overstay/or any other liabilities for absconding and/or overstay visa applicants, if the criteria, checks & procedures are not followed and/or adhered to by us meticulously, and/or as per the instructions given by Riya Travel & Tours Pvt. Ltd in writing from time to time.
                                            </li>
                                            <li>
                                                We hereby further agree that we shall and will at the instance of Riya Travel & Tours Pvt. Ltd for any overstay/penal liability, remit the said amount to Riya Travel & Tours Pvt. Ltd within 72 hours of intimation about such overstay/penal liability.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" onclick="btnSubmit()" value="Submit" class="remove-image submit-button btncls" />
                    <input type="button" onclick="btnClear()" value="Clear" class="remove-image submit-button" />
                </div>
                <div id="modal-alert" class="iziModal"></div>
            </div>
        </div>

    </div>

    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    <script src="~/js/CommonJS/jquery-ui-new.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/raysModal.js"></script>

    <script>
        var ThankYoupge = '@Url.Action("Thankyou", "Login")';
        var errPdiv = "ctrlpaneldetailsupdate", errdiv_msg = "dvGrpBkngerr_msg";
        function readURL(input, hidearg, showarg, apparg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#" + hidearg).hide();
                    $("#" + apparg).attr('src', e.target.result);
                    $("#" + showarg).show();
                    $("#" + hidearg + '.image-title').html(input.files[0].name);
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload();
            }
        }

        function removeUpload(dvdata, updata,id) {
            $("#" + updata).hide();
            $("#" + dvdata).show();         
            $("#" + id).removeAttr('src');
        }

        pageload();
        function pageload() {
            $('.image-upload-wrap').bind('dragover', function () {
                $('.image-upload-wrap').addClass('image-dropping');
            });
            $('.image-upload-wrap').bind('dragleave', function () {
                $('.image-upload-wrap').removeClass('image-dropping');
            });

            $(function () {
                $('.pop').on('click', function () {
                    $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                    $('#imagemodal').modal('show');
                });
            });
        }

        function btnSubmit() {
            var strQry = @Paxcount;
            var fileData = new FormData();
            for(var j = 1; j <= strQry; j++)
            {
                var firstName = $("#txtfirstName_"+j).val();
                var middleName = $("#txtMiddleName_"+j).val();
                var lastName = $("#txtLastName_"+j).val();
                var mobileNumber = $("#txtMobileNumber_"+j).val();
                var EmailId = $("#txtEmailID_"+j).val();
                var PassportNum = $("#txtPassportNumber_"+j).val();
                var maritalstatus = $("#ddlMartialStatus_"+j).val();
                var religion = $("#ddlReligion_"+j).val();
                var education = $("#ddlEducation_"+j).val();
                var visitpurpose = $("#ddlVisitPurpose_"+j).val();
                var duration = $("#ddlDuration_"+j).val();
                var profession = $("#ddlProfession_"+j).val();


                if (firstName == null || firstName == "") {
                    infoAlert("Please Enter First Name of Passenger "+j, "txtfirstName_"+j);
                    $("#txtfirstName_"+j).focus();
                    return false;
                }
                if (lastName == null || lastName == "") {
                    infoAlert("Please Enter Last Name of Passenger "+j, "txtLastName_"+j);
                    $("#txtLastName_"+j).focus();
                    return false;
                }

                if (PassportNum == null || PassportNum == "") {
                    infoAlert("Please Enter Passport Number of Passenger "+j, "txtPassportNumber_"+j);
                    $("#txtPassportNumber_"+j).focus();
                    return false;
                }
                if (maritalstatus == null || maritalstatus == "") {
                    infoAlert("Please Enter Marital Status of Passenger "+j, "ddlMartialStatus_"+j);
                    $("#ddlMartialStatus_"+j).focus();
                    return false;
                }
                //Validation for Email ID
                var str = $("#txtEmailID_"+j).val();
                var str = EmailId;
                var filter = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
                if (filter.test(str)) {
                }
                else {
                    infoAlert("Please Enter valid Email Id", "txtEmailID");
                    $("#txtEmailID_"+j).focus();
                    return false;
                }
                //Images

                var fileUpload = $("#imgpassprtfrst_"+j).get(0);
                var files = fileUpload.files;
                for (var i = 0; i < files.length; i++) {
                    fileData.append("PassportFirst_"+j, files[i]);
                    fileData.append("Datacount", "PassportFirst_"+j);
                }

                if (files.length <= 0) {
                    infoAlert("Please Select Passport First Page of Passenger "+j, "imgpassprtfrst_"+j);
                    return false;
                }
                if (files != null && files != "" && files != undefined) {
                    if (files[0].size > 500000) // 2 mb for bytes.
                    {
                        infoAlert("Passport First Page File size must be less than 500 kb");
                        return false;
                    }
                }

                var fileuplast = $("#imgpassprtLast_"+j).get(0);
                var fileslast = fileuplast.files;
                for (var i = 0; i < fileslast.length; i++) {
                    fileData.append("PassportLast_"+j, fileslast[i]);
                    fileData.append("Datacount1", "PassportLast_"+j);
                }

                if (fileslast.length <= 0) {
                    infoAlert("Please Select Passport Last Page of Passenger "+j, "imgpassprtLast_"+j);
                    return false;
                }

                if (fileslast != null && fileslast != "" && fileslast != undefined) {
                    if (fileslast[0].size > 500000) // 2 mb for bytes.
                    {
                        infoAlert("Passport Last Page File size must be less than 500 kb");
                        return false;
                    }
                }

                var filephoto = $("#imgphoto_"+j).get(0);
                var filepho = filephoto.files;
                for (var i = 0; i < filepho.length; i++) {
                    fileData.append("PassportPhoto_"+j, filepho[i]);
                    fileData.append("Datacount2", "PassportPhoto_"+j);
                }

                if (filepho != null && filepho != "" && filepho != undefined) {
                    if(filepho.length > 0){
                        if (filepho[0].size > 500000) // 2 mb for bytes.
                        {
                            infoAlert("Passport Photo File size must be less than 500 kb");
                            return false;
                        }
                    }
                }
                //Return ticket copy
                var fileReturn = $("#imgReturntckt_"+j).get(0);
                var fileRet = fileReturn.files;
                for (var i = 0; i < fileRet.length; i++) {
                    fileData.append("PassportReturn_"+j, fileRet[i]);
                    fileData.append("DataCount3", "PassportReturn_"+j);
                }

                if (fileRet != null && fileRet != "" && fileRet != undefined) {
                    if(fileRet.length > 0){
                        if (fileRet[0].size > 500000) // 2 mb for bytes.
                        {
                            infoAlert("Passport Return Ticket copy File size must be less than 500 kb");
                            return false;
                        }
                    }
                }
                //Observation
                var fileObs = $("#imgobsrvation_"+j).get(0);
                var fileObser = fileObs.files;
                for (var i = 0; i < fileObser.length; i++) {
                    fileData.append("passportobservation_"+j, fileObser[i]);
                }
                if (fileObser != null && fileObser != "" && fileObser != undefined) {
                    if(fileObser.length > 0){
                        if (fileObser[0].size > 500000) // 2 mb for bytes.
                        {
                            infoAlert("Passport Observation File size must be less than 500 kb");
                            return false;
                        }
                    }
                }
                //MarriageCertificate
                var fileMrg = $("#imgmrgecrtfcte_"+j).get(0);
                var filemrgeCer = fileMrg.files;
                for (var i = 0; i < filemrgeCer.length; i++) {
                    fileData.append("passportmrge_"+j, filemrgeCer[i]);
                }
                if (filemrgeCer != null && filemrgeCer != "" && filemrgeCer != undefined) {
                    if(filemrgeCer.length > 0){
                        if (filemrgeCer[0].size > 500000) // 2 mb for bytes.
                        {
                            infoAlert("Passport Marriage Certificate File size must be less than 500 kb");
                            return false;
                        }
                    }
                }
                //Birth Certificate
                var fileBirth = $("#imgBirthcrtfcte_"+j).get(0);
                var fileBirthcer = fileBirth.files;
                for (var i = 0; i < fileBirthcer.length; i++) {
                    fileData.append("passportbirth_"+j, fileBirthcer[i]);
                }
                if (fileBirthcer != null && fileBirthcer != "" && fileBirthcer != undefined) {
                    if(fileBirthcer.length > 0){
                        if (fileBirthcer[0].size > 500000) // 2 mb for bytes.
                        {
                            infoAlert("Passport Birth Certificate File size must be less than 500 kb");
                            return false;
                        }
                    }
                }
                var RPNR = "";
                var RefID = "";
                var PaxTitle = "";
                var Flag = "I";
                fileData.append("strFirstName_"+j, firstName);
                fileData.append("strmiddleName_"+j, middleName);
                fileData.append("strlastName_"+j, lastName);
                fileData.append("strmobileNumber_"+j, mobileNumber);
                fileData.append("strEmailId_"+j, EmailId);
                fileData.append("strPassportNum_"+j, PassportNum);
                fileData.append("strmaritalstatus_"+j, maritalstatus);
                fileData.append("strreligion_"+j, religion);
                fileData.append("streducation_"+j, education);
                fileData.append("strvisitpurpose_"+j, visitpurpose);
                fileData.append("strduration_"+j, duration);
                fileData.append("strprofession_"+j, profession);
                fileData.append("strRPNR_"+j, RPNR);
                fileData.append("strRefID_"+j, RefID);
                fileData.append("strPaxTitle_"+j, PaxTitle);
                fileData.append("strFlag_"+j, Flag);
            }

            fileData.append("PaxCount", strQry);

            if($("#chkTermsVisa")[0].checked == false){
                infoAlert("Please accept terms and conditions and go ahead for booking");
                return false;
            }

            $.blockUI({
                message: '<img alt="Please Wait..." src="@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });
            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertVisaOffline", "Visa")',
                data: fileData,
                contentType: false, // Not to set any content header
                processData: false,
                timeout: 3000000,
                //  async: false,
                dataType: "json",
                success: function (data) {
                    $.unblockUI();
                    try {
                        if (data.Status == "01" && data.Results[1] != "") {
                            alert(data.Results[1]);
                            window.top.location = ThankYoupge;
                        }
                        else {
                            alert(data.Results[0], "");
                            return false;
                        }
                    }
                    catch (e) {
                        $.unblockUI();
                        infoAlert("Unable to Connect Internal Server", "");
                        return false;
                        console.log(e.message);
                    }
                },
                error: function (e) {
                    $.unblockUI();
                    infoAlert("Unable to Connect Internal Server", "");
                    return false;
                    console.log(e.message);
                }
            });
        }

        //validation
        $(document).on('input', '.clsAlpha', function () {
            var txtQty = $(this).val().replace(/[^a-zA-Z\ ]/g, '');
            txtQty = txtQty.replace(/  +/g, ' ');
            $(this).val(txtQty);
        });
        $(document).on('input', '.clsAlphaNumeric', function () {
            var txtQty = $(this).val().replace(/[^a-zA-Z0-9]/g, '');
            $(this).val(txtQty);
        });
        $(document).on('input', '.clsNumeric', function () {
            var txtQty = $(this).val().replace(/[^0-9]/g, '');
            $(this).val(txtQty);
        });

        function infoAlert(MSG, ID) {

            $('#modal-alert').iziModal('destroy');
            $("#modal-alert").iziModal({
                title: MSG,
                icon: 'fa fa-info',
                headerColor: '#bd5b5b',
                width: "500px",
                onClosed: function () {
                    $("#" + ID).focus();
                }
            });
            $('#modal-alert').iziModal('open');
            return false;
        }

        function btnClear() {
            $("#txtfirstName").val("");
            $("#txtMiddleName").val("");
            $("#txtLastName").val("");
            $("#txtMobileNumber").val("");
            $("#txtEmailID").val("");
            $("#txtPassportNumber").val("");
            $("#ddlMartialStatus").val("Unmarried");
            $("#ddlReligion").val("Hindu");
            $("#ddlEducation").val("Primary Education");
            $("#ddlVisitPurpose").val("Tourism");
            $("#ddlDuration").val("48 Hours");
            $("#ddlProfession").val("Employed");
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
            //   $(".clsclass").css("height", "800");
            $("#imgpassprtLast").val("");
            $("#imgpassprtfrst").val("");
            $("#imgphoto").val("");
            $("#imgReturntckt").val("");
            $("#imgobsrvation").val("");
            $("#imgmrgecrtfcte").val("");
            $("#imgBirthcrtfcte").val("");
            $("#chkTermsVisa").prop("checked",false);
        }

        function OpenTermsandconditions(){
            $("#modaltermsVisa").modal('show');
        }
    </script>
</body>
