@{
    ViewBag.Title = "VisaThankyou";
    string fileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
    string strTheme = System.Configuration.ConfigurationManager.AppSettings["apptheme"];
}
<style type="text/css">
    header {padding:0px !important;}
</style>

   <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
   <link href="~/Content/CSS/@strTheme/style-main.css?@fileversion" rel="stylesheet" />
    

   <body>
        <div class="bg-white form-rg-holder rg-thank-you" >
            <div class="container">
                <div class="details-box">
                    <h5 class="heading03 heading04 heading05 text-center">Thank You for Your Visa Request!</h5>
                    <p class="para-lightgry text-center">
                        We have received your details
                        <br>
                        Our support team will connect with you at the earliest.
                    </p>
                    <div class="bg-flight">
                        <img src="@Url.Content("~/Images/" + strProduct + "/Visa/thank-you-plane.png")" alt="flight" style="max-width:100% !important">
                    </div>
                </div>
            </div>
        </div>
      
    </body>

