@{
    string strProductType = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
    string strTerminalType = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString().ToUpper();
}
@if (strTerminalType != "M")
{
    <div class="dash-area col-sm-12 col-xs-12 breadcrumb-area mb-10" style="padding:20px 15px;">
        <h1 class="fnt-siz-18 float-left m-0">Dashboard</h1>
        <ol class="breadcrumb float-left">
            <li class="item"><a href="ChangeTabs('MyDashBoard','D')"><i class="las la-check-square fnt-siz-18"></i></a></li>
            <li class="item clsEditMyBookings">My Booking</li>
        </ol>
    </div>
}
<div class="dash-area float-left w-100 mg-btm-15-res" id="DvBookingDetail" style="display:block;">
    <div class="row row0" id="">
        <div class="col-sm-12 col-xs-12 brdr-btm-full mg-btm-15">
            <div class="float-left ">
                <h1 class="fnt-siz-18 float-left mg-tp-20 clsEditMyBookings">My Bookings</h1>
            </div>
            <div class="float-right mt-10 clshideMybookings">
                <div class="float-left w-100 dvMngBkfltr">
                    <a id="FilterAllTrips" class="active clsFiltertrips" href="#" onclick="MybookingFiltrations('ALL')">All Trips</a>
                    <a id="FilterUpComing" class="clsFiltertrips" href="#" onclick="MybookingFiltrations('U')">UpComing</a>
                    <a id="FilterCompleted" class="clsFiltertrips" href="#" onclick="MybookingFiltrations('COM')">Completed</a>
                    <a id="FilterCancelled" class="clsFiltertrips" href="#" onclick="MybookingFiltrations('CAN')">Cancelled</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row0 mg-btm-20 clshideMybookings">
        <div class="col-sm-12 col-xs-12 p-0">
            <div class="col-sm-2 col-xs-12 mg-btm-15 pos-rel">
                <label class="widget_data float-left txt-al-lft font-12 fnt-wt-600-im mb-2">Booking Ref. No</label>
                <form autocomplete="off" novalidate="novalidate">
                    <input type="text" id="txtSPNR_Book" required="" class="font-14 widget_label form-control clsAlphaNumeric" placeholder="PNR No." oninput="uppercase()" onkeypress="nameval(event)" maxlength="25">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 mg-btm-15 pos-rel">
                <label class="widget_data float-left txt-al-lft font-12 fnt-wt-600-im mb-2">From Date</label>
                <form autocomplete="off" novalidate="novalidate">
                    <input type="text" id="txtFromDate_Book" readonly="" required="" class="font-14 widget_label form-control" placeholder="DD/MM/YYYY">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 mg-btm-15 pos-rel">
                <label class="widget_data float-left txt-al-lft font-12 fnt-wt-600-im mb-2">To Date</label>
                <form autocomplete="off" novalidate="novalidate">
                    <input type="text" id="txtToDate_Book" readonly="" required="" class="font-14 widget_label form-control" placeholder="DD/MM/YYYY">
                </form>
            </div>
            <div class="col-sm-2 col-xs-6 mg-btm-15 pos-rel pl-10 pr-10">
                <input type="button" class="w-100 mg-tp-15" value="Submit" id="btn_mybooksubmit">
            </div>
            <div class="col-sm-2 col-xs-6 mg-btm-15 pos-rel pl-10 pr-10">
                <input type="button" class="mg-tp-15" value="Clear" id="btn_mybookclr">
            </div>
        </div>
    </div>
    <div class="row row0" style="display:none;">
        <div class="col-sm-12 col-xs-12 main-menu">
            <ul class="mainmenu_trip">
                <li>
                    <a href="" class="float-left w-100 txt-center ">
                        <i class="las la-check-square float-left w-100"></i>
                        <span class="float-left w-100">All</span>
                    </a>
                </li>
                <li class="active">
                    <a href="" class="float-left w-100 txt-center">
                        <i class="las la-plane float-left w-100"></i>
                        <span class="float-left w-100">Flight</span>
                    </a>
                </li>
                <li>
                    <a href="" class="float-left w-100 txt-center">
                        <i class="las la-hotel float-left w-100"></i>
                        <span class="float-left w-100">Hotel</span>
                    </a>
                </li>
                <li>
                    <a href="" class="float-left w-100 txt-center">
                        <i class="las la-bus float-left w-100"></i>
                        <span class="float-left w-100">Bus</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="dvNoBookingRecord" style="display:none">
        <div class="col-sm-12 col-xs-12">
            <div class="float-left w-100 txt-cntr">
                <img src="~/Images/@strProductType/DASHBOARD/no-record.jpg" style="width:100%" />
            </div>
            <div class="col-sm-12 col-xs-12">
                <h1 class="fnt-siz-18 float-left mg-tp-20 mg-btm-20 w-100 txt-cntr">No records found</h1>
            </div>
        </div>
    </div>
    <div class="float-left w-100 scroll_tripdets" id="DvBookings" style="display:block">
    </div>
</div>
<div class="dash-area float-left w-100 mg-btm-15-res" id="DvViewPNR" style="display:none;">
    <div class="row row0" id="">
        <div class="col-sm-12 col-xs-12 brdr-btm-full mg-btm-15">
            <div class="float-left ">
                <h1 class="fnt-siz-18 float-left mg-tp-20">Itinerary Details</h1>
            </div>
            <div class="float-right mt-10">
                <ul class="float-right mb-0 mg-btm-10-res">
                    <li class="float-left ml-10 display-inblock w-100p line-ht-0">
                        <button type="button" id="send_print" class="float-left w-100 hidden-xs" onclick="ViewPNR_Popup('P')">Print</button>
                        <button type="button" id="send_print" class="float-left w-100 hidden-sm hidden-md hidden-lg" onclick="ViewPNR_Popup('P')">Download</button>
                    </li>
                    <li class="float-left ml-10 display-inblock w-100p line-ht-0">
                        <button type="button" id="send_mail" class="float-left w-100" onclick="ViewPNR_Popup('M')">E-mail</button>
                    </li>
                    <li class="float-left ml-10 display-inblock">
                        <button type="button" class="btn_backhome" onclick="BackToMyBookings()">Back</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row row0" id="dvMyPNRDetails">
        <div class="col-lg-12 col-md-12 col-xs-12 mg-btm-15 overall_tripdets">
            <div class="brdr-radius-2 brdr-full float-left w-100 mg-btm-15">
                <div class="col-sm-12 pt-10 pb-10" id="dvViewTravelDet">
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 p-0">
                <div class="float-left w-100 mg-btm-15">
                    <span class="float-left font-15 fnt-wt-600">Traveller Detail</span>
                </div>
                <div class="float-left w-100 mg-btm-15 travdet" id="dvViewPaxDet">
                </div>                
            </div>
            <div class="col-sm-12 col-xs-12 p-0">
                <div class="float-left w-100 mg-btm-15">
                    <span class="float-left font-15 fnt-wt-600 w-100">Amount Paid Detail <span class="themeclr-red font-12 fnt-wt-600"></span></span>
                </div>
                <div class="float-left w-100 mg-btm-15 travdet" id="dvViewPaymentDet">
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdn_spnr" value="" />