@{
    string strProductType = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
    string strTerminalType = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString().ToUpper();
}
@if (strTerminalType != "M")
{
<div class="dash-area col-sm-12 col-xs-12 breadcrumb-area mb-10" style="padding:20px 15px;">
    <h1 class="fnt-siz-18 float-left m-0">Dashboard</h1>
    <ol class="breadcrumb float-left">
        <li class="item"><a href="ChangeTabs('MyDashBoard','D')"><i class="las la-address-book fnt-siz-18"></i></a></li>
        <li class="item">Travellers</li>
    </ol>
</div>
}
<div class="dash-area float-left w-100">
    <div class="row row0" id="addtravel">
        <div class="col-sm-12 col-xs-12 brdr-btm-full mg-btm-15">
            <div class="float-left ">
                <h1 class="fnt-siz-18 float-left mg-tp-20">My Travellers</h1>
            </div>
            <div class="float-right">
                <ul class="float-left mt-10">
                    <li>
                        <a href="javascript:void(0)" class="btndel" onclick="Fndelete()">Delete</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="addtraveller()" class="btnaddtrav txt-transform-c">Add Travellers</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row0">
            <div class="col-sm-12 col-xs-12 addtrav pad-r-0 pad-0-res">
                <ul class="float-left w-100 pl-0">
                    <li>
                        <div class="dash-area float-left w-100 pos-rel p-10 brdr-full">
                            <div class="thumb-lg txt-cntr float-left">
                                <img src="~/Images/@strProductType/DASHBOARD/dummy_M.png" class="rounded-circle img-thumbnail" alt="profile-image">
                            </div>
                            <div class="float-left w-100">
                                <h1 class="font-15 float-left txt-cntr fnt-wt-600 w-100 mg-tp-15">Freddie J. Plourde</h1>
                            </div>
                            <div class="float-left w-100 mg-tp-15 pad-btm-10">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Date of Birth:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">02/02/2008</span>
                            </div>
                            <div class="float-left w-100 mg-btm-15">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Nationality:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">India</span>
                            </div>
                            <div class="col-sm-12 brdr-btm-top">
                                <button type="button" class="btn fnt-wt-600 font-13" id="btn_travedit" onclick="FnEdit()"><i class="fa fa-pencil iclsfapencil pr-5" aria-hidden="true"></i>Edit</button>
                            </div>

                            <div class="pos-abs book_page" style="top: 10px;right: 10px;">
                                <span style="font-weight: bold;">
                                    <input style="display: none;" id="chkTermsAir" class="cb" type="checkbox" name="chkTermsAir">
                                    <label class="cbx float-left font-13" for="chkTermsAir" style="margin-bottom: 0px !important;"></label>                                    
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-area float-left w-100 pos-rel p-10 brdr-full">
                            <div class="thumb-lg txt-cntr float-left">
                                <img src="~/Images/@strProductType/DASHBOARD/dummy_F.png" class="rounded-circle img-thumbnail" alt="profile-image">
                            </div>
                            <div class="float-left w-100">
                                <h1 class="font-15 float-left txt-cntr fnt-wt-600 w-100 mg-tp-15">Julie L. Arsenault</h1>
                            </div>
                            <div class="float-left w-100 mg-tp-15 pad-btm-10">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Date of Birth:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">02/02/2008</span>
                            </div>
                            <div class="float-left w-100 mg-btm-15">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Nationality:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">India</span>
                            </div>
                            <div class="col-sm-12 brdr-btm-top">
                                <button type="button" class="btn fnt-wt-600 font-13" id="btn_travedit"><i class="fa fa-pencil iclsfapencil pr-5" aria-hidden="true"></i>Edit</button>
                            </div>

                            <div class="pos-abs book_page" style="top: 10px;right: 10px;">
                                <span style="font-weight: bold;">
                                    <input style="display: none;" id="chkTermsAir" class="cb" type="checkbox" name="chkTermsAir">
                                    <label class="cbx float-left font-13" for="chkTermsAir" style="margin-bottom: 0px !important;"></label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-area float-left w-100 pos-rel p-10 brdr-full">
                            <div class="thumb-lg txt-cntr float-left">
                                <img src="~/Images/@strProductType/DASHBOARD/dummy_M.png" class="rounded-circle img-thumbnail" alt="profile-image">
                            </div>
                            <div class="float-left w-100">
                                <h1 class="font-15 float-left txt-cntr fnt-wt-600 w-100 mg-tp-15">Christopher Gallardo</h1>
                            </div>
                            <div class="float-left w-100 mg-tp-15 pad-btm-10">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Date of Birth:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">02/02/2008</span>
                            </div>
                            <div class="float-left w-100 mg-btm-15">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Nationality:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">India</span>
                            </div>
                            <div class="col-sm-12 brdr-btm-top">
                                <button type="button" class="btn fnt-wt-600 font-13" id="btn_travedit"><i class="fa fa-pencil iclsfapencil pr-5" aria-hidden="true"></i>Edit</button>
                            </div>

                            <div class="pos-abs book_page" style="top: 10px;right: 10px;">
                                <span style="font-weight: bold;">
                                    <input style="display: none;" id="chkTermsAir" class="cb" type="checkbox" name="chkTermsAir">
                                    <label class="cbx float-left font-13" for="chkTermsAir" style="margin-bottom: 0px !important;"></label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-area float-left w-100 pos-rel p-10 brdr-full">
                            <div class="thumb-lg txt-cntr float-left">
                                <img src="~/Images/@strProductType/DASHBOARD/dummy_M.png" class="rounded-circle img-thumbnail" alt="profile-image">
                            </div>
                            <div class="float-left w-100">
                                <h1 class="font-15 float-left txt-cntr fnt-wt-600 w-100 mg-tp-15">Christopher Gallardo</h1>
                            </div>
                            <div class="float-left w-100 mg-tp-15 pad-btm-10">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Date of Birth:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">02/02/2008</span>
                            </div>
                            <div class="float-left w-100 mg-btm-15">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Nationality:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">India</span>
                            </div>
                            <div class="col-sm-12 brdr-btm-top">
                                <button type="button" class="btn fnt-wt-600 font-13" id="btn_travedit"><i class="fa fa-pencil iclsfapencil pr-5" aria-hidden="true"></i>Edit</button>
                            </div>

                            <div class="pos-abs book_page" style="top: 10px;right: 10px;">
                                <span style="font-weight: bold;">
                                    <input style="display: none;" id="chkTermsAir" class="cb" type="checkbox" name="chkTermsAir">
                                    <label class="cbx float-left font-13" for="chkTermsAir" style="margin-bottom: 0px !important;"></label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-area float-left w-100 pos-rel p-10 brdr-full">
                            <div class="thumb-lg txt-cntr float-left">
                                <img src="~/Images/@strProductType/DASHBOARD/dummy_M.png" class="rounded-circle img-thumbnail" alt="profile-image">
                            </div>
                            <div class="float-left w-100">
                                <h1 class="font-15 float-left txt-cntr fnt-wt-600 w-100 mg-tp-15">Christopher Gallardo</h1>
                            </div>
                            <div class="float-left w-100 mg-tp-15 pad-btm-10">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Date of Birth:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">02/02/2008</span>
                            </div>
                            <div class="float-left w-100 mg-btm-15">
                                <span class="float-left txt-al-lft font-13 widget_label fnt-wt-600">Nationality:</span>
                                <span class="float-right txt-al-rgt font-13 widget_data">India</span>
                            </div>
                            <div class="col-sm-12 brdr-btm-top">
                                <button type="button" class="btn fnt-wt-600 font-13" id="btn_travedit"><i class="fa fa-pencil iclsfapencil pr-5" aria-hidden="true"></i>Edit</button>
                            </div>

                            <div class="pos-abs book_page" style="top: 10px;right: 10px;">
                                <span style="font-weight: bold;">
                                    <input style="display: none;" id="chkTermsAir" class="cb" type="checkbox" name="chkTermsAir">
                                    <label class="cbx float-left font-13" for="chkTermsAir" style="margin-bottom: 0px !important;"></label>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

