@{
    string strFileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strProductType = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
    string strTerminalType = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString().ToUpper();
}
@if (strTerminalType != "M")
{
<div class="dash-area col-sm-12 col-xs-12 breadcrumb-area mb-10" style="padding:20px 15px;">
    <h1 class="fnt-siz-18 float-left m-0">Dashboard</h1>
    <ol class="breadcrumb float-left">
        <li class="item"><a href="ChangeTabs('MyDashBoard','D')"><i class="las la-headset fnt-siz-18"></i></a></li>
        <li class="item">Support</li>
    </ol>
</div>
}
<div class="dash-area float-left w-100 mg-btm-15-res">
    <div class="row row0">
        <div class="col-sm-12">
            <h1 class="font-13 fnt-wt-600 float-left mg-btm-15 txt-cntr themeclr-red w-100 txt-transform-u">Corporate office</h1>
            <div class="col-sm-12 txt-al-cntr corplogo">
                <img src="~/Images/@strProductType/logo.png" />
            </div>
        </div>
    </div>
    <div class="row row0 pos-rel" style="z-index:1;">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p-10">
            <div class="single-features bg-white txt-cntr contact_sec float-left w-100 mb-15" style="min-height:245px;">
                <div class="icon">
                    <i class="las la-tty themeclr-red"></i>
                </div>
                <h3 class="txt-transform-c fnt-wt-600 font-15 mg-btm-0 mg-tp-15">Call Us Now</h3>
                <div class="float-left w-100">
                    <p class="float-left w-100 txt-cntr widget_data pb-5 pt-10 font-14 mb-0" id="pCallCenterNo"></p> @*+91 44 - 4000 0005*@
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p-10">
            <div class="single-features bg-white txt-cntr contact_sec float-left w-100 mb-15" style="min-height:245px;">
                <div class="icon">
                    <i class="las la-map-marker themeclr-red"></i>
                </div>
                <h3 class="txt-transform-c fnt-wt-600 font-15 mg-btm-0 mg-tp-15">Our Location</h3>
                <div class="float-left w-100">
                    <p class="float-left w-100 txt-cntr widget_data pb-5 pt-10 font-14 mb-0" id="pAddress"></p> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p-10">
            <div class="single-features bg-white txt-cntr contact_sec float-left w-100 mb-15" style="min-height:245px;">
                <div class="icon">
                    <i class="las la-envelope-open-text themeclr-red"></i>
                </div>
                <h3 class="txt-transform-c fnt-wt-600 font-15 mg-btm-0 mg-tp-15">Enquiry Us</h3>
                <div class="float-left w-100 pb-5 pt-10 font-14" id="dvenquiry">
                 </div>
            </div>
        </div>
    </div>
    <div class="row row0">
        <div class="col-sm-12 col-xs-12 elementor-element">
            <div class="col-sm-12 col-xs-12">
                <h1 class="fnt-siz-25 float-left txt-cntr w-100">Get In Touch With Us</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="float-left w-100 txt-center">
                        <p class="font-14 widget_data">We’re here to help with any details of our customers, <a class="themeclr-red font-13 fnt-wt-600" href="/Contactus">Go to Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var supportDetailsXM = '@Url.Content("~/XML/ProductSupportDetails.xml?"+ strFileversion)';
    $(document).ready(function () {
        var ProductType = '@strProductType';
        LoadSupportDetails();

    })

    </script>
