@if (System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() == "DEIRA")
{
    <div id="divMiddle">
        <div class="container">
            <div id="ContentPlaceHolder1_lbl">
                <div>
                    <h4 class="txt-center tittle_head"> Corporate Profile of <span class="font-face">Deira Travel </span></h4>
                    <p> Deira Travel is a renowned travel management company with headquarters in Dubai. We have been serving people since 1994 & spread roots through outlets across UAE & India as IATA accredited agent. We embraced the name & fame with the entrusted support of our customers enhanced by the excellent efforts & enthusiastic energy executed by the staff. We aim to exceed the expectations of customers beyond ensuring their satisfaction. Several laurels & awards achieved are testimonial to our dedication. In this competitive world, our endeavour is to deliver the services even to customer’s doorsteps. Every staff is flexible for fulfilling customer’s requirements while being determined to uphold the commitment.</p>
                   
                     <h6 class="mt-15"> CHAIRMAN'S MESSAGE</h6>
                    <p> The successful business graph for past two decades & the rank defined by industry experts of Middle East itself testimonies Deira Travel's strong customer relationship. The gradual recommendations of satisfied customers enhanced our steady growth during initial years and later broadened to a wide clientele base of both personal and business travelers. Our current network of above a dozen outlets serve as comprehensive travel solution points accomplishing traveler's requirements. Several accolades we received in various fields of airlines, leisure and ancillaries, promises the diversity of our services without compromising on industry standards. </p>
                    <p> In today’s emerging market, we strive to develop dynamic products and provide solutions at the most feasible value, with guaranteed quality of travel experience. It gives me immense pride to foresee that our future goals will certainly get empowered by the geographical significance of world’s most evolving city, Dubai. </p>
                    <p> In conclusion, I am greatly satisfied with the growth of our company over the past twenty years. It would not have been possible without the dedication of staff, loyalty of customers and co-operation from vendors. I would sincerely like to express my utmost gratitude to all of them. </p>
                   
                     <h6>Why us?</h6>
                    <ul>
                        <li><strong>Our Team &ndash; </strong>Our team of travel experts with years of experience and in-depth knowledge along with sincere dedication plays a vital role in all our endeavors to meet customer’s requirements among travel trade. The positive attitude encourages them to face the new challenges of every day, with confidence.</li>
                        <li><strong>Experience</strong> - Our team of experienced and energic&nbsp; travel experts go the extra distance to help you make the correct choice, offering you convenience, comfort, and cost-efficiency</li>
                        <li><strong>Awards & Accolades&ndash; </strong>For Deira Travels, every achievement & award is an inspiration to dream & aim higher ones. We have received more than fifty professional awards for attaining the targeted business volumes from various partners and vendors of the industry. While being one among the top lists of major airlines, for achieving the business target volumes, we continue to be one of the fastest growing travel agencies in U.A.E.</li>
                        <li><strong>Our Network &ndash; </strong>Our distribution network chains a dozen offices located in prime commercial & industrial centers of UAE. These outlets act as "One Stop Travel Shops", offering entire range of travel products and services. Our head office is located in the heart of Dubai City - Deira, Corporate office at Port Saeed Area and branches at Abu hail, Al- Quoz, Karama, Satwa, Ajman City, Sharjah, DIP, Ajman Indl Area, Abudhabi, Al Nahda & Al Khail Gate. Apparently we have our Regional Office in India, located at Calicut city of Kerala state.</li>
                        <li><strong>One Stop Travel Shop &ndash; </strong>All our outlets are equipped to offer our valuable clients shall provide you all the travel related services and products and you don't have to search for any other places for your complete travel bookings</li>
                        
                        
                     </ul>
                    
                </div>
                <h6 class="mt-15">Our Services</h6>
                <div>
                    <ul>
                        <li>Corporate Travel Solutions</li>
                        <li>Global Air Ticketing</li>
                        <li>World Wide Hotel Reservation</li>
                        <li>Inbound & Outbound Holiday Packages</li>
                        <li> Car Rentals & Train Tickets</li>
                        <li>Visa Assistance</li>
                        <li>Forex</li>
                        <li>Travel Insurance</li>
                        <li>Meet & Greet Assistance</li>
                    </ul>
                </div>
                <h6 class="mt-15">Mission & Vision</h6>
                <div>
                    <ul>
                        <li>Extreme Customer Care</li>
                        <li>Prioritize client requirements and strive continuously to provide outstanding level of service.</li>
                        <li>Excellence Through Teamwork</li>
                        <li>Team of travel experts shares knowledge & techniques, creating friendly office atmosphere.</li>
                        <li> Endurance & Technological Progress</li>
                        <li>Effective solutions & productive applications put in place towards new challenges & technology.</li>
                        <li>Ensured Reliability & Integrity</li>
                        <li>As a trustworthy business partner, we are bound to guarantee our promises & principles.</li>
                    </ul>
                </div>
               
            </div>
        </div>
    </div>
}
else if (System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() == "ROUNDTRIP")
{
    <div id="divMiddle">
        <div class="container">
            <div id="ContentPlaceHolder1_lbl">
                <div>
                    <h4 class="txt-center tittle_head"> Corporate Profile of <span class="font-face">Roundtrip</span>.in LLP </h4>
                    <p> Established in 2009, by third generation Entrepreneurs,&nbsp; &nbsp;<span class="font-face">Roundtrip</span> is one of Chennai&rsquo;s leading Travel Company&rsquo;s offering a full bouquet of Travel Services. Within the short time that we have been in operations,&nbsp;we are now amongst Chennai&rsquo;s top 20 Travel Agencies in the Retail segment</p>
                    <h6> Our Philosophy</h6>
                    <p> We understand that each traveller is unique and so are his requirements. We pride ourselves in offering&nbsp;customized and tailor-made Travel solutions to suit each customer thereby enhancing his overall experience, right from the enquiry stage to completion of the travel</p>
                    <h6>Why us?</h6>
                    <ul>
                        <li><strong>Experience</strong> - Our team of experienced and energic&nbsp; travel experts go the extra distance to help you make the correct choice, offering you convenience, comfort, and cost-efficiency</li>
                        <li><strong>Service &ndash;</strong> Our customer satisfaction speaks for our service. Also, the fact that we have an overall&nbsp; 98% customer retention is the testimonial of our curated customer service. We offer 24 x 7 service for all our customers</li>
                        <li><strong>Our Values &ndash; </strong>Our uncompromising honesty and transparency with both customers and suppliers are the backbone of our business values.&nbsp; &nbsp;&nbsp;</li>
                    </ul>
                    <h6>Our Services</h6>
                </div>
                <div>
                    <ul>
                        <li>Worldwide Air Tickets</li>
                        <li>Worldwide Hotels</li>
                        <li>Worldwide Holidays</li>
                        <li>Conferences &amp; MICE</li>
                        <li>Worldwide Car rentals</li>
                        <li>Visa Services</li>
                        <li>Forex</li>
                        <li>Travel Insurance</li>
                    </ul>
                </div>
                <h6>Management Team</h6>
                <ul>
                    <li><strong>Manoj Jain&nbsp; </strong></li>
                </ul>
                <p>
                    Manoj comes from a family of entrepreneurs and has successfully managed their family business, Rajasthan Dye Chem for more than 2 decades.
                    His &ldquo;Learn to Travel, Travel to Learn&rdquo; philosophy is what motivated him to set up this Travel Division. &nbsp;
                    <a href="mailto:manoj@roundtrip.in">manoj@roundtrip.in</a>
                </p>
                <ul>
                    <li><strong>Tushar Jain </strong></li>
                </ul>
                <p>
                    A third-generation entrepreneur who, along with, Manoj Jain, founded <span class="font-face">Roundtrip</span>.in and helped the company reach the heights it finds itself in.
                    Tushar has a flair for unique marketing ideas and always has an innovative way to execute them. He is passionate about travel and wants to make <span class="font-face">Roundtrip</span> into
                    a global Brand. <a href="mailto:tushar@roundtrip.in">tushar@roundtrip.in</a>
                </p>
            </div>
        </div>
    </div>
}