@{
    string strFileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strProductType = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
}
<div id="divMiddle">
    <div class="container">
        <div id="ContentPlaceHolder1_lbl">
            <p class="hidden-xs">&nbsp;</p>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                <tbody>
                    <tr>
                        <td style="height:36px; width:760px"><span style="font-size:18px">Contact Us</span></td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>&nbsp;</strong></p>
                            <strong class="font-13 fnt-wt-600">Corporate office</strong>
                            <div><img src="~/Images/@strProductType/roundtrip.png" style="width:300px" class="pt-10 logo_mob" /></div>
                            <div>
                                <p>&nbsp;</p>
                                <p>
                                    <span>
                                        <span class="font-14" id="spnAddress">
                                        </span>
                                    </span><br />
                                </p>

                                <p><span class="font-18"><span class="call_font">Call Center : <span id="spnCallCenterNo"></span> </span></span></p>
                            </div>
                        </td>
                        <td rowspan="4"><iframe class="hidden-xs" frameborder="0" height="450" id="imap" src="" style="border:0" width="600"></iframe></td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%" id="tbenquiry"></table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    var strProductType = '@strProductType';
    try {
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/XML/ProductSupportDetails.xml?"+ strFileversion)',
            async: true,
            dataType: "xml",
            success: function (xml) {

                var json = $.xml2json(xml);
                var ProductSupportdetails = json[strProductType];
                var Address = ""; var PhnNO = "";

                if (Array.isArray(ProductSupportdetails.ADDRESS))
                    $.each(ProductSupportdetails.ADDRESS, function (i, val) {
                        Address += val.DETAILS + "<br/>";
                    });
                else
                    Address = ProductSupportdetails.ADDRESS != undefined && ProductSupportdetails.ADDRESS.DETAILS != undefined ? ProductSupportdetails.ADDRESS.DETAILS : "";

                $('#spnAddress').html(Address);

                if (Array.isArray(ProductSupportdetails.CALLCENTERNO))
                    $.each(ProductSupportdetails.CALLCENTERNO, function (i, val) {
                        PhnNO += val.NUMBER + ",";
                    });
                else
                    PhnNO = ProductSupportdetails.CALLCENTERNO.NUMBER;

                $('#spnCallCenterNo').html(PhnNO);


                var Enqbuild = '<tbody><tr><td colspan="3" class="pb-10"><i class="lar la-envelope-open fnt-siz-25 pr-5" style="color:#ed1e24;"></i><strong><span style="font-size:16px">Enquiry</span></strong></td>';
                if (Array.isArray(ProductSupportdetails.ENQUIRY))
                    $.each(ProductSupportdetails.ENQUIRY, function (i, val) {
                        Enqbuild += '</tr>';
                        Enqbuild += '<tr><td class="pb-5">' + val.NAME + '</td><td>&nbsp;</td>';
                        Enqbuild += '<td class="mail_idfont"><a href="mailto:' + val.EMAILID + '">' + val.EMAILID + '</a></td></tr>';
                    });
                else
                    Enqbuild += '</tr><tr><td class="pb-5">' + ProductSupportdetails.ENQUIRY.NAME + '</td><td>&nbsp;</td><td class="mail_idfont"><a href="mailto:' + ProductSupportdetails.ENQUIRY.EMAILID + '">' + ProductSupportdetails.ENQUIRY.EMAILID + '</a></td></tr>';
                Enqbuild += '</tbody>';
                $('#tbenquiry').html(Enqbuild);
                ProductSupportdetails.IMAP!=undefined && ProductSupportdetails.IMAP.LINK != undefined && ProductSupportdetails.IMAP.LINK != "" ? $("#imap").attr("src", ProductSupportdetails.IMAP.LINK) : $("#imap").hide();

            },
            error: function (data) {
                showerralert("An error occurred while processing product support details XML file.", "", "");
                console.log(data);
            }
        });
    }
    catch (ex) {
        console.log(ex)
    }
</script>