@{
    string Producttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString():"";
}
<div id="divMiddle">
    <div class="container">
        <div id="ContentPlaceHolder1_lbl">
            @if(Producttype.ToString().ToUpper() == "ROUNDTRIP") {
            <h4 class="txt-center tittle_head">Terms And Conditions </h4>
            <p><span style="font-size:16px"><strong></strong></span></p>
            <p>PLEASE READ THESE TERMS OF USE CAREFULLY; THIS IS A BINDING CONTRACT</p>
            <p>The terms &quot;we&quot; and &quot;us&quot; refer to Roundtrip.in LLP and its affiliates, and &quot;you&quot; refers to the customer booking a reservation 
                through us directly through https://www.roundtrip.in (&quot;this website&quot;), or indirectly through any of our affiliates through whom we provide services. 
                These terms describe the terms and conditions applicable to your access and use of this website. We reserve the right to change these terms, conditions and 
                notices and you agree to accept and be bound by the terms, conditions and notices that are in effect at the time of your use of our website and facilities.</p>
            <p>Information available on this website the content available on this website is intended to be a general information resource and is provided solely on 
                an &quot;AS IS&quot; and &quot;AS AVAILABLE&quot; basis. You should not construe our publication of the content on this website as a warranty or guarantee of 
                the quality or availability of any travel package, plans, or advice. Use of this website This website is for your personal and non-commercial use. Accordingly, 
                as a condition of using this website, you agree not to use this website or its contents or information for any commercial or non-personal purpose 
                (direct or indirect). Although you are welcome to view, use and download limited copies of your travel itinerary (and related documents) for travel or 
                services available on this website, you agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative 
                works from, transfer, or sell or re-sell any information, content, or services obtained from this website. You also warrant to us that you will not use this 
                website for any purpose that is unlawful or prohibited by these terms, conditions, and notices.</p>
            <p>You warrant that you are at least 18 years of age and possess the legal authority to enter into this agreement and to use this website in accordance with all 
                terms and conditions herein. You agree to supervise all usage by minors of this website under your name or account. You also warrant that all information 
                supplied by you or members of your household in using this website is true and accurate. Without limitation, any speculative, false or fraudulent reservation 
                or any reservation in anticipation of demand is prohibited. You agree that the products and services of this website shall be used only to make legitimate 
                reservations or purchases for you or for another person for whom you are legally authorized to act. You understand that abuse of the products or services of 
                this website may result in you being denied access to this website. You shall be completely responsible for payment/ reimbursement of all charges, fees, 
                duties, taxes (including service tax), and assessments arising out of the use of this website. Limitation of Liability We shall make every commercially 
                reasonable effort to ensure this website contains accurate and correct information. However, we do not warrant the validity, quality and pricing of the 
                products and services offered at this website. You may view our Disclaimer Policy. You hereby indemnify us and shall continue to keep us indemnified including 
                any of our officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or 
                other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by third parties as a result of:</p>

            <ul>
                <li>(a) your breach of these terms of use;</li>
                <li>(b) your violation of any law or the rights of a third party; or</li>
                <li>(c) your use of this website.</li>
            </ul>
            <p>Software available on this web site Any software that is made available to download from this website (&quot;Software&quot;) is our copyrighted work. Your use
                 of the Software is governed by the terms of the end user license agreement, if any, which accompanies or is included with the Software (&quot;
                License Agreement&quot;). Privacy Policy By agreeing to these terms, you agree that we may use your information as described in our Privacy Policy. 
                You may view of our Privacy Policy by clicking here (Note to draft: Please provide the link to Privacy Policy) Copyright All content on this website is 
                Copyright of Roundtrip.in LLP. Except for your information, personal, non-commercial use as authorized above, you may not modify, reproduce or distribute 
                the content, design or layout of this website, or individual sections of the content, design or layout of this website without our express written permission. 
                Governing Law and Dispute Resolution The use of this website shall be governed by the laws of India and shall be subject to the exclusive jurisdiction of the
                 courts in Chennai. Any dispute, difference, controversy or claim arising out of or relating to your use of this website shall be referred to the arbitration 
                of a sole arbitrator, who shall be appointed by, https://www.roundtrip.in/. All such arbitration proceedings shall be held in Chennai and shall be in
                 accordance with and subject to the provision of the Arbitration and Conciliation Act, 1996 or any statutory modification or enactment thereof.</p>
            }
            else if (Producttype.ToString().ToUpper() == "DEIRA")
            {<h4 class="txt-center tittle_head">Terms And Conditions </h4>
                <div class="container" style="padding: 20px; text-align: justify;">
                    <h2 style="font-size: 18px; color: #CB4335">
                        Please Read And Review The Following Terms And Conditions Carefully Before Using This Web Site.<br>
                        <br>
                    </h2>
                    <p class="p_terms">
                        By using this web site, you agree to these terms and conditions. If you do not agree, please exit and disregard the information contained herein.<br>
                        You warrant that you are at least 18 years of age and possess the legal authority to enter into this agreement and to use this website in accordance with all terms and conditions herein. You agree to supervise all usage by minors of this website under your name or account. You also warrant that all information supplied by you or members of your household in using this website is true and accurate. Without limitation, any speculative, false or fraudulent reservation or any reservation in anticipation of demand is prohibited. You agree that the products and services of this website shall be used only to make legitimate reservations or purchases for you or for another person for whom you are legally authorized to act. You understand that abuse of the products or services of this website may result in you being denied access to this website. You shall be completely responsible for payment/ reimbursement of all charges, fees, duties, taxes (including service tax), and assessments arising out of the use of this website.<br>
                        <br>
                        <b>Limitation of Liability</b><br>
                        We shall make every commercially reasonable effort to ensure this website contains accurate and correct information. However, we do not warrant the validity, quality and pricing of the products and services offered at this website. You may view our Disclaimer Policy by clicking here.<br>
                        <br>
                        <b>Right To Cancellation</b><br>
                        The User expressly undertakes to provide to deiratravel.com only correct and valid information while requesting for any services under this agreement, and not to make any misrepresentation of facts at all. Any default on part of the User would vitiate this agreement and shall disentitle the User from availing the services from Deira Travel and Tourist Agency CO LLC. In case deiratravel.ae discovers or has reasons to believe at any time during or after receiving a request for services from the User that the request for services is either unauthorized or the information provided by the User or any of them is not correct or that any fact has been misrepresented by him, Deira Travel and Tourist Agency in its sole discretion shall have the unrestricted right to take any steps against the User(s), including cancellation of the bookings, etc. without any prior intimation to the User. In such an event, deiratravel.com shall not be responsible or liable for any loss or damage that may be caused to the User or any of them as a consequence of such cancellation of booking or services. The User unequivocally indemnifies deiratravel.com of any such claim or liability and shall not hold ATO responsible for any loss or damage arising out of measures taken by ATO for safeguarding its own interest and that of its genuine customers
                    </p>
                    <p>
                        <b>General Information</b><br>
                        This site contains material about Deira Travel and Tourist Agency CO LLC, hereinafter referred to as “Deira Travel” and its Affiliates, Subsidiaries and Associates (Deira Travel Key Suppliers), who may be of interest to Deira Travel employees and customers, as well as to members of the Travel Industry and the general public. Your access and use of the information contained herein is subject to the following terms and conditions and all applicable laws. By accessing and browsing this web site, you accept, without limitation or qualification, these terms and conditions and acknowledge that they supersede any other agreement between you and Deira Travel. When you use the website for online booking of services, please ensure that all the information provided by you such as names, dates of travel, passport numbers etc is accurate and of the valid legal travel document. Deira Tavel shall not be liable for any erroneous information given by you. Deira Travel will not in any way be held liable for any loss or inconvenience suffered by you as a result of erroneous information provided by you.
                    </p>
                    <p>
                        <b>Limitation of Liability and Security warnings</b><br>
                        Deira Travel will use reasonable efforts to include accurate, complete and up-to-date information on this web site, but Deira Travel makes no warranties or representations as to its accuracy, completeness or frequency that it is updated. All users agree that access to this web site is at their own risk, and that neither Deira Travel nor any party involved in creating or delivering this web site shall be liable for damages of any kind, including without limitation, any special, direct or indirect, incidental, or consequential or punitive damages (even if Deira Travel has been advised of the possibility of such damages) arising out of access to, or use of the information contained on this web site, or any errors or omissions, misprints, out-of-date information, technical or pricing inaccuracies, typographical or other errors appearing on this web site. This limitation includes damages to, or for any viruses that may infect your computer equipment.
                    </p>
                    <p>Use of the Website is available only to persons who can form legally binding contracts stipulating the local governing law. Persons who are “incompetent to contract” within the meaning of the local governing law, including minors, infirm, undercharged solvents are not eligible to use this Website.</p>
                    <p>
                        <b>Your Privacy and Personally identifiable information</b><br>
                        Access to this web site may be monitored by Deira Travel . If monitored, the requesting URLs, the machine originating the request, and the time of the request, are logged for access statistics and security purposes. Your use and access of this web site constitutes your consent to such general monitoring. Additionally, please view DEIRA TRAVEL PRIVACY POLICY, below, for details on how information from the web site may be gathered and used. Deira Travel will make every effort to maintain the accuracy and confidentiality of any personal information you supply to us. If you wish to make additions or other corrections to the information that you have sent in, please transmit it to us via the “contact us” on the site. Personally identifiable information includes your name, address, phone number, e-mail address or any other information which might reasonably be used to identify you individually. Deira Travel collects personally identifiable information from web site visitors only when it is voluntarily provided. Deira Travel will not otherwise collect this information from you on our web site.
                    </p>
                    <p>
                        <b>Privacy Policy</b><br>
                        Deira Travel thanks you for visiting its web site. Because we are committed to respecting the privacy of our web site visitors, this web site Privacy Policy describes the information we may collect from you during your visit to our site, how we may use it, and how we will protect the information which you may opt to provide. This policy explains the efforts to balance our business interests in collecting and using the information we receive from you with your need for appropriate protection and management of any personally identifiable information that you share with us. Please note that by accessing and using this web site you automatically consent to us using any information provided by you in line with this policy.
                    </p>
                    <p>
                        <b>Intellectual Property Rights</b><br>
                        All trademarks, logos and service marks appearing in this web site, and as designated with either a trademark symbol or type form that is different from the surrounding text, are trademarks owned by or licensed to Deira Travel , its subsidiaries or affiliates. Notwithstanding this disclaimer, all other names and marks mentioned in this web site are the trade names, trademarks or service marks of their respective owners.
                    </p>
                    <p>
                        <b>Indemnity</b><br>
                        The User shall hold Deira Travel fully indemnified and harmless in case any suit, action, application, revision, written petition, execution proceedings, claim, demand or any other legal proceedings are initiated against Deira Travel due to any action/s of the User in using the website including any fraudulent transactions via the credit card.
                    </p>
                    <p>
                        <b>Enforceability of Provisions</b><br>
                        These web site usage terms shall be governed by and construed in accordance with laws of United Arab Emirates (UAE). If any provision herein is held to be unlawful, void, or for any reason unenforceable, then that provision shall be eliminated or limited to the minimum extent necessary and such elimination or limitation shall not affect the validity and enforceability of any remaining provisions. These web site usage terms constitute the entire agreement between Deira Travel and you relating to the subject matter herein and you agree to indemnify Deira Travel for any claims or damages resulting from your failure to abide by these terms and conditions.
                    </p>
                    <p>
                        <b>Arbitration and Governing Law</b><br>
                        All legal disputes will be settled under the laws of UAE courts subject to laws of the UAE. In the event of any dispute of whatever nature, arising under this Agreement, such dispute shall be settled through good faith negotiation among the parties. In case such dispute cannot be resolved by negotiation within 30 days such dispute shall be referred to binding arbitration in accordance with the provisions of the Arbitration and Conciliation Act of UAE. The place of arbitration shall be Dubai, UAE. The decision of the arbitral tribunal shall be final and binding upon the parties. In case of the dispute requiring intervention of courts, courts in Dubai alone shall have exclusive jurisdiction.
                    </p>
                    <p>
                        <b>Injunctive Relief</b><br>
                        You acknowledge that a violation or attempted violation of any of this User Agreement and these terms and conditions will cause such damage to Deira Travel as will be irreparable, the exact amount of which would be difficult to ascertain and for which there will be no adequate remedy at law. Accordingly, you agree that Deira Travel shall be entitled as a matter of right to an injunction issued by any court of competent jurisdiction, restraining such violation or attempted violation of these terms and conditions by you, or your affiliates, partners, or agents, as well as recover from you any and all costs and expenses sustained or incurred by Deira Travel in obtaining such an injunction, including, without limitation, reasonable attorney's fees. You agree that no bond or other security shall be required in connection with such injunction.
                        Should any of these terms and conditions in this document be held invalid, that invalid provision shall be construed to be inconsistent with the applicable law. Provisions not otherwise held invalid shall remain in force.
                        This document is an electronic record in terms of Information Federal Technology Act, 2000 and the amended provisions pertaining to electronic records in various statutes as amended by the Federal Information Technology Act, 2000. This electronic record is generated by a computer system and does not require any physical signatures.
                    </p>
                    <p>
                        <b>Security</b><br>
                        The security and confidentiality of your personal information is of utmost concern to us. However, no data transmission over the Internet can be guaranteed to be completely secure. As a result, while we will use our best reasonable efforts to protect your information, though we cannot warrant or guarantee the security of any information you may transmit to us. In order to protect the information stored in our systems, we have implemented security measures, including data encryption technology and firewalls.
                    </p>
                    <p>
                        <b>Minors</b><br>
                        Minors are not eligible to register for, or use, or purchase the products and services available on this website. We do not knowingly collect or solicit any personal information from any minor.
                    </p>
                    <p>Contact Us - If you have questions, comments or concerns about this Privacy Policy please send us an email: portal@deiratravels.com</p>
                    <p>
                        Consent<br>
                        By using this website, you consent to the collection, use, and storage of your information by us in the manner described in this Privacy Policy and elsewhere on this website.
                    </p>
                    <p>
                        <b>Amendment</b><br>
                        We reserve the right to change, modify or amend this policy at any time. Please check our Privacy Policy periodically for changes. Use of this website after modification implies that you consent to this Privacy Policy as modified.
                    </p>
                    <p>
                        <b>Disclaimer</b><br>
                        Information and related materials are subject to change without notice. This web site and all information and related materials it contains, are provided "as is." Deira Travel makes no representation or warranty whatsoever regarding the completeness, accuracy, "up-to-datedness", or adequacy of, or the suitability, functionality, availability, or operation of this web site or the information or materials it contains. By using this web site, you assume the risk that the information and materials on this web site may be incomplete, inaccurate, out of date, or may not meet your needs and requirements. Deira Travel specifically disclaims all warranties, express or implied, including without limitation, the warranties or merchantability, fitness for a particular purpose, and non-infringement with respect to this web site and information, graphics and materials contained herein.
                    </p>
                    <p>
                        <b>No License</b><br>
                        Nothing in this web site shall be construed as conferring by implication, estoppel or otherwise, any license or right to use in any form or manner any copyright, logo or trademark of Deira Travel or any form or kind of its licensed services. Please be advised that Deira Travel protects its intellectual property rights to the fullest extent of the law.
                    </p>
                    <p>
                        <b>Personal Responsibility</b><br>
                        If you use this site, you alone are responsible for maintaining the confidentiality of your account information, username and your password/s. You agree to accept responsibility for all activities that occur under your account or password. You represent that you are of age prescribed by law to be eligible to enter into contract, and use this to create binding reciprocal legal obligations, and are capable, ready and willing to discharge any liability you may incur as a result of the use of this site. You understand that you are financially responsible for all uses of this site by you and those using your login information including credit card and payments details.
                    </p>
                </div>
            }
            else
            {
                <h4 class="txt-center tittle_head">Terms And Conditions </h4>
                <p><span style="font-size:16px"><strong></strong></span></p>
                <p>PLEASE READ THESE TERMS OF USE CAREFULLY; THIS IS A BINDING CONTRACT</p>
                <p>
                    Information available on this website the content available on this website is intended to be a general information resource and is provided solely on
                    an &quot;AS IS&quot; and &quot;AS AVAILABLE&quot; basis. You should not construe our publication of the content on this website as a warranty or guarantee of
                    the quality or availability of any travel package, plans, or advice. Use of this website This website is for your personal and non-commercial use. Accordingly,
                    as a condition of using this website, you agree not to use this website or its contents or information for any commercial or non-personal purpose
                    (direct or indirect). Although you are welcome to view, use and download limited copies of your travel itinerary (and related documents) for travel or
                    services available on this website, you agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative
                    works from, transfer, or sell or re-sell any information, content, or services obtained from this website. You also warrant to us that you will not use this
                    website for any purpose that is unlawful or prohibited by these terms, conditions, and notices.
                </p>
            }
         </div>
    </div>


</div>