@{
    string Producttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
}
<div id="divMiddle">
     <div class="container">
         <div id="ContentPlaceHolder1_lbl">
            <h4 class="txt-center tittle_head">User Agreement</h4>
            @if (Producttype.ToString().ToUpper() == "ROUNDTRIP")
            {
            <h6><strong>Master User Agreement: Acceptance of Terms</strong></h6>
            <p>This Master User Agreement constitutes a binding contract between you, the User, and <span class="font-face">Roundtrip</span>.in LLP. with regard to the use of various services that are provided by <span class="font-face">Roundtrip</span>.in LLP.</p>
            <p>1.1 <span class="font-face">Roundtrip</span>.in LLP (&ldquo;<span class="font-face">Roundtrip</span>&rdquo;), a company incorporated under the laws of India, with its principal office at 83, Sydenhams Road, Opp. Nehru Indoor Stadium Gate 1, Periamet, Chennai - 600003, provides various travel related services through its Website (www.roundtrip.in), retail outlets, mobile-cellular technology as well as through its call-centre.</p>

            <p>1.2 <span class="font-face">Roundtrip</span> shall provide you (&ldquo;User&rdquo;) travel-related information, pricing, availability and reservations for airlines, hotels, railway, holiday packages, bus and car rentals across cities and rural areas throughout India (&ldquo;Service/s or RoundTrip Services&rdquo;). These Services may be availed by the User in India at any time during the year as is offered by various third-party vendors like airlines, hotels, etc. (&quot;Service Providers&quot;).</p>

            <p>1.3 This Master User Agreement(&ldquo;Agreement&rdquo;) is applicable to all <span class="font-face">Roundtrip</span> Services. In addition to this Agreement and depending on the Services opted for by the User, the User shall be required to read and accept the relevant terms and conditions of service(&ldquo;TOS&rdquo;) for each such Service, which may be updated or modified by RoundTrip from time to time. Such TOS shall be deemed to be a part of this Agreement and in the event of a conflict between such TOS and this Agreement, the terms of this Agreement shall prevail</p>

            <p>1.4 <span class="font-face">Roundtrip</span> Services are offered to the User conditioned on acceptance without modification of all the terms, conditions and notices contained in this Agreement and the TOS, as may be posted on the Website from time to time. For the removal of doubts, it is clarified that availing of the Services by the User constitutes an acknowledgement and acceptance by the User of this Agreement and the TOS. If the User does not agree with any part of such terms, conditions and notices, the User must not avail RoundTrip Services.</p>

            <p>1.5 Additionally, the Service Provider itself may provide terms and guidelines that govern features, offers or the operating rules and policies applicable to each Service (for example, flights, hotel reservations, packages, etc.). The User shall be responsible for ensuring compliance with the terms and guidelines or operating rules and policies of the Service Provider with whom the User elects to deal, including terms and conditions set forth in a Service Providers&#39; fare rules, contract of carriage or house rules.</p>

            <p>1.6 <span class="font-face">Roundtrip</span> at its sole discretion reserves the right not to accept any order placed by the User through the Website without assigning any reason thereof. Any contract to provide any service by <span class="font-face">Roundtrip</span> is not complete until full money towards the service is received from the User and accepted by <span class="font-face">Roundtrip</span>.</p>

            <h6><strong>2. Modification of Terms</strong><strong>&nbsp;</strong></h6>

            <p><span class="font-face">Roundtrip</span> reserves the right to change the terms, conditions and notices under which the Services are offered through the Website, including but not limited to the charges for the Services provided through the Website. The User shall be responsible for regularly reviewing these terms and conditions.</p>

            <h6><strong>3. Privacy Policy</strong><strong>&nbsp;</strong></h6>

            <p>The User hereby consents, expresses and agrees that he has read and fully understands the Privacy Policy of <span class="font-face">Roundtrip</span>. The User further consents that the terms and contents of such Privacy Policy are acceptable to him.</p>

            <h6><strong>4. Limited User</strong><strong>&nbsp;</strong><br />&nbsp;</h6>

            <p>4.1 The User agrees and undertakes not to sell, trade or resell or exploit for any commercial purposes, any portion of the Service. For the removal of doubt, it is clarified that <span class="font-face">Roundtrip</span> Services, including the use of the Website, is not for commercial use but is specifically meant for personal use only.</p>

            <p>4.2 The User further agrees and undertakes not to reverse engineer, modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Website. Limited reproduction and copying of the content of the Website is permitted provided that the <span class="font-face">Roundtrip</span>&#39;s name is stated as the source. For the removal of doubt, it is clarified that unlimited or wholesale reproduction, copying of the content for commercial or non-commercial purposes and unwarranted modification of data and information within the content of the Website is not permitted.</p>

            <h6><strong>5. Disclaimer of Warranties/Limitation of Liability</strong><strong>&nbsp;</strong><br />&nbsp;</h6>

            <p>5.1 RoundTrip has endeavoured to ensure that all the information provided by it is correct, but RoundTrip neither warrants nor makes any representations regarding the quality, accuracy or completeness of any data or information. RoundTrip makes no warranty, express or implied, concerning the Website and/or its contents and disclaims all warranties of fitness for a purpose and warranties of merchantability in respect of services, including any liability, responsibility or any other claim, whatsoever, in respect of any loss, whether direct or consequential, to any User or any other person, arising out of or from the use of any such information.</p>

            <p>5.2 To the extent RoundTrip acts only as a booking agent and facilitator of Services on behalf of third party service providers, it shall not have any liability whatsoever for any aspect of the arrangements between the service provider and the User about the standards and rendering of services by the service providers. In no circumstances shall <span class="font-face">Roundtrip</span> be liable for the services provided by the service provider.</p>

            <p>5.3 Although <span class="font-face">Roundtrip</span> makes reasonable commercial efforts to ensure that the description and content in the TOS and on each page of the Website is correct, it does not, however, take responsibility for changes that occurred due to human or data entry errors or for any loss or damages suffered by any User due to any information contained herein.</p>

            <p>Also, <span class="font-face">Roundtrip</span> is not the service provider and cannot therefore control or prevent changes in the published descriptions or representations, which are always based upon information provided by the service providers. <span class="font-face">Roundtrip</span> acts only as a facilitator of Services and shall not be held liable for any changes, deficiencies, disputes, etc. related to the services being provided by Service Providers, including the matters related to delays in refunds or no refunds, of the fares and charges paid to Service Providers. All refunds to User/customer because of cancellation of any tickets/services or otherwise shall be made subject to receipt of such refunds by <span class="font-face">Roundtrip</span> from the respective Service Provider including Airlines.</p>

            <p>5.4 <span class="font-face">Roundtrip</span> does not endorse any advertiser on its website in any manner. The Users are requested to verify the accuracy of all information on their own before undertaking any reliance on such information.</p>

            <p>5.5 <span class="font-face">Roundtrip</span> does not, by offering travel related services to destinations, represent or warrant that travel to such destinations is without risk, and shall not be liable for damages or losses that may result from travel to such destinations.</p>

            <p>5.6 In no event shall <span class="font-face">Roundtrip</span> be liable for any direct, indirect, punitive, incidental, special, consequential damages or any other damages resulting from: (a) the use or the inability to use the services; (b) the cost of procurement of substitute goods and services or resulting from any goods, information or services purchased or obtained or messages received or transactions entered into through the services; (c) unauthorized access to or alteration of the User&#39;s transmissions or data; (d) any other matter relating to the services; including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with availing services from <span class="font-face">Roundtrip</span>.</p>

            <p>Neither shall <span class="font-face">Roundtrip</span> be responsible for the delay or inability to use/avail the Website or Services, the provision of or failure to provide services by Service Provider, or for any information, software, products, services and related graphics obtained from <span class="font-face">Roundtrip</span>, whether based on contract, tort, negligence, strict liability or otherwise. Further, <span class="font-face">Roundtrip</span> shall not be held responsible for non-availability of the website during periodic maintenance operations or any unplanned suspension of access to the services that may occur due to technical reasons or for any reason beyond <span class="font-face">Roundtrip</span>&#39;s control. The User understands and agrees that any material and/or data downloaded or otherwise obtained from Website/<span class="font-face">Roundtrip</span> is done entirely at their own discretion and risk and they will be solely responsible for any damage to their computer systems or any other loss that results from such material and/or data.</p>

            <p>These limitations, disclaimer of warranties and exclusions apply without regard to whether the damages arise from (a) breach of contract, (b) breach of warranty, (c) negligence, or (d) any other cause of action, to the extent such exclusion and limitations are not prohibited by applicable law.</p>

            <p>The maximum liability on part of <span class="font-face">Roundtrip</span> arising under any circumstances, in respect of any Services availed, shall be limited up to a maximum of the refund of total amount received from the User/customer for providing the services less any cancellation, refund or other charges, as may be applicable. In no case <span class="font-face">Roundtrip</span> shall be liable for any consequential loss, damage or additional expense whatsoever. In no event <span class="font-face">Roundtrip</span> shall be liable for any kind of refunds/returns of charges/fee/fares paid to Service Provider for rendering the services to User/customer.</p>

            <h6><strong>6. Links to Third Party Sites</strong></h6>

            <p>6.1 The Website may contain links to other websites (&quot;Linked Sites&quot;). The Linked Sites are not under the control of <span class="font-face">Roundtrip</span> or the Website and <span class="font-face">Roundtrip</span> is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. <span class="font-face">Roundtrip</span> is not responsible for any form of transmission, whatsoever, received by the User from any Linked Site. <span class="font-face">Roundtrip</span> is providing these links to the User only as a convenience, and the inclusion of any link does not imply endorsement by RoundTrip or the Website of the Linked Sites or any association with its operators or owners including the legal heirs or assigns thereof.</p>

            <p>6.2 RoundTrip is not responsible for any errors, omissions or representations on any Linked Site. RoundTrip does not endorse any advertiser on any Linked Site in any manner. The Users are requested to verify the accuracy of all information on their own before undertaking any reliance on such information.</p>

            <h6><strong>7. Prohibition Against Unlawful Use</strong>&nbsp;</h6>

            <p>As a condition of the use of the Website, the User warrants that they will not use the Website for any purpose that is unlawful or illegal under any law for the time being in force within or outside India or prohibited by this Agreement and/or the TOS including both specific and implied. In addition, the Website shall not be used in any manner, which could damage, disable, overburden or impair it or interfere with any other party&#39;s use and/or enjoyment of the Website. The User shall refrain from obtaining or attempting to obtain any materials or information through any means not intentionally made available or provided for or through the Website.
            </p>

            <p>&nbsp;</p>

            <h6><strong>8. Use of Communication Services</strong></h6>

            <p>&nbsp;</p>

            <p>8.1 The Website may contain services such as email, chat, bulletin board services, information related to various tourist spots, news groups, forums, communities, personal web pages, calendars, and/or other message (hereinafter collectively referred to as &quot;Communication Services&quot;). The User agrees and undertakes to use the Communication Services only to post, send and receive messages and material that are proper and related to the Communication Service. By way of example, and not as a limitation, the User agrees and undertakes that when using a Communication Service, the User will not:</p>

            <ul>
                <li>defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others;</li>
                <li>publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information;</li>
                <li>upload files that contain software or other material protected by intellectual property laws unless the User owns or controls the rights thereto or have received all necessary consents;</li>
                <li>upload or distribute files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of the Website or another&#39;s computer;</li>
                <li>advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages;</li>
                <li>conduct or forward surveys, contests, pyramid schemes or chain letters;</li>
                <li>download any file posted by another User of a Communication Service that the User know, or reasonably should know, cannot be legally distributed in such manner;</li>
                <li>falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded;</li>
                <li>violate any code of conduct or other guidelines, which may be applicable for or to any Communication Service;</li>
                <li>violate any applicable laws or regulations for the time being in force in or outside India; and</li>
                <li>violate any of the terms and conditions of this Agreement or any other terms and conditions for the use of the Website contained elsewhere herein.</li>
            </ul>

            <p>8.2 RoundTrip will review materials posted through Communication Service and shall remove any materials in its sole discretion. RoundTrip reserves the right to terminate the User&#39;s access to any or all the Communication Services at any time without notice for any reason whatsoever.</p>

            <p>8.3 RoundTrip reserves the right always to disclose any information as is necessary to satisfy or comply with any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in RoundTrip&#39;s sole discretion.</p>

            <p>8.4 RoundTrip does not control or endorse the content, messages or information found in any communication service and, therefore, RoundTrip specifically disclaims any liability or responsibility whatsoever with regard to the communication services and any actions resulting from the User&#39;s participation in any communication service.</p>

            <p>8.5 Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. User is responsible for keeping himself updated of and adhering to such limitations if they download the materials.</p>

            <p>8.6 When you register with RoundTrip.com, we or any of our partners/affiliate/group companies may contact you from time to time to provide the offers/information of such products/services that we believe may benefit you.</p>

            <h6><strong>9. Termination/Access Restriction</strong></h6>

            <p>RoundTrip reserves the right, in its sole discretion, to terminate the access to the website and the related services or any portion thereof at any time, without notice.</p>

            <h6>
                <strong>10. Fees Payment</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>10.1 RoundTrip reserves the right to charge listing fees for certain listings, as well as transaction fees based on certain completed transactions using the RoundTrip Services. RoundTrip further reserves the right to alter all fees from time to time, without notice.</p>

            <p>10.2 The User shall be liable to pay all applicable charges, fees, duties, taxes, levies and assessments for availing the RoundTrip Services.</p>

            <h6>
                <strong>11. User&#39;s Obligations and User Account</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>11.1 The User represent and confirm that the User is of legal age to enter into a binding contract and is not a person barred from availing the Services under the laws of India or other applicable law.</p>

            <p>11.2 To avail a Service through the Website, the User has and must continue to maintain at his sole cost: (a) all the necessary equipment including a computer and modem etc. to access the Website/avail Services; (b) own access to the World Wide Web. The User shall be responsible for accessing the Services and that access may involve third party fees including, airtime charges or internet service provider&rsquo;s charges which are to be exclusively borne by the User.</p>

            <p>11.3 The User also understands that the Services may include certain communications from RoundTrip as Service announcements and administrative messages. The User understands and agrees that the Services are provided on an &quot;as is&quot; basis and that RoundTrip does not assume any responsibility for deletions, mis-delivery or failure to store any User communications or personalized settings.</p>

            <p>11.4 Registration of the User on the Website is optional. If the User opts to register himself on the Website, upon completion of the registration process, the User shall receive a user id and password. The User agrees and undertakes always to be responsible for maintaining the confidentiality of the password and user id and shall be fully responsible for all activities that occur by use of such password or user id. Further, the User agrees not to use any other parties under id and password for any purpose whatsoever without proper authorization from such party. You are responsible for the security of your password and for all transactions undertaken using your password through our service. The Password entered by you is transmitted in one- way encrypted form to our database and stored as such. Thus, the Password will not be known even to RoundTrip. You confirm that you are the authorised holder of the credit card or the original account holder used in the transactions you make using the RoundTrip services. RoundTrip will not be responsible for any financial loss, inconvenience or mental agony resulting from misuse of your ID/password/credit card number/account details number for using RoundTrip Services.</p>

            <p>11.5 The User also agrees and undertakes to immediately notify RoundTrip of any unauthorized use of the User&#39;s password or user id and to ensure that the user logs off at the end of each session at the website. RoundTrip shall not be responsible for any, direct or indirect, loss or damage arising out of the user&#39;s failure to comply with this requirement.</p>

            <p>11.6 The User also agrees to: (a) provide true, accurate and complete information about himself and his beneficiaries as prompted by the registration form (&quot;Registration Data&quot;) on the Website; and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If the User provide any information that is untrue, inaccurate, not current or incomplete or RoundTrip has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, RoundTrip has the right to suspend or terminate the User&#39;s registration and refuse all current or future use of the Website and/or any Service.</p>

            <p>11.7 Furthermore, the User grants RoundTrip the right to disclose to third parties Registration Data to the extent necessary for carrying out the Services.</p>

            <h6>
                <strong>12. Breach</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>12.1 Without prejudice to the other remedies available to RoundTrip under this agreement, the TOS or under applicable law, RoundTrip may limit the User&#39;s activity, or end the User&#39;s listing, warn other users of the user&#39;s actions, immediately temporarily/indefinitely suspend or terminate the user&#39;s registration, and/or refuse to provide the user with access to the website if:</p>

            <ul>
                <li>the user is in breach of this agreement, the TOS and/or the documents it incorporates by reference;</li>
                <li>RoundTrip is unable to verify or authenticate any information provided by the user; or</li>
                <li>RoundTrip believes that the user&#39;s actions may infringe on any third-party rights or breach any applicable law or otherwise result in any liability for the user, other users of the website and/or RoundTrip.</li>
            </ul>

            <p>&nbsp;</p>

            <p>12.2 RoundTrip may at any time in its sole discretion reinstate suspended users. Once the user has been indefinitely suspended the user may not register or attempt to register with RoundTrip or use the website in any manner whatsoever until such time that the user is reinstated by RoundTrip. Notwithstanding the foregoing, if the user breaches this agreement, the TOS or the documents it incorporates by reference, RoundTrip reserves the right to recover any amounts due and owing by the User to RoundTrip and/or the service provider and to take strict legal action as RoundTrip deems necessary.</p>

            <h6>
                <strong>13. Proprietary Rights</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>13.1 RoundTrip may provide the User with content such as sound, photographs, graphics, video or other material contained in sponsor advertisements or information. This material may be protected by copyrights, trademarks or other intellectual property rights and laws. The User may use this material only as expressly authorized by RoundTrip and shall not copy, transmit or create derivative works of such material without express authorization from RoundTrip.</p>

            <p>&nbsp;</p>

            <p>13.2 The User acknowledges and agrees that they shall not upload, post, reproduce or distribute any content on or through the Website that is protected by copyright or other proprietary right of a third party, without obtaining the permission of the owner of such right. Any copyrighted or other proprietary content distributed on or through the Website with the consent of the owner must contain the appropriate copyright or other proprietary rights notice. The unauthorized submission or distribution of copyrighted or other proprietary content is illegal and could subject the User to personal liability or criminal prosecution.</p>

            <h6>
                <strong>14. Relationship</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>None of the provisions of this Agreement, terms and conditions, notices or the right to use the Website by the User contained herein or any other section or pages of the Website and/or the Linked Sites, shall be deemed to constitute a partnership between the User and RoundTrip and no party shall have any authority to bind or shall be deemed to be the agent of the other in any way. It may be noted, however, that if by using the Website, the User authorizes RoundTrip and its agents to access third party sites designated by them or on their behalf for retrieving requested information, the User shall be deemed to have appointed RoundTrip and its agents as their agent for this purpose.</p>

            <p>&nbsp;</p>

            <h6>
                <strong>15. Headings</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>The headings and subheadings herein are included for convenience and identification only and are not intended to describe, interpret, define or limit the scope, extent or intent of this Agreement, the TOS or the right to use the Website by the User contained herein or any other section or pages of the Website or any Linked Sites in any manner whatsoever.</p>

            <p>&nbsp;</p>

            <h6>
                <strong>16. Interpretation of Number and Genders</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>The terms and conditions herein shall apply equally to both the singular and plural form of the terms defined. Whenever the context may require, any pronoun shall include the corresponding masculine and feminine. The words &quot;include&quot;, &quot;includes&quot; and &quot;including&quot; shall be deemed to be followed by the phrase &quot;without limitation&quot;. Unless the context otherwise requires, the terms &quot;herein&quot;, &quot;hereof&quot;, &quot;hereto&quot;, &quot;hereunder&quot; and words of similar import refer to this Agreement as a whole.</p>

            <p>&nbsp;</p>

            <h6>
                <strong>17. Indemnification</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>The User agrees to indemnify, defend and hold harmless RoundTrip from and against any and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by RoundTrip that arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by the User pursuant to this Agreement and/or the TOS.</p>

            <p>&nbsp;</p>

            <h6>
                <strong>18. Severability</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>If any provision of this Agreement is determined to be invalid or unenforceable in whole or in part, such invalidity or unenforceability shall attach only to such provision or part of such provision and the remaining part of such provision and all other provisions of this Agreement shall continue to be in full force and effect.</p>

            <p>&nbsp;</p>

            <h6>
                <strong>19. Termination of Agreement and Services</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>19.1 Either the User or RoundTrip may terminate this Agreement and a Service with or without cause at any time to be effective immediately.</p>

            <p>19.2 The User agrees that RoundTrip may under certain circumstances and without prior notice, immediately terminate the User&#39;s user id and access to the Website/Services. Causes for termination may include, but shall not be limited to, breach by the User of this Agreement or the TOS, requests by enforcement or government agencies, requests by the User, non-payment of fees owed by the User in connection with the Services as specified in the applicable TOS.</p>

            <p>19.3 This Agreement may be terminated by either the User or RoundTrip through a written notice to the other. RoundTrip shall not be liable to the User or any third party for termination of any Service. Should the User object to any terms and conditions of this Agreement, any TOS or become dissatisfied with the Service in any way, the User&#39;s only recourse is to immediately: (a) discontinue use of the Website/Service; and (b) notify RoundTrip of such discontinuance.</p>

            <p>19.4 Upon termination of the Service, User&#39;s right to use the Website/Services and software shall immediately cease. The User shall have no right and RoundTrip shall have no obligation thereafter to execute any of the User&#39;s uncompleted tasks or forward any unread or unsent messages to the User or any third party. Once the User&#39;s registration or the Services are terminated, cancelled or suspended, any data that the User has stored on the Website may not be retrieved later.</p>

            <h6>
                <strong>20. Notices</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>All notices and communications (including those related to changes in the TOS, Service, termination of Service etc.,) shall be in writing, in English and shall deemed given if delivered personally or by commercial messenger or courier service, or mailed by registered or certified mail (return receipt requested) or sent via email/facsimile (with acknowledgment of complete transmission) to the following address:</p>

            <ul>
                <li>If to RoundTrip, at support@RoundTrip.com and/or at the address posted on the Website.</li>
                <li>If to a non-registered User, at the communication and/or email address specified in the application form availing of a RoundTrip Service.</li>
                <li>If to a registered User, at the communication and/or email address specified in the registration form. Notice shall be deemed to have been served 48 hours after it has been sent, dispatched, displayed unless, where notice has been sent by email, it comes to the knowledge of the sending party, that the email address is invalid.</li>
            </ul>

            <p>&nbsp;</p>

            <h6>
                <strong>21. Governing Law</strong><strong>&nbsp;</strong><br />
                &nbsp;
            </h6>

            <p>This agreement and each TOS shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts of Chennai, Tamil Nadu, India</p>

            <p><strong>TERMS AND CONDITIONS FOR PRODUCTS NOT &#39;SERVICED BY ROUNDTRIP&#39;</strong></p>

            <p>These terms of service (hereinafter referred to as &quot;Terms and Conditions&quot;) between RoundTrip.in LLP. (hereinafter referred to as &quot;RoundTrip&quot;) and the users of the Marketplace (hereinafter referred to as &quot;User&quot;) describe, inter alia, the terms of offer for availing services, purchase of services (hereinafter referred to as &quot;Services&quot;) provided by the third-party service provider (hereinafter referred to as &quot;Vendor&quot;).</p>

            <p>PLEASE READ THE TERMS AND CONDITIONS CAREFULLY BEFORE AVAILING ANY SERVICES ON THE MARKETPLACE. ANY SERVICE AVAILED BY THE USER THROUGH THIS MARKETPLACE SHALL SIGNIFY USERS&rsquo; ACCEPTANCE OF THE TERMS &amp; CONDITIONS AND SHALL BE LEGALLY BOUND BY THE SAME.</p>

            <p>IN ADDITION TO THE FOREGOING, USER SHALL ALSO BE BOUND BY ADDITIONAL TERMS OF OFFER FOR SERVICE ISSUED BY THE VENDOR AT THE MARKETPLACE. IF THERE IS ANY CONFLICT BETWEEN THE TERMS &amp; CONDITIONS OF THE MARKETPLACE AND THE ADDITIONAL VENDOR TERMS, THE ADDITIONAL TERMS SHALL TAKE PRECEDENCE IN RELATION TO THAT SERVICE.</p>

            <p>IF THE USER DOES NOT AGREE WITH THE TERMS OF OFFER FOR SERVICE, HE /SHE MAY NOT ACCESS THE MARKETPLACE.</p>

            <h6><strong>1.BUSINESS</strong></h6>

            <p>1.1. This Marketplace is a platform/marketplace that facilitates online booking and purchase of travel packages and other travel related services (&quot;Service/s&quot;) offered by various third-party service providers (&quot;Vendor/s&quot;).</p>

            <p>1.2. Vendors are the service providers for the Services on the Marketplace and are solely responsible to User for the Services sold or for redemption of any travel Voucher purchased by User through the Marketplace. RoundTrip&#39;s deliverable is limited to facilitating the communication between User and the Vendor through this Site, for Services.</p>

            <p>1.3. RoundTrip only routes payments from Customers. RoundTrip does not guarantee payments to Vendors for amounts that have not been successfully received by RoundTrip from Customers.</p>

            <p>1.4. User acknowledges that RoundTrip has the right to change or discontinue any functionality of the Marketplace at any time, without notice. User further acknowledges that RoundTrip may add or modify the procedures, modes, processes, terms and conditions at any time and User shall adapt to changes that RoundTrip may make to the Marketplace. User agrees that RoundTrip shall not be liable to User or to any third party for any modification, suspension or discontinuance of any aspect of the Marketplace.</p>

            <p>
                1.5 User acknowledges that Bookings for flights on our portal are limited as per the timelines specified by the respective Airlines. As a general rule, flight bookings are permitted upto 2 hour before departure for Domestic and 6 hours before departure for International flights.<br />
                &nbsp;
            </p>

            <h6><strong>2. CHARGES &amp; PRICING INFORMATION</strong></h6>

            <p>2.1. RoundTrip does not charge any fee for browsing and booking of Services on the Marketplace. User can create free membership accounts on the Marketplace. Roundtrip may at its sole discretion introduce new services and modify some or all the existing Services offered on the Marketplace.</p>

            <p>2.2. User shall be solely responsible for compliance of all applicable laws including those in India for making payments to RoundTrip.in LLP</p>

            <p>2.3. RoundTrip strives to provide Users through its Vendors best possible prices for the Services enumerated on the Marketplace. However, RoundTrip does not guarantee that the price will be the lowest in the city, region or geography.</p>

            <p>2.4. While RoundTrip endeavours to provide quality Services and accurate pricing information, typographical and other errors may occur. If a Service is listed at an incorrect price or with incorrect information due to an error in pricing or Service information, RoundTrip may, at its discretion, either contact User for instructions or cancel User&rsquo;s booking and notify User of such cancellation.</p>

            <p>2.5. RoundTrip will have the right to rectify the price of the Service and contact User for further instructions via e-mail address provided by User at the time of registration or cancel the booking and notify User of such cancellation. If RoundTrip cancels the order after the payment has been processed, the said amount will be remitted to User&rsquo;s account from which the payment was made.</p>

            <p>2.6. RoundTrip is a facilitator for payment from User to the Vendor and RoundTrip&#39;s obligation to pay the Vendor is conditional upon successful receipt of the associated payments from User. RoundTrip does not guarantee payments to Vendors for amounts that have not been successfully received by RoundTrip from the User.</p>

            <h6><strong>3. PAYMENT OPTIONS</strong></h6>

            <p>&nbsp;</p>

            <p><strong>3.1. Online Card Payments </strong></p>

            <p>3.1.1. Visa, Master and American Express Card payments are processed through an online payment gateway system.</p>

            <p>3.1.2. RoundTrip makes best efforts to fulfil information security requirements and as a Verisign Certified Site, uses the latest 128-bit encryption technology and other sophisticated methods to protect Users credit card information. User can make bookings for desired services using SSL encryption (the Internet standard for secure transactions).</p>

            <p>
                <strong>3.2. Internet Banking</strong><br />
                &nbsp;
            </p>

            <p>3.2.1. If User have an account with any of the below mentioned banks, then User can pay for the desired Services through the respective bank&#39;s net banking options and the amount will be automatically debited from Users account. RoundTrip.com may process payments through third party payment-gateway system</p>

            <p><strong>3.3. Gateway Charges</strong></p>

            <p>
                <br />
                3.3.1. Please note that RoundTrip cannot control any fees that may be charged to User by his/her bank related to such a transaction and RoundTrip disclaims all liability in this regard.
            </p>

            <h6><strong>4. TRANSACTION CONFIRMATION</strong></h6>

            <p>4.1. User should not take any action based on information on the Marketplace until User has received a confirmation of User&rsquo;s transaction. In case of confirmations to be received by email, if User does not receive any confirmation of User&rsquo;s purchase/transaction within the stipulated time, User may first investigate &quot;spam&quot; or &quot;junk&quot; folder to verify that it has not been misdirected, and if still not found, please contact RoundTrip&rsquo;s call centre.</p>

            <p>4.2. The total price payable will be displayed to the User before making payment to the Vendor. Users are hereby informed that in case of a booking request being rejected by a Vendor (i.e. not confirmed by the applicable Vendor), any amounts collected by RoundTrip for such booking will be refunded to the User&rsquo;s Account used for making the payments.</p>

            <p>4.3. As a general rule, RoundTrip will remit the to the Vendor the applicable amount due once RoundTrip receives confirmation of a booking from the applicable Vendor. Total price may instead be collected as part payments, as per Vendor policy.</p>

            <h6><strong>5. AMENDMENT AND CANCELLATION POLICY</strong></h6>

            <p>5.1. All amendments and cancellation of booking shall be as per the notifications/ policy provided by the Vendor and shall be routed through RoundTrip.</p>

            <p>
                5.2. If a Vendor cancels a confirmed booking made via the RoundTrip&rsquo;s Site:<br />
                &nbsp;
            </p>

            <p>5.2.1. RoundTrip will refund the total price paid by the User for such booking to the applicable User within a commercially reasonable time of the cancellation;</p>

            <p>
                &nbsp;5.2.2. If applicable, the User will receive an email or other communication from RoundTrip containing available alternative listings of the earlier previously desired Services as offered by and available with the Vendor;<br />
                &nbsp;
            </p>

            <p>5.2.3. if the User requests booking from one of the enlisted alternatives and the concerned Vendor confirms the User&rsquo;s booking request, in that case the User agrees to pay RoundTrip the differential cost relating to the confirmed booking for the desired Service, in accordance with these Terms.</p>

            <h6><strong>6. REFUND POLICY</strong></h6>

            <p>6.1. In case of no-show or unutilized bookings, User shall be required to make requests for any valid and applicable refunds, as per Vendors&rsquo; policies, within 90 days from the travel date. No refund would be payable for any requests made after the expiry of 90 days of travel date/ check-in as and all unclaimed amounts for such no-show or unutilized bookings shall accordingly be deemed to have been forfeited.</p>

            <p>6.2. The refund shall be processed within 15-20 working days from the date of the cancellation request, after receiving back to back refund from the concerned Vendor. If RoundTrip has received the payment through a valid credit card, then the same will be refunded to User&rsquo;s credit card.</p>

            <p>6.3. In case User avails to book any of the Services offered by the Vendor and is, thereafter, not contactable on the contact details provided, then the tour reservation selected by User will stand cancelled and RoundTrip or the Vendor would not be liable for any charges/expenses incurred by User, either directly or indirectly in this regard.</p>

            <h6><strong>7. PROMOTION CODES</strong></h6>

            <p>7.1. RoundTrip may generate promotion codes from time to time which may be availed on the site as a discount coupon, if applicable.</p>

            <p>7.2. RoundTrip reserves the right to add, alter, modify, withdraw all or any of the Terms and Conditions or replace, wholly or in part, the program by any other program, whether like this program or not or withdraw it altogether without any prior notice.</p>

            <p>7.3. In case of dispute with any party, RoundTrip&#39;s decision will be binding and final.</p>

            <p>7.4. When User registers with RoundTrip, RoundTrip or any of its partners/affiliate/group companies may contact User from time to time to provide the offers/information of such Services that RoundTrip or such other group companies believe may benefit User.</p>

            <h6><strong>8. USERS RESPONSIBILITIES &amp; LIABILITY</strong></h6>

            <p>8.1. General Understanding</p>

            <p>
                8.1.1. User shall be responsible for their own actions in utilizing the Services purchased by User, and RoundTrip shall not be liable for any such action. RoundTrip is only providing a platform for communication and it is agreed that the contract for Service shall be a strictly bipartite contract between the Vendor and User.&nbsp;<br />
                <br />
                8.1.2. User represents that User is of legal age to form a binding contract with RoundTrip and is not a person barred from receiving Services under the laws as applicable in India.&nbsp;<br />
                <br />
                8.1.3. User confirms that RoundTrip shall not be responsible for any deficiency in payment of consideration payable towards the services purchased from the Marketplace.&nbsp;<br />
                <br />
                8.1.4. Any references to a Vendor being &quot;verified&quot; (or similar language) only indicate that the Vendor has completed a reasonable verification process. Any such description is not an endorsement, certification or guarantee by RoundTrip about any Vendor, including of the Vendor&#39;s identity and credibility. RoundTrip therefore recommends that you always exercise due diligence and care when deciding whether to avail services from a Vendor, or while having any other interaction with them.&nbsp;<br />
                <br />
                8.1.5. Upon receiving User&rsquo;s complaint, RoundTrip shall inform the relevant Vendor of such complaint and request for an explanation. Users are required to refrain from raising frivolous and baseless complaints. User expressly acknowledges that the Vendor providing the deficient Service will be solely responsible to User for any claims that User may have in relation to such defective service and RoundTrip shall not in any manner be held liable for the same.&nbsp;<br />
                <br />
                8.1.6. Unless due to User&rsquo;s negligence, in the event the Vendor fails to complete a delivery of any Service, User acknowledges that the Vendor will be liable to make any applicable refunds or payments. User agrees that RoundTrip will not be held liable for failure of the Vendor to make available any Service therein.&nbsp;<br />
                <br />
                <br />
                8.1.7. The User hereby consents, expresses and agrees that he has read and fully understands the Privacy Policy of RoundTrip. The User further consents that the terms and contents of such Privacy Policy are acceptable to him. In general:&nbsp;<br />
                <br />
                <br />
                8.1.7.1. RoundTrip reserves the right always to disclose any information as is necessary to satisfy or comply with any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in RoundTrip&#39;s sole discretion.&nbsp;<br />
                <br />
                <br />
                8.1.7.2. When User registers with RoundTrip, RoundTrip or any of its Vendor/partners/affiliate/group companies may contact User from time to time to provide the offers/information of such services.
            </p>

            <p><strong>8.2. Proprietary Rights</strong></p>

            <p>
                8.2.1. RoundTrip may provide the User with content such as sound, photographs, graphics, video or other material contained in sponsor advertisements or information. This material may be protected by copyrights, trademarks or other intellectual property rights and laws. The User may use this material only as expressly authorized by RoundTrip and shall not copy, transmit or create derivative works of such material without express authorization from RoundTrip.&nbsp;<br />
                <br />
                8.2.2. The User acknowledges and agrees that they shall not upload, post, reproduce or distribute any content on or through the Website/Marketplace that is protected by copyright or other proprietary right of a third party, without obtaining the permission of the owner of such right. Any copyrighted or other proprietary content distributed on or through the Website with the consent of the owner must contain the appropriate copyright or other proprietary rights notice. The unauthorized submission or distribution of copyrighted or other proprietary content is illegal and could subject the User to personal liability or criminal prosecution.
            </p>

            <p>8.3. Limited User</p>

            <p>
                8.3.1. The User agrees and undertakes not to sell, trade or resell or exploit for any commercial purposes, any portion of the Service. For the removal of doubt, it is clarified that Services, including the use of the Website, is not for commercial use but is specifically meant for personal use only.<br />
                <br />
                8.3.2. The User further agrees and undertakes not to reverse engineer, modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Website. Limited reproduction and copying of the content of the Website is permitted provided that the RoundTrip&#39;s name is stated as the source. For the removal of doubt, it is clarified that unlimited or wholesale reproduction, copying of the content for commercial or non-commercial purposes and unwarranted modification of data and information within the content of the Website is not permitted.
            </p>

            <p>8.4. Prohibition Against Unlawful Use</p>

            <p>
                8.4.1. As a condition of the use of the Website, the User warrants that they will not use the Website for any purpose that is unlawful or illegal under any law for the time being in force within or outside India or prohibited by this Agreement including both specific and implied. In addition, the Website shall not be used in any manner, which could damage, disable, overburden or impair it or interfere with any other party&#39;s use and/or enjoyment of the Website. The User shall refrain from obtaining or attempting to obtain any materials or information through any means not intentionally made available or provided for or through the Website.<br />
                <br />
                8.4.2. RoundTrip reserves the right, in its sole discretion, to terminate the access to the website/Marketplace and the related functionalities, or any portion thereof at any time, without notice.
            </p>

            <p>8.5. Suspension/Termination</p>

            <p>
                8.5.1. Without prejudice to the other remedies available to RoundTrip under this agreement, or under applicable law, RoundTrip may limit the User&#39;s activity, or end the User&#39;s listing, warn other Users of the User&#39;s actions, immediately temporarily/indefinitely suspend or terminate the User&#39;s registration, and/or refuse to provide the User with access to the Website if:<br />
                <br />
                the User is in breach of this Agreement and/or the documents it incorporates by reference;<br />
                RoundTrip/Vendor is unable to verify or authenticate any information provided by the User; or<br />
                RoundTrip believes that the User&#39;s actions may infringe on any third party rights or breach any applicable law or otherwise result in any liability for the User, other Users of the website and/or RoundTrip.<br />
                <br />
                8.5.2. RoundTrip may at any time in its sole discretion reinstate suspended Users. Once the User have been suspended the User may not register or attempt to register with RoundTrip or Use the website in any manner whatsoever until such time that the User is reinstated by RoundTrip.&nbsp;<br />
                &nbsp;
            </p>

            <p>8.5.3. Notwithstanding the foregoing, if the User breaches this Agreement or the documents it incorporates by reference, RoundTrip reserves the right to recover any amounts due and owing by the User to RoundTrip and/or the service provider and to take strict legal action as RoundTrip deems necessary.</p>

            <h6><strong>9. INDEMNIFICATION AND LIMITATION OF LIABILITY</strong></h6>

            <p>
                9.1. User agrees to indemnify, defend and hold harmless RoundTrip from and against any and all losses, liabilities, claims, damages, demands, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by RoundTrip that arise out of, result from, or may be payable by virtue of, any breach of any representation, warranty, covenant or Agreement made or obligation to be performed by User pursuant to these Terms and Conditions, or any Additional Terms applicable to availing Services on the Marketplace.<br />
                <br />
                9.2. In no event shall RoundTrip, its officers, directors, employees, partners or vendors be liable to User, the Vendor or any third party for any special, incidental, indirect, consequential or punitive damages whatsoever, including those resulting from loss of use, data or profits, whether or not foreseeable or whether or not RoundTrip has been advised of the possibility of such damages, or based on any theory of liability, including breach of contract or warranty, negligence or other tortious action, or any other claim arising out of or in connection with User&rsquo;s purchase of the services herein.<br />
                <br />
                9.3. RoundTrip shall not assume any liability for the non-availability of the Services where required or any action or inaction that might be taken by the Vendor.
            </p>


            <h6><strong>10. DISCLAIMER</strong></h6>

            <p>
                10.1. ROUNDTRIP DOES NOT CONTROL, ENDORSE OR ACCEPT RESPONSIBILITY FOR ANY SERVICES OFFERED BY THIRD PARTIES/VENDORS ACCESSIBLE THROUGH THE MARKETPLACE OR ANY LINKED SITES. ROUNDTRIP MAKES NO REPRESENTATIONS OR WARRANTIES WHATSOEVER ABOUT, AND SHALL NOT BE LIABLE FOR, THE VENDOR OR ANY SUCH THIRD PARTIES, THEIR SERVICES, INCLUDING REPRESENTATIONS RELATING TO NON-INFRINGEMENT OF THIRD PARTY INTELLECTUAL PROPERTY RIGHTS. ANY TRANSACTIONS THAT USER MAY HAVE WITH SUCH THIRD PARTIES ARE AT USERS OWN RISK. THE SERVICES SHALL BE SUBJECT TO VENDOR&#39;S TERMS AND CONDITIONS FOR WARRANTY, SERVICE AND MAINTENANCE, AND ROUNDTRIP DOES NOT ACCEPT ANY RESPONSIBILITY FOR THE SAME. ROUNDTRIP ALSO DOES NOT ACCEPT ANY RESPONSIBILITY FOR THE SERVICES AVAILED BY USER.&nbsp;<br />
                <br />
                10.2. ROUNDTRIP SPECIFICALLY DISCLAIMS ANY LIABILITY WITH REGARD TO ANY DEFECIENCY OF SERVICE AVAILED BY USER FROM THE VENDOR AND ROUNDTRIP SHALL NOT ASSUME ANY LIABILITY IF THE SERVICE AVAILED BY USER FROM THE VENDOR IS NOT EXACTLY AS PER SPECIFICATIONS DETAILED IN THE BOOKING CONFIRMATION.
            </p>

            <h6><strong>11.GOVERNING LAW</strong></h6>

            <p>
                11.1. These Terms &amp; Conditions and the relationship between User and RoundTrip shall be governed in accordance with the laws of India without reference to conflict of laws principles.<br />
                <br />
                11.2. User agree that all claims, differences and disputes arising under or in connection with or in relation to the Terms &amp; Conditions or any transactions entered on or through the Marketplace or the relationship between User and RoundTrip shall be subject to the exclusive jurisdiction of the courts at Chennai, Tamil Nadu and User hereby accede to and accept the jurisdiction of such courts.<br />
                <br />
                ALL LINKED TERMS AND CONDITIONS HEREUNDER ARE ASSUMED TO BE READ, UNDERSTOOD AND AGREED BY USER.
            </p>
            }
            else
            {
                <h6><strong>Master User Agreement: Acceptance of Terms</strong></h6>
                <h6><strong> Prohibition Against Unlawful Use</strong>&nbsp;</h6>
                 <p>
                    As a condition of the use of the Website, the User warrants that they will not use the Website for any purpose that is unlawful or illegal under any law for the time being in force within or outside India or prohibited by this Agreement and/or the TOS including both specific and implied. In addition, the Website shall not be used in any manner, which could damage, disable, overburden or impair it or interfere with any other party&#39;s use and/or enjoyment of the Website. The User shall refrain from obtaining or attempting to obtain any materials or information through any means not intentionally made available or provided for or through the Website.
                </p>
            }
        </div>
    </div>
</div>